{% extends 'base.html.twig' %}
	{% block scriptAnalyse %}
		<script>
            fbq('track', 'CompleteRegistration');
		</script>
    {% endblock %}
    {% block meta %}<meta name="description" content="Connectez-vous sur la plateforme HelloMyCake pour commander rapidement votre gâteau d'anniversaire, mariage, baptême.">{% endblock %}
    {% block title %}<title>Hello My Cake | Confirmation inscription</title>{% endblock %}
	{% block body %}
		<div class="limiter">
			<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<span class="login100-form-title p-b-49">
						Confirmation
					</span>
                    {% if success_password is defined %}
						<div class="alert alert-success" role="alert">
                            {{ success_password }}
						</div>
                    {% endif %}
					<a class="link-signup" href="{{ path('login') }}">Se connecter</a>
				</div>
			</div>
		</div>
    {% endblock %}