{% extends 'base.html.twig' %}
    {% block title %}<title>Hello My Cake | Mot de passe oublié</title>{% endblock %}

	{% block body %}
		<div class="limiter">
			<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

					<form class="login100-form validate-form" action="{{ path('forgot_password') }}" method="post">
					<span class="login100-form-title p-b-49">
						Mot de passe oublié
					</span>
                        {% if error is defined %}
							<span style="color:red;">{{ error }}</span>
                        {% endif %}
						<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">
							<span class="label-input100">Veuillez renseignez votre email</span>
							<input class="input100" type="email" name="email" placeholder="Votre email">
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>
						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">
									Envoyer
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>


		<div id="dropDownSelect1"></div>

    {% endblock %}