{% extends 'base.html.twig' %}
	{% block body %}
		<div class="limiter">
			<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    {% if error %}
						{#<span>L'identifiant ou le mot de passe est incorrect</span>#}
						<span>{{ error.messageKey }}</span>
                    {% endif %}
					<form class="login100-form validate-form" action="{{ path('login_pastry_chef') }}" method="post">
					<span class="login100-form-title p-b-49">
						Se connecter en tant que pâtissier
					</span>

						<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">
							<span class="label-input100">Email</span>
							<input class="input100" type="text" name="_username" placeholder="Votre email" value="">
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Ce champ est obligatoire">
							<span class="label-input100">Mot de passe</span>
							<input class="input100" type="password" name="_password" placeholder="Votre mot de passe">
							<span class="focus-input100" data-symbol="&#xf190;"></span>
						</div>

						<div class="text-right p-t-8 p-b-31">
							<a href="#">
								Mot de passe oublié ?
							</a>
						</div>
						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">
									Se connecter
								</button>
							</div>
						</div>
                        {#<div class="txt1 text-center p-t-54 p-b-20">#}
                        {#<span>#}
                        {#Or Sign Up Using#}
                        {#</span>#}
                        {#</div>#}

                        {#<div class="flex-c-m">#}
                        {#<a href="#" class="login100-social-item bg1">#}
                        {#<i class="fa fa-facebook"></i>#}
                        {#</a>#}

                        {#<a href="#" class="login100-social-item bg2">#}
                        {#<i class="fa fa-twitter"></i>#}
                        {#</a>#}

                        {#<a href="#" class="login100-social-item bg3">#}
                        {#<i class="fa fa-google"></i>#}
                        {#</a>#}
                        {#</div>#}

                        {#<div class="flex-col-c p-t-155">#}
                        {#<span class="txt1 p-b-17">#}
                        {#Or Sign Up Using#}
                        {#</span>#}

                        {#<a href="#" class="txt2">#}
                        {#Sign Up#}
                        {#</a>#}
                        {#</div>#}
					</form>
				</div>
			</div>
		</div>


		<div id="dropDownSelect1"></div>

    {% endblock %}