{% extends 'base.html.twig' %}
    {% block meta %}<meta name="description" content="Connectez-vous sur la plateforme HelloMyCake pour commander rapidement votre gâteau d'anniversaire, mariage, baptême.">{% endblock %}
    {% block title %}<title>Hello My Cake | Se connecter</title>{% endblock %}
	{% block body %}
		<div class="limiter">
			<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

					<form class="login100-form validate-form" action="{{ path('login') }}" method="post">
					<span class="login100-form-title p-b-49">
						Se connecter
					</span>
                        {% if error is defined and error is not null %}
							<div class="alert alert-danger" role="alert">
								Votre identifiant ou mot de passe est incorrect.
							</div>
                        {% endif %}
                        {% if success_password is defined %}
							<div class="alert alert-success" role="alert">
                                {{ success_password }}
							</div>
                        {% endif %}
						<span class="pastry-question">
							<a href="{{ path('signup') }}">Inscrivez-vous ici</a>
						</span>
						<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">
							<span class="label-input100">Email</span>
							<input class="input100" type="email" name="_username" placeholder="Votre email">
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Ce champ est obligatoire">
							<span class="label-input100">Mot de passe</span>
							<input class="input100" type="password" name="_password" placeholder="Votre mot de passe">
							<span class="focus-input100" data-symbol="&#xf190;"></span>
						</div>

						<div class="text-right p-t-8 p-b-31">
							<a href="{{ path('forgot_password') }}">
								Mot de passe oublié ?
							</a>
						</div>
						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">
									Se connecter
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>


		<div id="dropDownSelect1"></div>

    {% endblock %}