{% extends 'base.html.twig' %}
    {% block meta %}<meta name="description" content="Inscrivez-vous sur la plateforme HelloMyCake pour commander rapidement votre gâteau d'anniversaire, mariage, baptême.">{% endblock %}
    {% block title %}<title>Hello My Cake | Inscription Client</title>{% endblock %}
	{% block body %}
		<div class="limiter">
			<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<form class="login100-form validate-form" action="{{ path('signup_register') }}" method="post">
					<span class="login100-form-title p-b-49">
						Inscription
					</span>

                        {% if error is defined %}
							<div class="alert alert-danger" role="alert">
                                {{ error }}
							</div>
                        {% endif %}

						<span class="pastry-question">
							Vous êtes un pâtissier ? <a href="{{ path('signup_pastry_chef') }}">Cliquez-ici</a>
						</span>
						<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">
							<span class="label-input100">Nom*</span>
							<input class="input100" type="text" name="name" placeholder="Votre nom" required>
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>
						<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">
							<span class="label-input100">Prénom*</span>
							<input class="input100" type="text" name="firstName" placeholder="Votre prénom" required>
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>
						<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">
							<span class="label-input100">Email*</span>
							<input class="input100" type="email" name="email" placeholder="Votre email" required>
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>
						<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">
							<span class="label-input100">Téléphone*</span>
							<input class="input100" type="text" name="phone" placeholder="Votre téléphone portable" required>
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>
						<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">
							<span class="label-input100">Mot de passe*</span>
							<input class="input100" type="password" name="password" placeholder="Votre mot de passe" required>
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>
						<div class="form-check">
							<label class="form-check-label" for="exampleRadios2" style="font-size: 12px; margin-bottom: 10px">
								En cliquant sur s'inscrire, vous acceptez nos <a href="{{ path('cgu') }}">conditions d'utilisation.</a>
							</label>
						</div>

						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">
									S'inscrire
								</button>
							</div>
						</div>

						<div class="txt1 text-center p-t-54 p-b-20">

						</div>

                        {#<div class="flex-c-m">#}
                        {#<a href="#" class="login100-social-item bg1">#}
                        {#<i class="fa fa-facebook"></i>#}
                        {#</a>#}

                        {#<a href="#" class="login100-social-item bg2">#}
                        {#<i class="fa fa-twitter"></i>#}
                        {#</a>#}

                        {#<a href="#" class="login100-social-item bg3">#}
                        {#<i class="fa fa-google"></i>#}
                        {#</a>#}
                        {#</div>#}

                        {#<div class="flex-col-c p-t-155">#}
                        {#<span class="txt1 p-b-17">#}
                        {#Or Sign Up Using#}
                        {#</span>#}

                        {#<a href="#" class="txt2">#}
                        {#Sign Up#}
                        {#</a>#}
                        {#</div>#}
					</form>
				</div>
			</div>
		</div>
		<div id="dropDownSelect1"></div>

    {% endblock %}
{% block javascripts %}
	<script>
        $("#autocompletion").on('input', function() {

            var address_jquery = $("#autocompletion").val();
            if(address_jquery.length >= 2){
                var result = address_jquery.replace(' ', '+');
                $.ajax({
                    url: 'https://api-adresse.data.gouv.fr/search/?q='+result+'&lat=43.297799&lon=5.389836&limit=3',
                    success: function (serverResponse) {
                        serverResponse.features.forEach(function(element) {
                            showAddress(element.properties, element.geometry.coordinates[0], element.geometry.coordinates[1]);
                        });
                    },

                    error: function(xhr, status, error) {
                    }

                });
            }else{
                $('.addresses-signup').hide();
            }
        });

        $('.addresses-signup').on('click','li',function () {
            var value = $(this).find('span:nth-child(2)').text();

            $('#autocompletion').val(value);
            $('input[name=coordonnates]').val($(this).find('span').first().text());
            $('.addresses-signup').hide();

        });

        function showAddress(address, lng, lat){
            $('.addresses-signup').show();
            if($('.addresses-signup ul li').length == 3){
                $('.addresses-signup').html('<ul></ul>');
            }
            $('.addresses-signup ul').append('<li><span>'+lng+'-'+lat+'</span><span>'+address.city+'</span></li>');
        }
	</script>
{% endblock %}