{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <a class="btn btn-primary" href="{{ path('backoffice_pastry_chef_add_cake_form') }}">Ajouter un cake</a>
                    </div>
                    <div class="row">
                        {% for cake in cakes %}
                            {% set link = '' %}
                            {% for image in cake.urlImage %}
                                {% if image['default'] == 1 %}
                                    {% set link = image['url'] %}
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-2" style="height: 250px;">
                                <div class="card">
                                    <div class="card card-user">
                                        <div class="content">
                                            <div class="author">
                                                <a>
                                                    <img class="avatar border-gray" src="{{ asset(link) }}"
                                                         alt="..."/>
                                                    <h4 class="title">{{ cake.name }}<br />
                                                    <h4 class="title">{{ cake.user.raisonSociale }}<br />
                                                    </h4>
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="text-center">
                                            <a href="{{ path('backoffice_pastry_chef_edit_cake_form', {id: cake.id}) }}" class="btn btn-simple"><i class="far fa-edit"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}