{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Nos utilisateurs</h4>
                                </div>
                                <div class="content">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>ID client</th>
                                                <th>Type</th>
                                                <th>Raison Sociale</th>
                                                <th>Nom</th>
                                                <th>Prenom</th>
                                                <th>Adresse</th>
                                                <th>Ville</th>
                                                <th>Email</th>
                                                <th>Telephone</th>
                                                <th>Actif</th>
                                                <th>Supprimé</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                                <tr style="border: 5px">
                                                    <td>{{ user.id }}</td>
                                                    {% if user.type == 1 %}
                                                        <td>Pâtissier</td>
                                                    {% else %}
                                                        <td>Client</td>
                                                    {% endif %}
                                                    {% if user.raisonSociale is null %}
                                                        <td></td>
                                                    {% else %}
                                                        <td>{{ user.raisonSociale }}</td>
                                                    {% endif %}
                                                    <td>{{ user.name }}</td>
                                                    <td>{{ user.firstName }}</td>
                                                    <td>{{ user.address }}</td>
                                                    <td>{{ user.city }}</td>
                                                    <td>{{ user.email }}</td>
                                                    <td>{{ user.phone }}</td>
                                                    {% if user.active == 1 %}
                                                        <td>Activé</td>
                                                    {% else %}
                                                        <td>Désactivé</td>
                                                    {% endif %}
                                                    {% if user.isDel == 1 %}
                                                        <td>Supprimé</td>
                                                    {% else %}
                                                        <td>Non suprimé</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}