<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="{{ asset('img/fav-icon.png') }}" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block title %}<title>Hello My Cake : Vos gâteaux près de chez vous !</title>{% endblock %}

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{{ asset("backoffice/css/bootstrap.min.css") }}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{ asset("backoffice/css/animate.min.css") }}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{ asset("backoffice/css/light-bootstrap-dashboard.css?v=1.4.0") }}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ asset("backoffice/css/demo.css") }}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{ asset("backoffice/css/pe-icon-7-stroke.css") }}" rel="stylesheet" />
    {% block stylesheet %}{% endblock %}
</head>

<body>
{% block body %}{% endblock %}

<!--   Core JS Files   -->
<script src="{{ asset('backoffice/js/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('backoffice/js/bootstrap.min.js') }}" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="{{ asset('backoffice/js/chartist.min.js') }}"></script>

<!--  Notifications Plugin    -->
<script src="{{ asset('backoffice/js/bootstrap-notify.js') }}"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="{{ asset('backoffice/js/light-bootstrap-dashboard.js?v=1.4.0') }}"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="{{ asset('backoffice/js/demo.js') }}"></script>

<script type="text/javascript">
    $(function () {
        if($(window).width() <= 990){
            $('.menu-icon').show();
            $('.menu-icon').css('font-size','40px');
            $('.menu-icon').css('margin-top','10px');
            $('.menu-icon').css('cursor', 'pointer');

            $('.menu-icon-close').show();
            $('.menu-icon-close').css('font-size','40px');
            $('.menu-icon-close').css('margin-top','10px');
            $('.menu-icon-close').css('cursor', 'pointer');

            $('.menu-icon-close').click(function () {
                if($('.menu-icon').hasClass('active')){
                    $('.menu-icon').removeClass('active');
                    $('.navbar-collapse, .sidebar').css('right', '0px');
                }else{
                    $('.menu-icon').addClass('active');
                    $('.navbar-collapse, .sidebar').css('right', '260px');
                }
            })


            $('.menu-icon').click(function () {
                if($(this).hasClass('active')){
                    $(this).removeClass('active');
                    $('.navbar-collapse, .sidebar').css('right', '0px');
                }else{
                    $(this).addClass('active');
                    $('.navbar-collapse, .sidebar').css('right', '260px');
                }
            })
        }
    })
</script>
{% block javaScript %}{% endblock %}

</body>

</html>
