{% extends 'backofficeClient/base.html.twig' %}
{% block body %}
    {% if not is_granted('ROLE_PASTRY_CHEF') %}
        <div class="wrapper">
            {% include 'backofficeClient/inc/sidebar.html.twig' %}
            <div class="main-panel">
                {% include('inc/nav.html.twig') %}
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Modifier le profil</h4>
                                        {% if error != '' %}
                                            {% if error == 1 %}
                                                <div class="alert alert-warning">L'ancien mot de passe est incorrect.</div>
                                            {% elseif error == 2 %}
                                                <div class="alert alert-warning">Le nouveau mot de passe doit contenir au minimum 6 caractères.</div>
                                            {% elseif error == 3 %}
                                                <div class="alert alert-warning">Veuillez ne pas renseigner l'ancien mot de passe si vous ne souhaitez pas le modifier.</div>
                                            {% elseif error == 20 %}
                                                <div class="alert alert-success">La modification a été effectuée.</div>
                                            {% else %}
                                                <div class="alert alert-warning">
                                                    {{ error }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="content">
                                        <form action="{{ path('backoffice_client_edit_profil') }}" method="POST">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Prénom</label>
                                                        <input type="text" class="form-control" name="firstName" placeholder="Prénom" value="{{ app.user.firstName }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Nom</label>
                                                        <input type="text" class="form-control" name="name" placeholder="Nom" value="{{ app.user.name }}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Téléphone</label>
                                                        <input type="text" class="form-control" placeholder="06/07" name="phone" value="{{ app.user.phone }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Changer de mot de passe</label>
                                                    <input type="password" name="old_password" class="form-control" placeholder="Ancien mot de passe" value="">
                                                    <br>
                                                    <input type="password" name="new_password" class="form-control" placeholder="Nouveau mot de passe" value="">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info btn-fill pull-right">Modifier votre profil</button>
                                            <div class="clearfix"></div>
                                            <div>Pour supprimer votre compte, veuillez nous transmettre un mail sur : contact@hellomycake.com</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {#<div class="col-md-4">#}
                            {#<div class="card card-user">#}
                            {#<div class="image">#}
                            {#<img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>#}
                            {#</div>#}
                            {#<div class="content">#}
                            {#<div class="author">#}
                            {#<a href="#">#}
                            {#<img class="avatar border-gray" src="{{ asset('backoffice/img/faces/face-3.jpg') }}" alt="..."/>#}

                            {#<h4 class="title">Mike Andrew<br />#}
                            {#<small>michael24</small>#}
                            {#</h4>#}
                            {#</a>#}
                            {#</div>#}
                            {#<p class="description text-center"> "Lamborghini Mercy <br>#}
                            {#Your chick she so thirsty <br>#}
                            {#I'm in that two seat Lambo"#}
                            {#</p>#}
                            {#</div>#}
                            {#<hr>#}
                            {#<div class="text-center">#}
                            {#<button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>#}
                            {#<button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>#}
                            {#<button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>#}
                            {#</div>#}
                            {#</div>#}
                            {#</div>#}

                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% else %}
        <div><p>Page inaccessible</p></div>
    {% endif %}
{% endblock %}
