{% extends 'backofficeClient/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficeClient/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="d-flex flex-wrap">
                {% for pastry_chef in pastry_chefs %}
                    <div class="col-md-2 client-request-item" style="margin: 20px;height: 800px;">
                        <img src="{{ asset('img/'~pastry_chef.picture) }}" alt="">
                        <div>
                            <h1>Nouvelle demande</h1>
                            <p>Raison sociale <strong>{{ pastry_chef.raisonSociale }}</strong></p>
                            <a class="btn" style="color: white;background-color: #f094b1;border-color: #9968db;" href="{{ path('backoffice_client_client_request_inbox',{'clientRequest':client_request.id, 'pastryChef' : pastry_chef.id}) }}">Ouvrir la conversation</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}