{% extends 'backofficeClient/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficeClient/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="d-flex flex-wrap">
                {% for client_request in clients_request %}
                    <div class="col-md-2 client-request-item" style="margin: 20px;height: 800px;">
                        <img src="{{ asset('img/upload/'~client_request.photo) }}" alt="">
                        <div>
                            <h1>Nouvelle demande</h1>
                            <p style="color: green">Disponible</p>
                            <p>Où vous situez-vous ? <strong>{{ client_request.location }}</strong></p>
                            <p>Pour quelle évènement ? <strong>{{ client_request.event }}</strong></p>
                            <p>Pour combien de personne ? <strong>{{ client_request.numberPerson }}</strong></p>
                            <p>Pour quand ? <strong>{{ client_request.date | date('d-m-Y') }}</strong></p>
                            <p>Date de la demande : <strong>{{ client_request.creationDate | date('d-m-Y') }}</strong></p>
                            {% if client_request.accept == 1 %}
                                <a class="btn" style="color: white;background-color: #f094b1;border-color: #9968db;" href="{{ path('backoffice_client_get_pastry_chef_for_messages',{'clientRequest':client_request.id}) }}">Un pâtissier vous contacte</a>
                            {% else %}
                                <a class="btn" style="cursor: initial">En attente d'acceptation</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}