{% extends 'backofficeClient/base.html.twig' %}
{% block body %}
    {% if not is_granted('ROLE_PASTRY_CHEF') %}
        <div class="wrapper">
            {% include 'backofficeClient/inc/sidebar.html.twig' %}
            <div class="main-panel">
                {% include('inc/nav.html.twig') %}

                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Vos commandes</h4>
                                    </div>
                                    <div class="content">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Code</th>
                                                    <th>Nom</th>
                                                    <th>Prénom</th>
                                                    <th>Email</th>
                                                    <th>Téléphone</th>
                                                    <th>Date de retrait</th>
                                                    <th>Nom du cake</th>
                                                    <th>Prix</th>
                                                    <th>Options</th>
                                                    <th>Total</th>
                                                    <th>Informations complémentaires pour la commande</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for order in orders %}
                                                    <tr style="border: 5px">
                                                        <td>{{ order.orderCake.id }}</td>
                                                        <td style="color: green; font-weight: bold">{{ order.code }}</td>
                                                        <td>{{ order.user.name }}</td>
                                                        <td>{{ order.user.firstName }}</td>
                                                        <td>{{ order.user.email }}</td>
                                                        <td>{{ order.user.phone }}</td>
                                                        <td>{{ order.orderCake.orderDate | date("d/m/Y") }}</td>
                                                        <td>{{ order.orderCake.cake.cake.name }}</td>
                                                        {% if order.orderCake.cake.size is not null %}
                                                            <td>{{ order.orderCake.cake.price }}€ (Quantité : {{ order.orderCake.cake.size.libelle }})</td>
                                                        {% else %}
                                                            <td>{{ order.orderCake.cake.price * order.orderCake.quantity }}€ (Prix unitaire : {{ order.orderCake.cake.price }}€)</td>
                                                        {% endif %}
                                                        <td>
                                                            {% if order.orderCake.colour is not null %}{{ order.orderCake.colour }}€<br>{% endif %}
                                                            {% if order.orderCake.savour is not null %}{{ order.orderCake.savour }}€<br>{% endif %}
                                                            {% if order.orderCake.topping is not null %}{{ order.orderCake.topping }}€<br>{% endif %}
                                                            {% if order.orderCake.supplement is not null %}{{ order.orderCake.supplement }}€<br>{% endif %}
                                                            {% if order.orderCake.candle is not null %}{{ order.orderCake.candle }}€<br>{% endif %}
                                                            {% if order.orderCake.dummyStage is not null %}{{ order.orderCake.dummyStage }}€<br>{% endif %}
                                                            {% if order.orderCake.text is not null %}{{ order.orderCake.text }}€<br>{% endif %}
                                                        </td>
                                                        <td>{{ order.orderCake.total }}€</td>
                                                        {% if order.info is not null %}
                                                            <td>{{ order.info }}</td>
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <div><p>Page inaccessible</p></div>
    {% endif %}
{% endblock %}
