<form method="post" action="{{ path('user_migration_versions_delete', {'version': migration_version.version}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ migration_version.version) }}">
    <button class="btn">Delete</button>
</form>
