{% extends 'base.html.twig' %}

{% block title %}Edit MigrationVersions{% endblock %}

{% block body %}
    <h1>Edit MigrationVersions</h1>

    {{ include('user_migration_versions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_migration_versions_index') }}">back to list</a>

    {{ include('user_migration_versions/_delete_form.html.twig') }}
{% endblock %}
