{% extends 'base.html.twig' %}

{% block title %}MigrationVersions index{% endblock %}

{% block body %}
    <h1>MigrationVersions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Version</th>
                <th>ExecutedAt</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for migration_version in migration_versions %}
            <tr>
                <td>{{ migration_version.version }}</td>
                <td>{{ migration_version.executedAt ? migration_version.executedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ migration_version.name }}</td>
                <td>{{ migration_version.firstname }}</td>
                <td>
                    <a href="{{ path('user_migration_versions_show', {'version': migration_version.version}) }}">show</a>
                    <a href="{{ path('user_migration_versions_edit', {'version': migration_version.version}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_migration_versions_new') }}">Create new</a>
{% endblock %}
