{% extends 'base.html.twig' %}

{% block title %}New MigrationVersions{% endblock %}

{% block body %}
    <h1>Create new MigrationVersions</h1>

    {{ include('user_migration_versions/_form.html.twig') }}

    <a href="{{ path('user_migration_versions_index') }}">back to list</a>
{% endblock %}
