{% extends 'base.html.twig' %}

{% block title %}MigrationVersions{% endblock %}

{% block body %}
    <h1>MigrationVersions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Version</th>
                <td>{{ migration_version.version }}</td>
            </tr>
            <tr>
                <th>ExecutedAt</th>
                <td>{{ migration_version.executedAt ? migration_version.executedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ migration_version.name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ migration_version.firstname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_migration_versions_index') }}">back to list</a>

    <a href="{{ path('user_migration_versions_edit', {'version': migration_version.version}) }}">edit</a>

    {{ include('user_migration_versions/_delete_form.html.twig') }}
{% endblock %}
