@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

.type-patisserie{
    padding: 10px;
    background-color: #c1c0c0;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    width: 160px;
    cursor: pointer;
}

.type-patisserie.active{
    background-color: #fd7e94;
}

.type-prix{
    padding: 10px;
    background-color: #c1c0c0;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    width: 160px;
    cursor: pointer;
}

.type-prix.active{
    background-color: #fd7e94;
}

.card-user .author {
    margin-top: initial !important;
}

.card-user .author h4 {
    font-size: 14px;
}

.card-user .avatar {
    width: 70px !important;
    height: 70px !important;
}

.block-options{
    width: 300px;
    height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}

/* Switch 1 Specific Styles Start */

input[type="checkbox"].switch_1{
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1.modal-cake-unit-price-input{
    font-size: 15px;
    display: block;
    margin: 0;
    margin-bottom: 14px;
}

input[type="checkbox"].switch_2 {
    font-size: 10px;
}

input[type="checkbox"].switch_1:checked{
    background: #9867da;
}

input[type="checkbox"].switch_1:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
    left: calc(100% - 1.5em);
}

.sp-replacer{
    width: 5rem !important;
    height: 2.5rem !important;
}

.fas.fa-edit{
    cursor: pointer;
    color: #9866DA;
}

.fas.fa-plus{
    cursor: pointer;
    color: #61C2D2;
}

.addresses-signup{
    display: none;
    border: 3px solid #b9b9b9;
}

.addresses-signup ul{
    padding: 0;
}

.addresses-signup li{
    padding: 20px;
    list-style: none;
}

.addresses li span:nth-child(1){
    display: none;
}

.addresses li:hover{
    background-color: #f7e4ea;
    cursor: pointer;
}

.addresses-signup li span:nth-child(1){
    display: none;
}

.addresses-signup li:hover{
    background-color: #f7e4ea;
    cursor: pointer;
}

.client-request-item h1{
    font-size: 28px;
}

.client-request-item p{
    font-size: 15px;
}

#inbox{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#inbox #message{
    height: 50px;
    border: 2px solid #ff7790;
    border-radius: 10px;
    padding: 10px;
}

#inbox #display-message{
    height: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 27px #d4cdcd;
    position: relative;
    padding: 0 20px;
}

#inbox #display-message #messages{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 95%;
    width: 100%;
}

#inbox #display-message #messages #block-messages{
    width: 70%;
    max-height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#inbox #display-message #messages #block-messages > p{
    text-align: right;
    background-color: #ff7790;
    color: white;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    border-radius: 13px;
    font-weight: bold;
    font-size: 15px;
}

#inbox #display-message #messages #block-messages > span{
    font-size: 12px;
    font-weight: bold;
    margin: 0 20px;
    margin-bottom: 5px;
}


#inbox #display-message #messages #block-client-request{
    width: 30%;
    height: 100%;
    text-align: center;
}

#inbox #display-message #messages #block-client-request h1{
    font-size: 20px;
}

#inbox #display-message #messages #block-client-request p{
    margin: 0;
    font-size: 14px;
}

#inbox #input-option-message{
    text-align: center;
    margin-bottom: 20px;
}

#inbox #input-option-message #form-send-message{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

#inbox #input-option-message #form-send-message > .form-group:first-child{
    width: 80%;
}

button#send-message {
    height: 50px;
}

#price-proposition .btn{
    color: white;
    background-color: #ff7790;
    border: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
}

#pastry-proposal{
    background-color: #ff7790;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}

#pastry-proposal.waiting{
    background-color: #eab74d;
}

#pastry-proposal.refuse{
    background-color: #ff7777;
}

#pastry-proposal.validate{
    background-color: #42c68a;
}

.dashboard-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-row-button{
    justify-content: space-around !important;
}

.dashboard-row-button a{
    width: 200px;
}

.dashboard-block{
    background-color: #f096b2;
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    width: 240px;
}

.dashboard-block p{
    font-size: 40px;
    font-weight: bold;
}

.modal-cake-management{
    overflow-y: auto;
}

.modal-cake-management img{
    width: 50%;
}

.modal-cake-management textarea{
    resize: none;
}

.modal-cake-management .modal-body-presentation{
    text-align: center;
}

.modal-cake-management .modal-body-presentation img{
    width: 20%;
}

.modal-cake-management .modal-body-presentation strong{
    color: #EF95B1;
}

.modal-cake-management .modal-body-presentation h1{
    color: #EF95B1;
}
.modal-cake-management .modal-body-presentation h2{
    color: #EF95B1;
}
.modal-cake-management .modal-body-presentation h3{
    color: #EF95B1;
}

.modal-cake-management .modal-body-type-gateau{
    display: flex;
    justify-content: space-around;
}

.modal-cake-management .modal-body-type-gateau .type-gateau-modal{
    text-align: center;
    border: 4px solid #5CB1C0;
    box-shadow: 3px 2px 10px #d7d2d2;
    border-radius: 5px;
    padding: 40px;
    margin: 10px;
    cursor: pointer;
}

.modal-cake-management .modal-body-type-gateau .type-gateau-modal p{
    font-size: 35px;
    color: #F195B2;
}

.form-group .col-form-label:after {
    content:"*";
    color:red;
}

.image-preview{
    width: 50% !important;
    margin: 0 auto;
    margin-top: 20px;
}

.block-img-cake-management{
    display: flex;
    justify-content: space-between;
}

.selectMultiple {
    width: 90%;
    position: relative;
}
.selectMultiple select {
    display: none;
}
.selectMultiple > div {
    position: relative;
    z-index: 2;
    padding: 8px 12px 2px 12px;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    min-height: 44px;
    box-shadow: 0 4px 16px 0 rgba(22, 42, 90, 0.12);
    transition: box-shadow 0.3s ease;
}
.selectMultiple > div:hover {
    box-shadow: 0 4px 24px -1px rgba(22, 42, 90, 0.16);
}
.selectMultiple > div .arrow {
    right: 1px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 28px;
    position: absolute;
}
.selectMultiple > div .arrow:before, .selectMultiple > div .arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-bottom: 8px solid #99a3ba;
    top: 43%;
    transition: all 0.3s ease;
}
.selectMultiple > div .arrow:before {
    right: 12px;
    transform: rotate(-130deg);
}
.selectMultiple > div .arrow:after {
    left: 9px;
    transform: rotate(130deg);
}
.selectMultiple > div span {
    color: #99a3ba;
    display: block;
    position: absolute;
    left: 12px;
    cursor: pointer;
    top: 8px;
    line-height: 28px;
    transition: all 0.3s ease;
}
.selectMultiple > div span.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate(-4px, 0);
}
.selectMultiple > div a {
    position: relative;
    padding: 0 24px 6px 8px;
    line-height: 28px;
    color: #1e2330;
    display: inline-block;
    vertical-align: top;
    margin: 0 6px 0 0;
}
.selectMultiple > div a em {
    font-style: normal;
    display: block;
    white-space: nowrap;
}
.selectMultiple > div a:before {
    content: "";
    left: 0;
    top: 0;
    bottom: 6px;
    width: 100%;
    position: absolute;
    display: block;
    background: rgba(228, 236, 250, 0.7);
    z-index: -1;
    border-radius: 4px;
}
.selectMultiple > div a i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 28px;
    display: block;
}
.selectMultiple > div a i:before, .selectMultiple > div a i:after {
    content: "";
    display: block;
    width: 2px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #4d18ff;
    border-radius: 1px;
}
.selectMultiple > div a i:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.selectMultiple > div a i:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.selectMultiple > div a.notShown {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.selectMultiple > div a.notShown:before {
    width: 28px;
    transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}
.selectMultiple > div a.notShown i {
    opacity: 0;
    transition: all 0.3s ease 0.3s;
}
.selectMultiple > div a.notShown em {
    opacity: 0;
    transform: translate(-6px, 0);
    transition: all 0.4s ease 0.3s;
}
.selectMultiple > div a.notShown.shown {
    opacity: 1;
}
.selectMultiple > div a.notShown.shown:before {
    width: 100%;
}
.selectMultiple > div a.notShown.shown i {
    opacity: 1;
}
.selectMultiple > div a.notShown.shown em {
    opacity: 1;
    transform: translate(0, 0);
}
.selectMultiple > div a.remove:before {
    width: 28px;
    transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}
.selectMultiple > div a.remove i {
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.selectMultiple > div a.remove em {
    opacity: 0;
    transform: translate(-12px, 0);
    transition: all 0.4s ease 0s;
}
.selectMultiple > div a.remove.disappear {
    opacity: 0;
    transition: opacity 0.5s ease 0s;
}
.selectMultiple > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    transform: translate(0, 20px) scale(0.8);
    transform-origin: 0 0;
    filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
    transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
}
.selectMultiple > ul li {
    color: #1e2330;
    background: #fff;
    padding: 12px 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s, opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
}
.selectMultiple > ul li:first-child {
    border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li:first-child:last-child {
    border-radius: 8px;
}
.selectMultiple > ul li:last-child {
    border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li:last-child:first-child {
    border-radius: 8px;
}
.selectMultiple > ul li:hover {
    background: #4d18ff;
    color: #fff;
}
.selectMultiple > ul li:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%, -50%);
    transform-origin: 50% 50%;
}
.selectMultiple > ul li.beforeRemove {
    border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li.beforeRemove:first-child {
    border-radius: 8px;
}
.selectMultiple > ul li.afterRemove {
    border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li.afterRemove:last-child {
    border-radius: 8px;
}
.selectMultiple > ul li.remove {
    transform: scale(0);
    opacity: 0;
}
.selectMultiple > ul li.remove:after {
    -webkit-animation: ripple 0.4s ease-out;
    animation: ripple 0.4s ease-out;
}
.selectMultiple > ul li.notShown {
    display: none;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.35s ease, opacity 0.4s ease;
}
.selectMultiple > ul li.notShown.show {
    transform: scale(1);
    opacity: 1;
}
.selectMultiple.open > div {
    box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
}
.selectMultiple.open > div .arrow:before {
    transform: rotate(-50deg);
}
.selectMultiple.open > div .arrow:after {
    transform: rotate(50deg);
}
.selectMultiple.open > ul {
    transform: translate(0, 12px) scale(1);
    opacity: 1;
    visibility: visible;
    filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
}

#block-summary-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#block-summary-link .summary-link.next-button.step-message {
    display: block;
    margin: 5px;
}

#prices{
    display: flex;
    flex-wrap: wrap;
}

#prices .price{
    border: 2px solid pink;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


/* Switch 1 Specific Style End */

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}
