<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <i class="pe-7s-close menu-icon-close" style="display: none;"></i>
        <div class="logo">
            <a class="simple-text" href="{{ path('home') }}">
                <img src="{{ asset('img/logo-new.png') }}" alt="" width="160">
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="{{ path('backoffice_client_edit_profil') }}">
                    <i class="pe-7s-user"></i>
                    <p>Mon profil</p>
                </a>
            </li>
            <li>
                <a href="{{ path('client_request_information') }}">
                    <i class="pe-7s-plus"></i>
                    <p>Faire une demande</p>
                </a>
            </li>
            <li>
                <a href="{{ path('backoffice_client_client_request') }}">
                    <i class="pe-7s-clock"></i>
                    <p>Mes demandes</p>
                </a>
            </li>
            <li>
                <a href="{{ path('backoffice_client_show_order') }}">
                    <i class="pe-7s-note2"></i>
                    <p>Gestion des commandes</p>
                </a>
            </li>
        </ul>
    </div>
</div>