{% if cake is defined %}
    <div class="modal fade modal-cake-management" id="modal-cake-summary" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Le sommaire</h5>
                </div>
                <div class="modal-body">
                    <p style="color: #EF95B1"><strong>Cliquez sur l'étape que vous souhaitez modifier</strong></p>
                    <p class="alert alert-danger modal-cake-title-erreur" style="display: none">Tout doit être renseigné pour passer à l'étape suivante</p>
                    <div class="form-group">
                        <div id="block-summary-link">
                            <p next-step="#modal-cake-title" current-step="#modal-cake-summary" class="summary-link next-button step-message btn btn-primary">Le titre</p>
                            <p next-step="#modal-cake-description" current-step="#modal-cake-summary" class="summary-link next-button step-message btn btn-primary">La description</p>
                            <p next-step="#modal-cake-specialite" current-step="#modal-cake-summary" class="summary-link next-button step-message btn btn-primary">La spécialité</p>
                            <p next-step="#modal-cake-type" current-step="#modal-cake-summary" class="summary-link next-button step-message btn btn-primary">Le type de gâteau</p>
                            <p next-step="#modal-cake-price-presentation" current-step="#modal-cake-summary" class="summary-link next-button step-message btn btn-primary">La gestion tarifaire</p>
                            <p next-step="#modal-cake-duration" current-step="#modal-cake-summary" class="summary-link next-button step-message btn btn-primary">Le temps de préparation</p>
                            <p next-step="#modal-cake-allergy" current-step="#modal-cake-summary" class="summary-link next-button step-message btn btn-primary">Les allergènes</p>
                            <p next-step="#modal-cake-categorie" current-step="#modal-cake-summary" class="summary-link next-button step-message btn btn-primary">Les catégories</p>
                            <p next-step="#modal-cake-photo" current-step="#modal-cake-summary" class="summary-link next-button step-message btn btn-primary">Les photos</p>
                            <a href="{{ path('backoffice_pastry_show_option', {id: cake.id} ) }}" class="summary-link btn btn-danger">Options personnalisées</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="modal fade modal-cake-management" id="modal-cake-title" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Le titre</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Pour rappel</strong> : Le titre est l'un des premiers éléments que le client verra ! Donnez lui le goût à la bouche !</p>
                <p class="alert alert-danger modal-cake-title-erreur" style="display: none">Tout doit être renseigné pour passer à l'étape suivante</p>
                <div class="form-group">
                    <label class="col-form-label">Votre titre :</label>
                    <input type="text" value="{% if cake is defined %}{{ cake.name }}{% endif %}" name="name" class="form-control modal-cake-title-input" required="required" placeholder="Fraisier Disney, Cake design Hulk">
                </div>
                <img src="{{ asset('img/backoffice/ajouttitre.png') }}">
            </div>
            <div class="modal-footer">
                {% if cake is defined %}
                    <a href="#" previous-step="#modal-cake-summary" current-step="#modal-cake-title" class="btn btn-secondary previous-button">Étape précédente</a>
                {% endif %}
                <a href="#" next-step="#modal-cake-description" current-step="#modal-cake-title" class="btn btn-primary next-button">Étape suivante</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-description" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">La description</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Pour rappel</strong> : Rien de mieux que la description pour apporter un maximum d'information à votre client.</p>
                <p style="color: #EF95B1">Le client n'aura pas le gâteau entre les mains donc n'hésitez pas à préciser les informations sur les nappages disponibles, saveur, type de pâtes etc...</p>
                <p style="color: #EF95B1">Elle doit être bien écrite, précise et donner le maximum d'information possible.</p>
                <p style="color: #EF95B1"><strong>IMPORTANT ! </strong> La description peut prendre du temps à être écrite. Conservez la soigneusement afin de ne pas la perdre en cas d'annulation.</p>
                <p class="alert alert-danger modal-cake-description-erreur" style="display: none">Tout doit être renseigné pour passer à l'étape suivante</p>
                <div class="form-group">
                    <label class="col-form-label">Votre description :</label>
                    <textarea rows="4" class="form-control modal-cake-description-input" name="description" required="required" placeholder="Votre petite fille aime la fiancée de Mickey, elle connaît donc les séries et les dessins animés qui lui viennent à l'esprit par coeur. Ce gâteau d'anniversaire personnalisé Minnie est disponible en rouge vif ou fuchsia, avec un motif à pois emblématique et les oreilles sont couvertes de points et de nœuds de sirop, mettant en évidence le nom de votre enfant.">{% if cake is defined %}{{ cake.description }}{% endif %}</textarea>
                </div>
                <img src="{{ asset('img/backoffice/ajoutdescription.png') }}">
            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-title" current-step="#modal-cake-description" class="btn btn-secondary previous-button">Étape précédente</a>
                <a href="#" next-step="#modal-cake-specialite" current-step="#modal-cake-description" class="btn btn-primary next-button">Étape suivante</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-specialite" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">La spécialité</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Pour rappel</strong> : Vos spécialités sont paramétrables sur votre 'gestion de profil'</p>
                <div class="form-group">
                    <label class="col-form-label">La spécialité du gâteau :</label>
                    <select name="speciality" class="modal-cake-specialite-input" data-title="La spécialité du gâteau : ">
                        {% if cake is defined %}
                            <option value="{{ cake.speciality.id }}">{{ cake.speciality.libelle }}</option>
                            {% for speciality in specialities %}
                                {% if cake.speciality.id != speciality.speciality.id %}
                                    <option value="{{ speciality.speciality.id }}">{{ speciality.speciality.libelle }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for speciality in specialities %}
                                <option value="{{ speciality.speciality.id }}">{{ speciality.speciality.libelle }}</option>
                            {% endfor %}
                        {% endif %}

                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-description" current-step="#modal-cake-specialite" class="btn btn-secondary previous-button">Étape précédente</a>
                <a href="#" next-step="#modal-cake-type" current-step="#modal-cake-specialite" class="btn btn-primary next-button">Étape suivante</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-type" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Le type du gâteau</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Exemple de gros gâteau</strong> : Gâteau d'anniversaire, gâteau de mariage, gâteau composé de parts</p>
                <p style="color: #EF95B1"><strong>Exemple de petit gâteau</strong> : Cupcake, gâteau de table, gâteau vendu par pièce</p>
                <p class="alert alert-danger modal-cake-type-erreur" style="display: none">Veuillez choisir l'un des types de gâteau pour poursuivre</p>
                <div class="modal-body-type-gateau">
                    <div class="type-gateau-modal modal-cake-type-border">
                        <p>Gros gâteau</p>
                        <img src="{{ asset('img/backoffice/grosgateau.png') }}" alt="gros gateau">
                        <label for="" style="display: none">Petit gâteau ou Gros gâteau ?</label>
                        <input type="radio" name="type_patisserie" class="modal-cake-type-input" value="1" {% if cake is defined and cake.typePatisserie == 1 %}checked{% endif %} required input-val="Gros gâteau">
                    </div>
                    <div class="type-gateau-modal modal-cake-type-border">
                        <p>Petit gâteau</p>
                        <img src="{{ asset('img/backoffice/petitgateau.png') }}" alt="petit gateau">
                        <label for="" style="display: none">Petit gâteau ou Gros gâteau ?</label>
                        <input type="radio" name="type_patisserie" class="modal-cake-type-input" value="2" {% if cake is defined and cake.typePatisserie == 2 %}checked{% endif %} required input-val="Gros gâteau">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-specialite" current-step="#modal-cake-type" class="btn btn-secondary previous-button">Étape précédente</a>
                <a href="#" next-step="#modal-cake-price-presentation" current-step="#modal-cake-type" class="btn btn-primary next-button">Étape suivante</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-price-presentation" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestion des tarifs</h5>
            </div>
            <div class="modal-body modal-body-presentation">
                <img src="/hello-my-cake/public/img/logo-new.png" alt="">
                <h1>Gestion des tarifs</h1>
                <h2><strong>Étape très importante</strong></h2>
                <p>Comme vous le savez, il y a plusieurs moyens d'affecter un prix à un gâteau.</p>
                <p>Sur Hello My Cake, vous pouvez gérer vos prix <strong>par part, par pièce, au gâteau entier ou à un ensemble de petit gâteau.</strong></p>
                <h2>Vous avez donc 2 choix : </h2>
                <h3><strong>1 - </strong>Gestion unitaire (Par part, par pièce)</h3>
                <p>Exemple : Je vend un gâteau à 5€ la part. Je vend un cupcake à 4€ la pièce.</p>
                <p>Dans ce cas, le client devra choisir une <strong>quantité</strong> donc vous devez définir un <strong>minimum</strong> et un <strong>maximum</strong> pour éviter de recevoir une commande à 1 ou 1000 cupcakes ^^</p>
                <p><strong>Facile non ?</strong></p>
                <h3><strong>2 - </strong>Gestion par groupe (Prix total du gâteau, prix d'un ensemble de petit gâteau)</h3>
                <p>Exemple : Je vend un gâteau à 30€ pour 10 part. Je vend un pack de 10 cupcakes à 30€</p>
                <p>Dans ce cas, le client devra choisir la quantité qu'il souhaite en fonction de ce que vous avez configuré.</p>
                <p>Vous pourrais définir plusieurs prix pour un seul et même gâteau.</p>
                <p><strong>Facile non ?</strong></p>
                <a href="{{ path('backoffice_pastry_add_cake_management') }}" next-step="#modal-cake-price" current-step="#modal-cake-price-presentation" class="btn btn-primary next-button step-message">J'ai compris !</a>
            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-type" current-step="#modal-cake-price-presentation" class="btn btn-secondary previous-button">Étape précédente</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-price" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Le type de prix</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>L'explication a été défini dans l'étape précédente. Si vous avez des questions, n'hésitez pas à nous contacter par mail : contact@hellomycake.com</strong></p>
                <p class="alert alert-danger modal-cake-price-erreur" style="display: none">Veuillez choisir l'un des types de prix pour poursuivre</p>
                <div class="modal-body-type-gateau">
                    <div class="type-gateau-modal modal-cake-price-border choice-management" data-target="#modal-cake-unit-price">
                        <p>Gestion unitaire</p>
                        <img src="{{ asset('img/backoffice/gestionunitaire.png') }}" alt="gestion unitaire">
                        <label for="" style="display: none">Gestion des prix unitaire ou par groupe ?</label>
                        <input type="radio" name="type_prix" class="modal-cake-price-input" value="1" {% if cake is defined and cake.typePrix == 1 %}checked{% endif %} required input-val="Gestion unitaire">
                    </div>
                    <div class="type-gateau-modal modal-cake-price-border choice-management" data-target="#modal-cake-group-price">
                        <p>Gestion par groupe</p>
                        <img src="{{ asset('img/backoffice/gestionpargroupe.png') }}" alt="gestion par groupe">
                        <label for="" style="display: none">Gestion des prix unitaire ou par groupe ?</label>
                        <input type="radio" name="type_prix" class="modal-cake-price-input" value="2" {% if cake is defined and cake.typePrix == 2 %}checked{% endif %} required input-val="Gestion par groupe">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-price-presentation" current-step="#modal-cake-price" class="btn btn-secondary previous-button">Étape précédente</a>
                <a href="#" next-step="#modal-cake-group-price" current-step="#modal-cake-price" class="btn btn-primary next-button">Étape suivante</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-unit-price" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestion de prix unitaire</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Pour rappel</strong> : Vous devez obligatoirement renseigner un minimum et maximum de gâteau que l'on peut commander en une seule fois.</p>
                <p class="alert alert-danger modal-cake-unit-price-erreur" style="display: none">Tout doit être renseigné pour passer à l'étape suivante</p>
                {% set price_unit = '' %}
                {% set quantity_min = '' %}
                {% set quantity_max = '' %}
                {% set quantity_odd_even_quantity = '' %}
                {% if prices is defined %}
                    {% for price in prices %}
                        {% if price.quantity == 0 %}
                            {% set price_unit = price.price %}
                            {% set quantity_min = price.quantityMin %}
                            {% set quantity_max = price.quantityMax %}
                            {% set quantity_odd_even_quantity = price.oddEvenQuantity %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label class="col-form-label">Le client peut commander au minimum : </label>
                    <input type="number" name="quantity_min" class="form-control modal-cake-unit-price-input" value="{{ quantity_min }}" required placeholder="5"> pièces ou parts
                </div>
                <div class="form-group">
                    <label class="col-form-label">Le client peut commander au maximum : </label>
                    <input type="number" name="quantity_max" class="form-control modal-cake-unit-price-input" value="{{ quantity_max }}" required placeholder="30"> pièces ou parts
                </div>
                <div class="form-check">
                    <label class="col-form-label">La sélection se fera en nombre pair</label>
                    <input type="checkbox" name="part_odd_even" class="form-check-input modal-cake-unit-price-input switch_1" value="1" {% if quantity_odd_even_quantity %}checked{% endif%} required>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Le prix unitaire est de : </label>
                    <input type="number" name="price_unit" data-type="price" class="form-control modal-cake-unit-price-input" value="{{ price_unit }}" required placeholder="5">€ la pièce ou la part
                </div>
                <img src="{{ asset('img/backoffice/ajoutgestionprixunitaire.png') }}">
            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-price" current-step="#modal-cake-unit-price" class="btn btn-secondary previous-button">Étape précédente</a>
                <a href="#" next-step="#modal-cake-duration" current-step="#modal-cake-unit-price" class="btn btn-primary next-button">Étape suivante</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-group-price" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestion de prix groupé</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Pour rappel</strong> : Vous devez renseigner au minimum un prix</p>
                <p class="alert alert-danger modal-cake-group-price-erreur" style="display: none">Tout doit être renseigné pour passer à l'étape suivante</p>
                {% if cake is not defined %}
                    <div class="form-group">
                        <label class="col-form-label">Le gâteau possède combien de part ? OU La box contient combien de pièce ?</label>
                        <input type="number" name="quantity" class="form-control modal-cake-group-price-input" required placeholder="10"> parts ou pièces
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Le prix du gâteau ou de la box ? </label>
                        <input name="price_group" type="number" data-type="price" class="form-control modal-cake-group-price-input" required placeholder="30">€ le gâteau ou la box
                    </div>
                    <img src="{{ asset('img/backoffice/ajoutgestionprixunitaire.png') }}">
                {% else %}
                    <p id="add-price" class="btn btn-primary" style="font-size: 12px; cursor: pointer; color: deeppink" data-toggle="modal" data-target="#add-price-modal">Ajouter un prix</p>
                    <div id="prices">
                        {% for price in prices %}
                            {% if price.quantity != 0 %}
                                <div class="price price-{{ price.id }}">
                                    <span>{{ price.quantity }} {% if cake.typePatisserie == 2 %}pièces{% else %}parts{% endif %} à {{ price.price }}€</span>
                                    <p class="remove-price" style="font-size: 12px; cursor: pointer; color: deeppink" data-toggle="modal" data-target="#remove-price-modal-{{ price.id }}">Supprimer le prix</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-price" current-step="#modal-cake-group-price" class="btn btn-secondary previous-button">Étape précédente</a>
                <a href="#" next-step="#modal-cake-duration" current-step="#modal-cake-group-price" class="btn btn-primary next-button">Étape suivante</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-duration" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Le temps de préparation</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Pour rappel</strong> : Sauf pour des cas exceptionnels, nous imaginons qu'un client ne peut pas commander un gateau pour le jour même.</p>
                <p>Il est donc important de gérer vos disponibilité mais également <strong>les disponibilités pour chaque gâteau individuellement !</strong></p>
                <p>Dans cette étape, veuillez renseigner le temps que prendra la préparation du gâteau afin que Hello My Cake puisse proposer une date minimum lors de la commande du gâteau !</p>
                <div class="form-group">
                    <label for="exampleInputEmail1">Temps de préparation en jour/semaine : </label>
                    <select name="duration" id="duration" class="modal-cake-duration-input" data-title="Temps de préparation : ">
                        {% if cake is defined %}
                            <option value="{{ cake.duration }}">{{ cake.duration }}</option>
                            {% for i in 1..7 %}
                                {% if i != cake.duration %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in 1..7 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        {% endif %}

                    </select>
                    <select name="day_week" id="day-week" class="modal-cake-duration-input" data-title="Jour(s) ou semaine(s) ?">
                        <option {% if cake is defined and cake.dayWeek == 'jour' %}selected{% endif %} value="jour">Jour(s)</option>
                        <option {% if cake is defined and cake.dayWeek == 'semaine' %}selected{% endif %}  value="semaine">Semaine(s)</option>
                    </select>
                </div>
                <img src="{{ asset('img/calendar-pastry.png') }}">
            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-unit-price" current-step="#modal-cake-duration" class="btn btn-secondary previous-button">Étape précédente</a>
                <a href="#" next-step="#modal-cake-allergy" current-step="#modal-cake-duration" class="btn btn-primary next-button">Étape suivante</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-allergy" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Les allergies</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Pour rappel</strong> : Selon les chiffres de l'Agence nationale de la sécurité sanitaire de l'alimentation, de l'environnement et du travail (Anses), 3,5% des adultes et 8% des enfants présentent des allergies alimentaires.</p>
                <p class="alert alert-danger modal-cake-title-erreur" style="display: none">Tout doit être renseigné pour passer à l'étape suivante</p>
                <div class="form-group">
                    <label class="col-form-label">Votre gâteau présente t-il des allèrgènes ?</label>
                    <select class="select select1 modal-cake-allergy-input form-control" data-name="allergy" multiple data-title="Allèrgène : ">
                        <option value="L’arachide" {% if cake is defined and "L’arachide" in cake.allergy %}selected{% endif %}>L’arachide</option>
                        <option value="Le soja" {% if cake is defined and "Le soja" in cake.allergy %}selected{% endif %}>Le soja</option>
                        <option value="Les céréales" {% if cake is defined and "Les céréales" in cake.allergy %}selected{% endif %}>Les céréales</option>
                        <option value="Les œufs" {% if cake is defined and "Les œufs" in cake.allergy %}selected{% endif %}>Les œufs</option>
                        <option value="Les fruits à coque" {% if cake is defined and "Les fruits à coque" in cake.allergy %}selected{% endif %}>Les fruits à coque</option>
                        <option value="Les poissons" {% if cake is defined and "Les poissons" in cake.allergy %}selected{% endif %}>Les poissons</option>
                        <option value="Les crustacés" {% if cake is defined and "Les crustacés" in cake.allergy %}selected{% endif %}>Les crustacés</option>
                        <option value="Le lait" {% if cake is defined and "Le lait" in cake.allergy %}selected{% endif %}>Le lait</option>
                        <option value="Le sésame" {% if cake is defined and "Le sésame" in cake.allergy %}selected{% endif %}>Le sésame</option>
                        <option value="Le céleri" {% if cake is defined and "Le céleri" in cake.allergy %}selected{% endif %}>Le céleri</option>
                        <option value="La moutarde" {% if cake is defined and "La moutarde" in cake.allergy %}selected{% endif %}>La moutarde</option>
                        <option value="Les sulfites" {% if cake is defined and "Les sulfites" in cake.allergy %}selected{% endif %}>Les sulfites</option>
                        <option value="Le lupin" {% if cake is defined and "Le lupin" in cake.allergy %}selected{% endif %}>Le lupin</option>
                    </select>
                    <input type="hidden" name="allergy">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-duration" current-step="#modal-cake-allergy" class="btn btn-secondary previous-button">Étape précédente</a>
                <a href="#" next-step="#modal-cake-categorie" current-step="#modal-cake-allergy" class="btn btn-primary next-button">Étape suivante</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-categorie" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Les catégories</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Pour rappel</strong> : De nombreux clients sont à la recherche de pâtisserie se trouvant dans une catégorie spécifiques</p>
                <p class="alert alert-danger modal-cake-title-erreur" style="display: none">Tout doit être renseigné pour passer à l'étape suivante</p>
                <div class="form-group">
                    <label class="col-form-label">Votre gâteau appartient-il à une ou plusieurs catégories ?</label>
                    <select class="select select2 modal-cake-categorie-input form-control" data-name="categorie" multiple data-title="Catégorie : ">
                        <option value="Sans gluten" {% if cake is defined and "Sans gluten" in cake.categorie %}selected{% endif %}>Sans gluten</option>
                        <option value="Sans lactose" {% if cake is defined and "Sans lactose" in cake.categorie %}selected{% endif %}>Sans lactose</option>
                        <option value="Végétale" {% if cake is defined and "Végétale" in cake.categorie %}selected{% endif %}>Végétale</option>
                    </select>
                    <input type="hidden" name="categorie">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-allergy" current-step="#modal-cake-categorie" class="btn btn-secondary previous-button">Étape précédente</a>
                <a href="#" next-step="#modal-cake-photo" current-step="#modal-cake-categorie" class="btn btn-primary next-button">Étape suivante</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-cake-management" id="modal-cake-photo" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attention, 1, 2 3 !</h5>
            </div>
            <div class="modal-body">
                <p style="color: #EF95B1"><strong>Petit rappel</strong> : La photo, que dire, c'est l'étape la plus <strong>IMPORTANTE !!</strong></p>
                <p>Faites saliver vos clients. Éblouissez-les ! Il faut que les photos soient d'une qualité irréprochable !</p>
                <p class="alert alert-danger modal-cake-photo-erreur" style="display: none">Veuillez sélectionner une photo pour terminer</p>
                <p class="alert alert-success modal-cake-photo-success" style="display: none">Modification effectuée</p>
                <div class="image-input">
                    <label for="imageInput" class="image-button"><i class="far fa-image"></i> Choisissez une image</label>
                    <input type="file" id="imageInput" name="fichier" class="form-control modal-cake-photo-input" accept="image/png, image/jpeg" {% if cake is not defined %}required{% endif%}>
                    {% if cake is defined %}
                        <input type="hidden" name="idCake" value="{{ cake.id }}">
                        <div class="block-img-cake-management">
                            {% set counter = 0 %}
                            {% for img in cake.urlImage %}
                                <div class="img-cake-management img-cake-id-{{ counter }}">
                                    <a class="remove" style="cursor: pointer" cake-id="{{ counter }}"><i class="pe-7s-close" style="font-size: 30px; color: red;"></i></a>
                                    <img class="cake-photo" src="{{ asset('img/pastry-chef/cake/photo/'~app.user.id~'/'~img['url']) }}">
                                    <div class="form-check">
                                        <label for="">Image par défaut</label>
                                        <input type="radio" name="default" cake-id="{{ counter }}" class="form-check-input default-img" value="{{ counter }}" {% if img['default'] == 1 %}checked{% endif%} required>
                                    </div>
                                </div>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <img src="" class="image-preview">
                    {% endif %}

                </div>
                {% if cake is not defined %}
                    <img src="{{ asset('img/backoffice/takepicture.png') }}">
                {% endif %}
            </div>
            <div class="modal-footer">
                <a href="#" previous-step="#modal-cake-categorie" current-step="#modal-cake-photo" class="btn btn-secondary previous-button">Étape précédente</a>
                {% if cake is defined %}
                    <a href="#" class="btn btn-danger next-button final-step">Enregistrer et quitter</a>
                {% else %}
                    <a href="#" next-step="#modal-cake-recap" current-step="#modal-cake-photo" class="btn btn-primary next-button">Étape suivante</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if cake is defined %}
    <div class="modal fade" id="add-price-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un prix</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: #EF95B1"><strong>Exemple :</strong> 30 parts à 50 euros</p>
                    <div id="form-add-price">
                        <div id="form-add-price-form">
                            <label for="exampleInputEmail1">Nombre de part / pièce</label>
                            <input type="number" max="900" placeholder="30" name="quantity_modal" required>
                            <label for="exampleInputEmail1">Prix</label>
                            <input type="number" step="0.01" max="900" placeholder="50" name="price_modal" required>
                            <input type="hidden" name="cake_id" value="{{ cake.id }}">
                            <button id="submit-add-price" class="btn btn-primary">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for price in prices %}
        {% if price.quantity != 0 %}
            <div class="modal fade remove-price-modal" id="remove-price-modal-{{ price.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3>Êtes-vous sûr de vouloir supprimer le prix : {{ price.quantity }} {% if cake.typePatisserie == 2 %}pièces{% else %}parts{% endif %} à {{ price.price }}€</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary remove-price-submit" data-id="{{ price.id }}">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if cake is not defined %}
    <div class="modal fade modal-cake-management" id="modal-cake-recap" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Récapitulatif</h5>
                </div>
                <div class="modal-body modal-body-presentation">
                    <img src="/hello-my-cake/public/img/logo-new.png" alt="">
                    <h1>Récapitulatif</h1>
                </div>
                <div class="modal-footer">
                    <a href="#" previous-step="#modal-cake-photo" current-step="#modal-cake-recap" class="btn btn-secondary previous-button">Étape précédente</a>
                    <a href="#" next-step="#modal-cake-step-finish" current-step="#modal-cake-recap" class="btn btn-primary next-button final-step">J'ajoute mon gâteau</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}