<script>
    $(function (){
        {% if cake is defined %}
        $('#modal-cake-summary').modal('show');
        $('#imageInput').on('change', function() {
            $input = $(this);
            if($input.val().length > 0) {
                var fd = new FormData(document.getElementById("add_cake_form"));
                //fd.append("CustomField", "This is some extra data");
                $.ajax({
                    url: '{{ path('backoffice_pastry_chef_add_image_cake') }}',
                    type: 'POST',
                    data: fd,
                    success:function(serverResponse){
                        if(serverResponse.error != ''){
                            $('.modal-cake-photo-erreur').text(serverResponse.error);
                            $('.modal-cake-photo-erreur').show();
                        }else{
                            //affichage des images
                            $('.block-img-cake-management').html('')
                            for (let i = 0; i < serverResponse.img.length; i++) {
                                $('.block-img-cake-management').append('' +
                                    '<div class="img-cake-management img-cake-id-' + i + '">' +
                                    '<a class="remove" style="cursor: pointer" cake-id="' + i + '"><i class="pe-7s-close" style="font-size: 30px; color: red;"></i></a>' +
                                    '<img class="cake-photo" src=""><div class="form-check">' +
                                    '<input type="radio" '+(serverResponse.img[i].default == 1 ? 'checked' : '')+' name="default" cake-id="' + i + '" class="form-check-input default-img" value="serverResponse.counter" required>' +
                                    '</div></div>')
                                $('.img-cake-management:last img').attr('src', '/' + serverResponse.img[i].url)
                                $('.modal-cake-photo-erreur').hide();
                            }
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
        });
        $('body').on('click', '.remove', function () {
            var image_id = $(this).attr('cake-id');

            $.ajax({
                // Adresse à laquelle la requête est envoyée
                url: "{{ path('backoffice_pastry_chef_remove_image_cake') }}",
                method: 'POST',
                data: {
                    idImage : image_id,
                    idCake: {{ cake.id }}
                },

                // La fonction à apeller si la requête aboutie
                success: function (serverResponse) {
                    // Je charge les données dans box
                    if(serverResponse.error != ''){
                        $('.modal-cake-photo-erreur').text(serverResponse.error);
                        $('.modal-cake-photo-erreur').show();
                    }else {
                        $('.img-cake-id-' + image_id).remove();
                        $('.modal-cake-photo-erreur').hide();
                    }
                },

                // La fonction à appeler si la requête n'a pas abouti
                error: function() {
                    // J'affiche un message d'erreur
                    box.html("Désolé, aucun résultat trouvé.");
                }

            });

        });
        $('body').on('click', '.default-img', function () {
            var image_id = $(this).attr('cake-id');
            $.ajax({
                // Adresse à laquelle la requête est envoyée
                url: "{{ path('backoffice_pastry_chef_default_image_cake') }}",
                method: 'POST',
                data: {
                    idImage : image_id,
                    idCake: {{ cake.id }}
                },

                // La fonction à apeller si la requête aboutie
                success: function (serverResponse) {
                    // Je charge les données dans box
                    if(serverResponse.error != ''){
                        $('.modal-cake-photo-erreur').text(serverResponse.error);
                        $('.modal-cake-photo-erreur').show();
                        $('.modal-cake-photo-success').hide();
                    }else {
                        $('.modal-cake-photo-erreur').hide();
                        $('.modal-cake-photo-success').show().delay(3000).fadeOut();
                    }
                },

                // La fonction à appeler si la requête n'a pas abouti
                error: function() {
                    // J'affiche un message d'erreur
                    box.html("Désolé, aucun résultat trouvé.");
                }

            });
        })
        $('#submit-add-price').click(function(e){
            e.preventDefault();
            var price = $( "#form-add-price-form input[name='price_modal']" ).val();
            var quantity = $( "#form-add-price-form input[name='quantity_modal']" ).val();
            var cake_id = $( "#form-add-price-form input[name='cake_id']" ).val();
            $.ajax({
                // Adresse à laquelle la requête est envoyée
                url: "{{ path('backoffice_pastry_chef_add_cake_price') }}",
                method: 'POST',
                data: {
                    'price' : price,
                    'quantity' : quantity,
                    'cake_id' : cake_id
                },

                // La fonction à apeller si la requête aboutie
                success: function (serverResponse) {
                    if(serverResponse.error == ''){
                        $('#add-price-modal').modal('hide');

                        $('#prices').append('<div class="price price-'+serverResponse.price_id+'"><span>'+serverResponse.quantity+' {% if cake.typePatisserie == 2 %}pièces{% else %}parts{% endif %} à '+serverResponse.price+'€</span><p class="remove-price" style="font-size: 12px; cursor: pointer; color: deeppink" data-toggle="modal" data-target="#remove-price-modal-'+serverResponse.price_id+'">Supprimer le prix</p></div>')

                        $('.remove-price-modal:last').after('<div class="modal fade remove-price-modal" id="remove-price-modal-'+serverResponse.price_id+'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> <div class="modal-dialog" role="document"> <div class="modal-content"> <div class="modal-header"> <h5 class="modal-title" id="exampleModalLabel">Suppression</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div> <div class="modal-body"> <h3>Êtes-vous sûr de vouloir supprimer le prix : '+serverResponse.quantity+' {% if cake.typePatisserie == 2 %}pièces{% else %}parts{% endif %} à '+serverResponse.price+'€</h3> </div> <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button> <button type="button" class="btn btn-primary remove-price-submit" data-id="'+serverResponse.price_id+'">Supprimer</button> </div> </div> </div> </div>')
                    }else{
                        alert('Une erreur est survenue, veuillez recommencer')
                    }
                    // Je charge les données dans box

                    //location.reload();
                },

                // La fonction à appeler si la requête n'a pas abouti
                error: function() {
                    // J'affiche un message d'erreur
                    alert('Erreur ajax');
                }

            });
        });
        $('body').on('click', '.remove-price-submit', function(e) {
            e.preventDefault();
            var price_id = $(this).attr('data-id');
            $.ajax({
                // Adresse à laquelle la requête est envoyée
                url: "{{ path('backoffice_pastry_chef_remove_cake_price') }}",
                method: 'POST',
                data: {
                    'price': price_id,
                    'cake-id': {{ cake.id }}
                },

                // La fonction à apeller si la requête aboutie
                success: function (serverResponse) {
                    // Je charge les données dans box
                    if (serverResponse.error == '') {
                        $('.remove-price-modal').modal('hide')
                        $('.price-' + price_id).hide(500)
                    } else {
                        alert('Une erreur est survenue, veuillez recommencer')
                    }

                },

                // La fonction à appeler si la requête n'a pas abouti
                error: function () {
                    // J'affiche un message d'erreur
                    alert('Erreur ajax');
                }

            });

        })
        {% else %}
        $('#modal-cake-title').modal('show');
        $('#imageInput').on('change', function() {
            $input = $(this);
            if($input.val().length > 0) {
                fileReader = new FileReader();
                fileReader.onload = function (data) {
                    $('.image-preview').attr('src', data.target.result);
                }
                fileReader.readAsDataURL($input.prop('files')[0]);
                $('.image-button').css('display', 'none');
                $('.image-preview').css('display', 'block');
                $('.change-image').css('display', 'block');
            }
        });
        {% endif %}

    })
</script>