<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <i class="pe-7s-close menu-icon-close" style="display: none;"></i>
        <div class="logo">
            <a class="simple-text" href="{{ path('home') }}">
                <img src="{{ asset('img/logo-new.png') }}" alt="" width="160">
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="{{ path('backoffice_pastry_chef_edit_profil') }}">
                    <i class="pe-7s-user"></i>
                    <p>Mon profil</p>
                </a>
            </li>
            <li>
                <a href="{{ path('backoffice_pastry_chef_client_request') }}">
                    <i class="pe-7s-clock"></i>
                    <p>Demande de client</p>
                </a>
            </li>
            <li>
                <a href="{{ path('backoffice_pastry_chef_cake_management') }}">
                    <i class="pe-7s-graph"></i>
                    <p>Gestion des cakes</p>
                </a>
            </li>
            <li>
                <a href="{{ path('backoffice_pastry_chef_show_order') }}">
                    <i class="pe-7s-note2"></i>
                    <p>Gestion des commandes</p>
                </a>
            </li>
            <li>
                <a href="{{ path('backoffice_pastry_chef_show_training') }}">
                    <i class="pe-7s-video"></i>
                    <p>Guide vidéo</p>
                </a>
            </li>
            <li>
                <a href="{{ path('backoffice_pastry_chef_feature') }}">
                    <i class="pe-7s-light"></i>
                    <p>Fonctionnalités à venir</p>
                </a>
            </li>
            {% if app.user.username in ['contact@hellomycake.com','souhabenzakour@gmail.com'] %}
                <li>
                    <a href="{{ path('backoffice_admin_user') }}">
                        <i class="pe-7s-config"></i>
                        <p>Utilisateurs ADMIN</p>
                    </a>
                </li>
            {% endif %}
            {% if app.user.username in ['contact@hellomycake.com','souhabenzakour@gmail.com'] %}
                <li>
                    <a href="{{ path('backoffice_admin_cake') }}">
                        <i class="pe-7s-config"></i>
                        <p>Gâteaux ADMIN</p>
                    </a>
                </li>
            {% endif %}
            {% if app.user.username in ['contact@hellomycake.com','souhabenzakour@gmail.com'] %}
                <li>
                    <a href="{{ path('backoffice_admin_cake') }}">
                        <i class="pe-7s-config"></i>
                        <p>Commandes ADMIN</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
