{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            {% if success is defined %}
                                <div class="alert alert-success">
                                    {{ success }}
                                </div>
                            {% endif %}
                            {% if error is defined %}
                                {% if error is not null %}
                                    <div class="alert alert-warning">
                                        {{ error }}
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Ajouter votre cake</h4>
                                </div>
                                <div class="content">
                                    <form action="{{ path('backoffice_pastry_chef_add_cake') }}" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Nom du cake</label>
                                                    <input type="text" required name="name" class="form-control" placeholder="Nom du cake">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Description</label>
                                                    <textarea rows="2" class="form-control" required placeholder="Ajoutez une description" name="description" value="Mike"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Spécialité du cake</label>
                                                    <select name="speciality" id="" required>
                                                        {% for speciality in specialities %}
                                                            <option value="{{ speciality.speciality.id }}">{{ speciality.speciality.libelle }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Type de la pâtisserie</label>
                                                    <br>
                                                    <label for="">(Exemple de gros gâteau : Gâteau de mariage - Cake Design ..)</label>
                                                    <br>
                                                    <label for="">(Exemple de gâteau individuel : Cupcake - petit gâteau ..)</label>
                                                    <div class="type-patisserie">Gros gâteau
                                                        <input style="visibility: hidden" type="radio" value="1" name="type_patisserie" required>
                                                    </div>
                                                    <div class="type-patisserie">Gâteau individuel
                                                        <input style="visibility: hidden" type="radio" value="2" name="type_patisserie" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Type de prix</label>
                                                    <br>
                                                    <label for="">(Finalité du prix à unité : 5€ la part - 2€ la pièce ..)</label>
                                                    <br>
                                                    <label for="">(Finalité du prix par groupe : 20 parts à 50€ - 15€ les 20 pièces ..)</label>
                                                    <div class="type-prix">A unité
                                                        <input style="visibility: hidden" type="radio" value="1" name="type_prix" required>
                                                    </div>
                                                    <div class="type-prix">Par groupe
                                                        <input style="visibility: hidden" type="radio" value="2" name="type_prix" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Prix</label>
                                                    <input type="number" step="0.01" max="900" placeholder="25.99" name="price" required>
                                                </div>
                                            </div>

                                            <div class="col-md-12" id="block-size" style="display: none">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Taille du cake</label>
                                                    <select name="size" id="">
                                                        <option value="">Sélectionner une taille</option>
                                                        {% for size in sizes %}
                                                            <option value="{{ size.id }}">{{ size.libelle }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12" id="block-quantity" style="display: none">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Quantité minimum</label>
                                                    <input type="number" min="2" max="300" placeholder="" name="quantity" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Temps de préparation en semaine : </label>
                                                    <select name="duration" id="duration">
                                                        {% for i in 1..7 %}
                                                            <option value="{{ i }}">{{ i }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <select name="day_week" id="day-week">
                                                        <option value="jour">Jour(s)</option>
                                                        <option value="semaine">Semaine(s)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Liste des allergènes</label>
                                                    <textarea rows="5" class="form-control" placeholder="Si votre cake présente des allergènes, veuillez les renseigner." name="recipe" value="Mike"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Ajouter une image</label>
                                                    <input type="file" name="fichier" class="form-control" required>
                                                    <p>Taille maximum : 2Mo - Largeur maxi : 1280px - Hauteur maxi : 1020px</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Ajouter le cake</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javaScript %}

    <script>
        $(function () {
            $('.type-patisserie').click(function () {
                $('.type-patisserie').find('input').prop('checked', false);
                $('.type-patisserie').removeClass('active');
                $(this).addClass('active');
                $(this).find('input').prop('checked', true);
            });

            $('.type-prix').click(function () {
                $('.type-prix').find('input').prop('checked', false);
                $('.type-prix').removeClass('active');
                $(this).addClass('active');
                $(this).find('input').prop('checked', true);

                if($(this).find('input').val() == 1){
                    $('#block-size').hide();
                    $('#block-quantity').show();
                    $('input[name=size]').attr('required', false);
                    $('input[name=quantity]').attr('required', true);
                }else{
                    $('#block-size').show();
                    $('#block-quantity').hide();
                    $('input[name=size]').attr('required', true);
                    $('input[name=quantity]').attr('required', false);
                }
            })
        })
    </script>

{% endblock %}