{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card" style="margin-top: 0">
                                <div class="header">
                                    <h4 class="title">Mes informations</h4>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><strong>Raison sociale : </strong>{{ app.user.raisonSociale }}</li>
                                        <li><strong>Nom : </strong>{{ app.user.name }}</li>
                                        <li><strong>Prénom : </strong>{{ app.user.firstName }}</li>
                                        <li><strong>Email : </strong>{{ app.user.email }}</li>
                                        <li><strong>Téléphone : </strong>{{ app.user.username }}</li>
                                        <li><strong>Ville et code postal : </strong>{{ app.user.city }}</li>
                                        <li>
                                            <strong>Etat du compte : </strong>
                                            {% if app.user.isDel == 1 %}
                                                Votre compte est <strong style="color: red">activé</strong>.
                                                <p>Pour activer votre compte, veuillez suivre les étapes suivantes : </p>
                                                <ul>
                                                    <li>1) Envoyez un document (Kbis, ...) justifiant votre statut professionnel à l'adresse suivante : contact@hellomycake.com</li>
                                                    <li>2) Complétez votre profil : <a href="{{ path('backoffice_pastry_chef_edit_profil') }}">Cliquez ici</a></li>
                                                    <li>3) Ajoutez 3 gâteaux sur la plateforme : <a href="{{ path('backoffice_pastry_chef_add_cake_form') }}">Cliquez ici</a></li>
                                                </ul>
                                                {% else %}
                                                    Votre compte est <strong style="color: green">activé</strong>.
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card" style="margin-top: 0">
                                <div class="header">
                                    <h4 class="title">Statistique</h4>
                                </div>
                                <div class="content">
                                    <div class="row dashboard-row">
                                        <div class="dashboard-block">
                                            <h5>Nombre de gâteau actif</h5>
                                            <p>{{ actif_cakes }}</p>
                                        </div>
                                        <div class="dashboard-block">
                                            <h5>Nombre de gâteau désactivé</h5>
                                            <p>{{ inactif_cakes }}</p>
                                        </div>
                                        <div class="dashboard-block">
                                            <h5>Nombre de commande</h5>
                                            <p>{{ orders }}</p>
                                        </div>

                                        <div class="dashboard-block">
                                            <h5>Chiffre d'affaires (à venir)</h5>
                                            <p>€</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card" style="margin-top: 0">
                                <div class="header">
                                    <h4 class="title">Fonctionnalités principales</h4>
                                </div>
                                <div class="content dashboard-row dashboard-row-button">
                                    <a class="btn btn-primary" href="{{ path('backoffice_pastry_chef_add_cake_form') }}">Ajouter un cake</a>
                                    <a class="btn btn-primary" href="{{ path('backoffice_pastry_chef_show_order') }}">Voir mes commandes</a>
                                    <a class="btn btn-primary" href="{{ path('backoffice_pastry_chef_edit_profil') }}">Gérer mon profil</a>
                                    <a class="btn btn-primary" href="{{ path('backoffice_pastry_chef_show_training') }}">Guide vidéo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javaScript %}
{% endblock %}
