{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content"></div>
        </div>
    </div>
    <form id="add_cake_form" method="post" action="{{ path('backoffice_pastry_chef_edit_cake',{'id': cake.id}) }}" enctype="multipart/form-data">
        {% include 'backofficePastryChef/inc/modal-cake-management.html.twig' %}
    </form>
{% endblock %}
{% block javaScript %}
    {% include 'backofficePastryChef/inc/script-modal.html.twig' %}
    <script src="{{ asset('js/cake-management.js') }}"></script>
{% endblock %}
