{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card" style="margin-top: 0">
                                <div class="header">
                                    <h4 class="title">Modifier le profil</h4>
                                    {% if error != '' %}
                                        {% if error == 10 %}
                                            <div class="alert alert-warning">Une spécialitée doit être sélectionnée avant de créer un cake.</div>
                                        {% elseif error == 1 %}
                                            <div class="alert alert-warning">L'ancien mot de passe est incorrect.</div>
                                        {% elseif error == 2 %}
                                            <div class="alert alert-warning">Le nouveau mot de passe doit contenir au minimum 6 caractères.</div>
                                        {% elseif error == 3 %}
                                            <div class="alert alert-warning">Veuillez ne pas renseigner l'ancien mot de passe si vous ne souhaitez pas le modifier.</div>
                                        {% elseif error == 20 %}
                                            <div class="alert alert-success">La modification a été effectuée.</div>
                                        {% else %}
                                            <div class="alert alert-warning">
                                                {{ error }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <form action="{{ path('backoffice_pastry_chef_edit_profil') }}" method="POST" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Raison sociale*</label>
                                                    <input type="text" class="form-control" required name="company-name" placeholder="Raison sociale" value="{{ app.user.raisonSociale }}">
                                                </div>
                                            </div>
                                            {#<div class="col-md-4">#}
                                            {#<div class="form-group">#}
                                            {#<label for="exampleInputEmail1">Email</label>#}
                                            {#<input type="email" name="email" class="form-control" placeholder="Email" value="{{ app.user.username }}">#}
                                            {#</div>#}
                                            {#</div>#}
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Prénom*</label>
                                                    <input type="text" class="form-control" required name="firstName" placeholder="Prénom" value="{{ app.user.firstName }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom*</label>
                                                    <input type="text" class="form-control" required name="name" placeholder="Nom" value="{{ app.user.name }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Adresse*</label>
                                                    <input type="text" class="form-control" required placeholder="Adresse" name="address" value="{{ app.user.address }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Téléphone*</label>
                                                    <input type="text" class="form-control" required placeholder="06/07" name="phone" value="{{ app.user.phone }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Ville et code postal*</label>
                                                    <input type="text" class="form-control" required placeholder="Ville" name="city" value="{{ app.user.city }}" id="autocompletion">
                                                    <input type="hidden" name="coordonnates" value="{{ app.user.localisation }}">
                                                    <div class="addresses-signup">
                                                        <ul></ul>
                                                    </div>
                                                </div>
                                            </div>

                                            {#<div class="col-md-3">#}
                                            {#<div class="form-group">#}
                                            {#<label>Code postal</label>#}
                                            {#<input type="text" name="zipCode" class="form-control" placeholder="Code postal" value="{{ app.user.zipCode }}">#}
                                            {#</div>#}
                                            {#</div>#}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Photo de profil</label>
                                                    <input type="file" name="fichier" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Changer de mot de passe</label>
                                                <input type="password" name="old_password" class="form-control" placeholder="Ancien mot de passe" value="">
                                                <br>
                                                <input type="password" name="new_password" class="form-control" placeholder="Nouveau mot de passe" value="">
                                            </div>
                                            <div class="col-md-12">
                                                <label>Spécialités</label>
                                                {% for speciality in speciality_list %}
                                                    <div class="form-check">
                                                        <input type="checkbox" {% if speciality.etat == 1 %}checked{% endif %} class="form-check-input" value="{{ speciality.id }}" name="speciality{{ speciality.id }}">
                                                        <label class="form-check-label">{{ speciality.speciality.libelle }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col-md-12">
                                                <label>Jour d'ouverture</label>
                                                {#{% for day in app.user.days %}#}
                                                {% for day in 0..6 %}
                                                    <div class="form-check">
                                                        <input type="checkbox" {% if day in app.user.days %}checked{% endif %} class="form-check-input" value="{{ day }}" name="day{{ day }}">
                                                        {% if day == 1 %}
                                                            <label class="form-check-label">Lundi</label>
                                                        {% elseif day == 2 %}
                                                            <label class="form-check-label">Mardi</label>
                                                        {% elseif day == 3 %}
                                                            <label class="form-check-label">Mercredi</label>
                                                        {% elseif day == 4 %}
                                                            <label class="form-check-label">Jeudi</label>
                                                        {% elseif day == 5 %}
                                                            <label class="form-check-label">Vendredi</label>
                                                        {% elseif day == 6 %}
                                                            <label class="form-check-label">Samedi</label>
                                                        {% else %}
                                                            <label class="form-check-label">Dimanche</label>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Afficher son compte aux clients</label>
                                                <input type="checkbox" {% if app.user.active == 1 %}checked{% endif %} class="form-check-input" value="{{ app.user.active }}" name="active">
                                            </div>
                                        </div>
                                        {#<div class="row">#}
                                        {#<div class="col-md-12">#}
                                        {#<div class="form-group">#}
                                        {#<label>About Me</label>#}
                                        {#<textarea rows="5" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>#}
                                        {#</div>#}
                                        {#</div>#}
                                        {#</div>#}

                                        <button type="submit" class="btn btn-info btn-fill pull-right">Modifier votre profil</button>
                                        <div class="clearfix"></div>
                                        <div>Pour supprimer votre compte, veuillez nous transmettre un mail sur : contact@hellomycake.com</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 cake choco" style="margin-top: 70px;">
                            <div class="portfolio_item">
                                <div class="portfolio_img">
                                    <a class="light">
                                        <img class="img-fluid" src="{{ asset(app.user.picture) }}" alt="" style="width: 250px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javaScript %}
    <script>
        $("#autocompletion").on('input', function() {

            var address_jquery = $("#autocompletion").val();
            if(address_jquery.length >= 2){
                var result = address_jquery.replace(' ', '+');
                $.ajax({
                    url: 'https://api-adresse.data.gouv.fr/search/?q='+result+'&lat=43.297799&lon=5.389836&limit=3',
                    success: function (serverResponse) {
                        serverResponse.features.forEach(function(element) {
                            showAddress(element.properties, element.geometry.coordinates[0], element.geometry.coordinates[1]);
                        });
                    },

                    error: function(xhr, status, error) {
                    }

                });
            }else{
                $('.addresses-signup').hide();
            }
        });

        $('.addresses-signup').on('click','li',function () {
            var value = $(this).find('span:nth-child(2)').text();

            $('#autocompletion').val(value);
            $('input[name=coordonnates]').val($(this).find('span').first().text());
            $('.addresses-signup').hide();

        });

        function showAddress(address, lng, lat){
            $('.addresses-signup').show();
            if($('.addresses-signup ul li').length == 3){
                $('.addresses-signup').html('<ul></ul>');
            }
            $('.addresses-signup ul').append('<li><span>'+lng+'-'+lat+'</span><span>'+address.city+'</span></li>');
        }
    </script>
{% endblock %}
