{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}    <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Modifier votre cake</h4>
                                    <a href="{{ path('backoffice_pastry_chef_remove_cake', {id: cake.id} ) }}" class="btn btn-simple"><i class="far fa-trash-alt"></i> Supprimer</a>
                                    <a href="{{ path('backoffice_pastry_show_option', {id: cake.id} ) }}" class="btn btn-simple"><i class="fas fa-tools"></i> Options personnalisables</a>
                                    {% if error != '' %}
                                        <div class="alert alert-warning">
                                            {{ error }}
                                        </div>
                                    {% endif %}
                                    {% if success != '' %}
                                        <div class="alert alert-success">
                                            {{ success }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <form action="{{ path('backoffice_pastry_chef_edit_cake', {id: cake.id} )}}" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Nom du cake</label>
                                                    <input type="text" name="name" class="form-control" placeholder="Nom du cake" value="{{ cake.name }}">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Description</label>
                                                    <textarea rows="2" class="form-control" placeholder="Ajoutez une description" name="description">{{ cake.description }}</textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Spécialité du cake</label>
                                                    <select name="speciality" id="">
                                                        <option value="{{ cake.speciality.id }}">{{ cake.speciality.libelle }}</option>
                                                        {% for speciality in specialities %}
                                                            {% if cake.speciality.id != speciality.speciality.id %}
                                                                <option value="{{ speciality.speciality.id }}">{{ speciality.speciality.libelle }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Type de la pâtisserie</label>
                                                    <br>
                                                    <label for="">(Exemple de gros gâteau : Gâteau de mariage - Cake Design ..)</label>
                                                    <br>
                                                    <label for="">(Exemple de gâteau individuel : Cupcake - petit gâteau ..)</label>
                                                    <div class="type-patisserie {% if cake.typePatisserie == 1 %}active{% endif %}" data-type="1">Gros gâteau
                                                        <input style="visibility: hidden" type="radio" value="1" name="type_patisserie" {% if cake.typePatisserie == 1 %}checked{% endif %}>
                                                    </div>
                                                    <div class="type-patisserie {% if cake.typePatisserie == 2 %}active{% endif %}" data-type="2">Gâteau individuel
                                                        <input style="visibility: hidden" type="radio" value="2" name="type_patisserie" {% if cake.typePatisserie == 2 %}checked{% endif %}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Type de prix</label>
                                                    <br>
                                                    <label for="">(Exemples : 5€ la part - 2€ la pièce ..)</label>
                                                    <br>
                                                    <label for="">(Exemples : 20 parts à 50€ - 15€ les 20 pièces ..)</label>
                                                    <div class="type-prix {% if cake.typePrix == 1 %}active{% endif %}">A unité
                                                        <input style="visibility: hidden" type="radio" value="1" name="type_prix" {% if cake.typePrix == 1 %}checked{% endif %}>
                                                    </div>
                                                    <div class="type-prix {% if cake.typePrix == 2 %}active{% endif %}">Par groupe
                                                        <input style="visibility: hidden" type="radio" value="2" name="type_prix" {% if cake.typePrix == 2 %}checked{% endif %}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" id="block-prix-unite" {% if cake.typePrix == 2 %}style="display: none"{% endif %}>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Prix</label>
                                                    {% set price_unit = '' %}
                                                    {% set quantity = 2 %}
                                                    {% for price in prices %}
                                                        {% if price.size is null %}
                                                            {% set quantity = price.quantityMin %}
                                                            {% set price_unit = price.price %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <input type="text" name="price-unite" {% if cake.typePrix == 1 %}required{% endif %} class="form-control" placeholder="Prix à l'unité" value="{{ price_unit }}">
                                                </div>
                                            </div>
                                            <div class="col-md-12" id="block-quantity" {% if cake.typePrix == 2 %}style="display: none"{% endif %}>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Quantité minimum</label>
                                                    <input type="number" min="2" max="300" value="{{ quantity }}" name="quantity" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12" id="block-prix-groupe" {% if cake.typePrix == 1 %}style="display: none"{% endif %}>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Taille & Prix</label>
                                                    <p id="add-price" style="font-size: 12px; cursor: pointer; color: deeppink" data-toggle="modal" data-target="#add-price-modal">Ajouter un prix</p>
                                                    {% for price in prices %}
                                                        {% if price.size is not null %}
                                                            <div>
                                                                <span>{{ price.size.libelle }} {% if cake.typePatisserie == 2 %}<span class="type-patisserie-libelle">pièces</span>{% else %}<span class="type-patisserie-libelle">parts</span>{% endif %}</span> - <span>{{ price.price }}€</span>
                                                                <p class="remove-price" style="font-size: 12px; cursor: pointer; color: deeppink" data-toggle="modal" data-target="#remove-price-modal-{{ price.id }}">Supprimer le prix</p>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-md-12" id="block-info-etage" {% if cake.typePrix == 1 %}style="display: none"{% endif %}>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Informations complémentaire pour les gâteaux à étage</label>
                                                    <br>
                                                    <label>Exemple de contenu à insérer : 20 parts maximum pour le premier étage, 10 parts maximum pour le deuxième étage</label>
                                                    <br>
                                                    <input type="text" value="{{ cake.infoEtage }}" name="infoEtage" placeholder="20 parts maximum pour le premier étage, 10 parts pour le second ...">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Temps de préparation en semaine : </label>
                                                    <select name="duration" id="duration">
                                                        <option value="{{ cake.duration }}">{{ cake.duration }}</option>
                                                        {% for i in 1..7 %}
                                                            {% if i != cake.duration %}
                                                                <option value="{{ i }}">{{ i }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    <select name="day_week" id="day-week">
                                                        <option {% if cake.dayWeek == 'jour' %}selected{% endif %} value="jour">Jour(s)</option>
                                                        <option {% if cake.dayWeek == 'semaine' %}selected{% endif %}  value="semaine">Semaine(s)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Afficher son cake aux clients</label>
                                                    <input type="checkbox" {% if cake.active == 1 %}checked{% endif %} class="form-check-input" value="{{ cake.active }}" name="active">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Liste des allergènes</label>
                                                    <textarea rows="5" class="form-control" placeholder="Si votre cake présente des allergènes, veuillez les renseigner." name="recipe">{{ cake.ingredient }}</textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                {% set link = '' %}
                                                {% set counter = 0 %}
                                                {% for image in cake.urlImage %}
                                                    {% set counter = counter + 1 %}
                                                    <div class="col-md-4" id="image-cake-{{ counter }}">
                                                        <img style="width: 200px" class="border-gray" src="../../{{ image['url'] }}" alt="..."/>
                                                        <input type="hidden" name="image{{ counter }}">
                                                        <div class="d-flex justify-content-center" style="display: flex; justify-content: center; align-items: center; width: 200px;">
                                                            <div style="display: flex; justify-content: center; align-items: center">
                                                                <label style="margin: 10px;" for="">Par défaut</label>
                                                                <input type="radio" {% if image['default'] == 1 %}checked{% endif %} name="default" style="width: 25px; height: 2em;" value="{{ counter }}">
                                                            </div>
                                                            <a class="remove" style="cursor: pointer" cake-id="{{ counter }}"><i class="pe-7s-close" style="font-size: 70px; color: red;"></i></a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Ajouter une image (3 MAXIMUM)</label>
                                                    <input type="file" name="fichier" class="form-control">
                                                    <p>Taille maximum : 2Mo - Largeur maxi : 1280px - Hauteur maxi : 1020px</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Modifier le cake</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for price in prices %}
        {% if price.size is not null %}
            <div class="modal fade" id="remove-price-modal-{{ price.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Supprimer le prix {{ price.price }}€ | {{ price.size.libelle }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary remove-price-submit" data-id="{{ price.id }}">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="add-price-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un prix</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="form-add-price">
                        <form action="" id="form-add-price-form">
                            <label for="exampleInputEmail1">Nombre de part / pièce</label>
                            <select name="size" id="" required>
                                {% for size in sizes %}
                                    <option value="{{ size.id }}">{{ size.libelle }}</option>
                                {% endfor %}
                            </select>
                            <label for="exampleInputEmail1">Prix</label>
                            <input type="number" step="0.01" max="900" placeholder="25.99" name="price" required>
                            <input type="hidden" name="cake_id" value="{{ cake.id }}">
                            <button id="submit-add-price">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javaScript %}
    <script>
        //REMOVE IMAGE
        $('.remove').click(function () {
            var image_id = $(this).attr('cake-id');

            $.ajax({
                // Adresse à laquelle la requête est envoyée
                url: "{{ path('backoffice_pastry_chef_remove_image_cake') }}",
                method: 'POST',
                data: {
                    idImage : image_id,
                    idCake: {{ cake.id }}
                },

                // La fonction à apeller si la requête aboutie
                success: function () {
                    // Je charge les données dans box
                    $('#image-cake-'+image_id).hide(500);
                },

                // La fonction à appeler si la requête n'a pas abouti
                error: function() {
                    // J'affiche un message d'erreur
                    box.html("Désolé, aucun résultat trouvé.");
                }

            });

        });

        $('#submit-add-price').click(function(e){
            e.preventDefault();
            var price_id = $( "#form-add-price-form input[name='price']" ).val();
            var size = $( "#form-add-price-form select" ).val();
            var cake_id = $( "#form-add-price-form input[name='cake_id']" ).val();
            $.ajax({
                // Adresse à laquelle la requête est envoyée
                url: "{{ path('backoffice_pastry_chef_add_cake_price') }}",
                method: 'POST',
                data: {
                    'price' : price_id,
                    'size' : size,
                    'cake_id' : cake_id
                },

                // La fonction à apeller si la requête aboutie
                success: function () {
                    // Je charge les données dans box
                    location.reload();
                },

                // La fonction à appeler si la requête n'a pas abouti
                error: function() {
                    // J'affiche un message d'erreur
                    alert('Erreur ajax');
                }

            });
        });

        $('.remove-price-submit').click(function(e){
            e.preventDefault();
            var price_id = $(this).attr('data-id');
            $.ajax({
                // Adresse à laquelle la requête est envoyée
                url: "{{ path('backoffice_pastry_chef_remove_cake_price') }}",
                method: 'POST',
                data: {
                    'price' : price_id,
                    'cake-id': {{ cake.id }}
                },

                // La fonction à apeller si la requête aboutie
                success: function () {
                    // Je charge les données dans box
                    location.reload();
                },

                // La fonction à appeler si la requête n'a pas abouti
                error: function() {
                    // J'affiche un message d'erreur
                    alert('Erreur ajax');
                }

            });
        });

        $('.type-patisserie').click(function () {
            $('.type-patisserie').removeClass('active');
            $('.type-patisserie').find('input').prop('checked', false);
            $(this).addClass('active');
            $(this).find('input').prop('checked', true);
            if($(this).attr('data-type') == 1){
                $('.type-patisserie-libelle').text('parts');
            }else{
                $('.type-patisserie-libelle').text('pièces');
            }

        });

        $('.type-prix').click(function () {
            $('.type-prix').removeClass('active');
            $('.type-prix').find('input').prop('checked', false);
            $(this).addClass('active');
            $(this).find('input').prop('checked', true);

            if($(this).find('input').val() == 1){
                $('#block-prix-groupe').hide();
                $('#block-info-etage').hide();
                $('#block-prix-unite').show();
                $('#block-quantity').show();
                $('input[name=price-unite]').attr('required', true);
                $('input[name=quantity]').attr('required', true);
            }else{
                $('#block-prix-groupe').show();
                $('#block-info-etage').show();
                $('#block-prix-unite').hide();
                $('#block-quantity').hide();
                $('input[name=price-unite]').attr('required', false);
                $('input[name=quantity]').attr('required', false);
            }
        });

    </script>
{% endblock %}

