{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Fonctionnalités à venir</h4>
                                    <p style="font-weight: bold">Hello My Cake est VOTRE outil. Si vous avez des propositions, n'hésitez pas à nous contacter : contact@hellomycake.com</p>
                                </div>
                                <div class="content">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Objectif</th>
                                                <th>Etat</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr style="border: 5px">
                                                <td>Personnalisation des cakes</td>
                                                <td>Intégrer une personnalisation plus avancée sur le cake afin que le client puisse réaliser un choix plus précis.</td>
                                                <td>Terminé</td>
                                            </tr>
                                            <tr style="border: 5px">
                                                <td>Gestion des disponibilités</td>
                                                <td>Apporter aux pâtissiers la possibilité de gérer leurs disponibilités auprès des clients par rapport à la durée de préparation de leurs gâteaux.</td>
                                                <td>Terminé</td>
                                            </tr>
                                            <tr style="border: 5px">
                                                <td>Informations complémentaires</td>
                                                <td>Les clients pourront vous transmettre des informations complémentaires concernant leur cake.</td>
                                                <td>Terminé</td>
                                            </tr>
                                            <tr style="border: 5px">
                                                <td>Gestion des avis</td>
                                                <td>Les clients pourront donner un avis quelques jours après avoir payé la commande.</td>
                                                <td>En étude</td>
                                            </tr>
                                            <tr style="border: 5px">
                                                <td>Liens vers les réseaux sociaux</td>
                                                <td>Proposer aux clients de découvrir les différentes oeuvres de nos pâtissiers sur les réseaux sociaux.</td>
                                                <td>En étude</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}