{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row text-center">
                        <img src="/hello-my-cake/public/img/logo-new.png" alt="" width="160">
                        <h1 style="color: #EF95B1">Votre gâteau a été ajouté avec succés</h1>
                        <h2>Informations importantes</h2>
                        <p>Vous souhaitez rajouter <strong>un prix, une photo ou rendre votre gâteau visible ?</strong> <a href="{{ path('backoffice_pastry_chef_edit_cake_form',{'id': id}) }}">cliquez-ici</a></p>
                        <br>
                        <p>Hello My Cake propose des <strong>options supplémentaires</strong> et qui pourraient être indispensable en fonction du gâteau ajouté.</p>
                        <p>Le prix peut-il varier en fonction d'une <strong>saveur, couleur, une inscription où même avec l'ajout d'éléments supplémentaire (bougies, chocolats, étages, bonbons etc...)</strong> ?</p>
                        <p>Si c'est le cas, <a href="{{ path('backoffice_pastry_show_option',{'id': id}) }}">cliquez-ici</a> pour adaptez le prix initial avec de nouvelles options.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
