{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}

            <div class="content">
                <div class="container-fluid">
                    <h3>Gestion des options personnalisables par le client</h3>
                    <p>Pour apporter une touche de sur-mesure lors de la commande d'un gâteau, voici les différentes étapes à suivre :</p>
                    <ul>
                        <li>Partie 1 : Pour les <strong>CATEGORIES</strong> (étages factices, bougies et inscription)
                            <ul>
                                <li>Cliquez sur   <i class="fas fa-plus"></i>  pour ajouter un prix</li>
                                <li>Activer la catégorie en cliquant sur <input class="switch_1 switch_2" checked disabled type="checkbox"></li>
                            </ul>
                        </li>
                        <br>
                        <li>Partie 2 : Pour les <strong>CATEGORIES</strong> (couleurs, saveurs, nappages et suppléments)
                            <ul>
                                <li>Ajouter un prix en cliquant sur   <i class="fas fa-edit"></i></li>
                                <li>Activer l'option en cliquant sur  <input class="switch_1 switch_2" checked disabled type="checkbox"></li>
                                <li>Activer la <strong>CATEGORIE</strong> en cliquant sur <input class="switch_1 switch_2" checked disabled type="checkbox"></li>
                                <li>Si une option n'existe pas, ajoutez l'option en cliquant sur <i class="fas fa-plus"></i></li>
                            </ul>
                        </li>
                    </ul>
                    <hr style="border-top: 3px solid #9968db;">
                    <br>
                    <br>
                    <br>
                    <div class="result-message">
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                                <input class="switch_1" type="checkbox" id="dummy-stage-option" {% if cake.dummyStage %}checked{% endif %}>
                            <div>
                                <h4>Etage factice <i class="fas fa-plus" data-toggle="modal" data-target="#dummy-stage-option-modal"></i></h4>
                                {% if dummy_stage_option is not null %}
                                    <p>Nombre d'étage maximum : {% if dummy_stage_option is not null %}{{ dummy_stage_option.max }}{% else %}Non renseigné{% endif %}</p>
                                    <p>Tarif par étage supplémentaire : {% if dummy_stage_option is not null %}{{ dummy_stage_option.price }}€{% else %}Non renseigné{% endif %}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                                <input class="switch_1" type="checkbox" id="topping-option" {% if cake.topping %}checked{% endif %}>
                            <div>
                                <h4>Nappage
                                    <i class="fas fa-plus" data-toggle="modal" data-target="#topping-option-add-modal"></i>
                                </h4>
                                <div class="block-options">
                                    {% for topping in topping_final %}
                                        <div>
                                            <input type="checkbox" class="switch_1 switch_2" name="topping" {% if topping.active %}checked{% endif %} {% if topping.price is null %}disabled{% endif %} value="{{ topping.topping.id }}">
                                            <span>{{ topping.topping.libelle }} : {% if topping.price is not null %}{{ topping.price.price }}€{% else %}Non renseigné{% endif %}</span>
                                            <i class="fas fa-edit" data-toggle="modal" data-target="#topping-modal-{{ topping.topping.id }}"></i>
                                            {% if topping.topping.user is not null %}
                                                <i class="fas fa-close" data-toggle="modal" data-target="#topping-option-del-modal-{{ topping.topping.id }}"></i>
                                            {% endif %}
                                        </div>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <input class="switch_1" type="checkbox" id="candle-option" {% if cake.candle %}checked{% endif %}>
                            <div>
                                <h4>Bougie <i class="fas fa-plus" data-toggle="modal" data-target="#candle-option-modal"></i></h4>
                                {% if candle_option is not null %}
                                    <p>Nombre de bougie maximum : {% if candle_option is not null %}{{ candle_option.max }}{% else %}Non renseigné{% endif %}</p>
                                    <p>Tarif par bougie : {% if candle_option is not null %}{{ candle_option.price }}€{% else %}Non renseigné{% endif %}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="switch_box box_1">
                                <input class="switch_1" type="checkbox" id="text-option" {% if cake.text %}checked{% endif %}>
                            </div>
                            <div>
                                <h4>Inscription <i class="fas fa-plus" data-toggle="modal" data-target="#text-option-modal"></i></h4>
                                {% if text_option is not null %}
                                    <p>Tarif de l'inscription : {{ text_option.price }}€</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                                <input class="switch_1" type="checkbox" id="savour-option" {% if cake.savour %}checked{% endif %}>
                            <div>
                                <h4>Saveur  <i class="fas fa-plus" data-toggle="modal" data-target="#savour-option-add-modal"></i></h4>
                                <div class="block-options">
                                    {% for savour in savour_final %}
                                        <div>
                                            <input type="checkbox" class="switch_1 switch_2" name="savour" {% if savour.active %}checked{% endif %} {% if savour.price is null %}disabled{% endif %} value="{{ savour.savour.id }}">
                                            <span>{{ savour.savour.libelle }} : {% if savour.price is not null %}{{ savour.price.price }}€{% else %}Non renseigné{% endif %}</span>
                                            <i class="fas fa-edit" data-toggle="modal" data-target="#savour-modal-{{ savour.savour.id }}"></i>
                                            {% if savour.savour.user is not null %}
                                                <i class="fas fa-close" data-toggle="modal" data-target="#savour-option-del-modal-{{ savour.savour.id }}"></i>
                                            {% endif %}
                                        </div>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <input class="switch_1" type="checkbox" id="colour-option" {% if cake.colour %}checked{% endif %}>
                            <div class="block-options">
                                <h4>Couleur
                                    <i class="fas fa-plus" data-toggle="modal" data-target="#colour-option-add-modal"></i>
                                </h4>
                                <div>
                                    {% for colour in colour_final %}
                                        <div>
                                            <input type="checkbox" class="switch_1 switch_2" name="colour" {% if colour.active %}checked{% endif %} {% if colour.price is null %}disabled{% endif %} value="{{ colour.colour.id }}">
                                            <span>{{ colour.colour.libelle }} : {% if colour.price is not null %}{{ colour.price.price }}€{% else %}Non renseigné{% endif %}</span>
                                            <i class="fas fa-edit" data-toggle="modal" data-target="#colour-modal-{{ colour.colour.id }}"></i>
                                            {% if colour.colour.user is not null %}
                                                <i class="fas fa-close" data-toggle="modal" data-target="#colour-option-del-modal-{{ colour.colour.id }}"></i>
                                            {% endif %}
                                        </div>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <input type="checkbox" class="switch_1" id="supplement-option" {% if cake.supplement %}checked{% endif %}>
                            <div class="block-options">
                                <h4>Supplément  <i class="fas fa-plus" data-toggle="modal" data-target="#supplement-option-add-modal"></i></h4>
                                <div>
                                    {% for supplement in supplement_final %}
                                        <div>
                                            <input type="checkbox" class="switch_1 switch_2" name="supplement" {% if supplement.active %}checked{% endif %} {% if supplement.price is null %}disabled{% endif %} value="{{ supplement.supplement.id }}">
                                            <span>{{ supplement.supplement.libelle }} : {% if supplement.price is not null %}{{ supplement.price.price }}€{% else %}Non renseigné{% endif %}</span>
                                            <i class="fas fa-edit" data-toggle="modal" data-target="#supplement-modal-{{ supplement.supplement.id }}"></i>
                                            {% if supplement.supplement.user is not null %}
                                                <i class="fas fa-close" data-toggle="modal" data-target="#supplement-option-del-modal-{{ supplement.supplement.id }}"></i>
                                            {% endif %}
                                        </div>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# MODAL #}
    {% for topping in topping_final %}
        <div class="modal fade" id="topping-modal-{{ topping.topping.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ topping.topping.libelle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('backoffice_pastry_edit_price_option') }}" method="post">
                        <div class="modal-body">
                            <label for="">Nom du nappage</label>
                            <input type="text" {% if topping.topping.user is null %}readonly disabled{% endif %} required name="topping-libelle" value="{{ topping.topping.libelle }}">
                            <br>
                            <label for="">Prix du nappage</label>
                            <input type="number" step=".01" required name="topping-price" value="{% if topping.price is not null %}{{ topping.price.price }}{% else %}{% endif %}">
                            <input type="hidden" name="topping-id" value="{{ topping.topping.id }}">
                            <input type="hidden" name="cake-id" value="{{ cake.id }}">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                            <input type="submit" value="Modifier" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="topping-option-del-modal-{{ topping.topping.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Supprimer : {{ topping.topping.libelle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('backoffice_pastry_del_price_option') }}" method="post">
                        <input type="hidden" name="topping-id" value="{{ topping.topping.id }}">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                        <div class="modal-footer">
                            <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                            <input type="submit" value="Supprimer" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for colour in colour_final %}
        <div class="modal fade" id="colour-modal-{{ colour.colour.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ colour.colour.libelle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('backoffice_pastry_edit_price_option') }}" method="post">
                        <div class="modal-body">
                            <label for="">Nom de la couleur</label>
                            <input type="text" {% if colour.colour.user is null %}readonly disabled{% endif %} required name="colour-libelle" value="{{ colour.colour.libelle }}">
                            <br>
                            <label for="">Prix de la couleur</label>
                            <input type="number" step=".01" required name="colour-price" value="{% if colour.price is not null %}{{ colour.price.price }}{% else %}{% endif %}">
                            <input type="hidden" name="colour-id" value="{{ colour.colour.id }}">
                            <input type="hidden" name="cake-id" value="{{ cake.id }}">
                            <br>
                            <label for="">Couleur</label>
                            <input class="color-picker" name="colour-hexa" {% if colour.colour.user is null %}readonly disabled{% endif %}
                                   value='{% if colour.colour.hexa is not null %}{{ colour.colour.hexa }}{% else %}{% endif %}' required />
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                            <input type="submit" value="Modifier" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="colour-option-del-modal-{{ colour.colour.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Supprimer : {{ colour.colour.libelle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('backoffice_pastry_del_price_option') }}" method="post">
                        <input type="hidden" name="colour-id" value="{{ colour.colour.id }}">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                        <div class="modal-footer">
                            <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                            <input type="submit" value="Supprimer" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for savour in savour_final %}
        <div class="modal fade" id="savour-modal-{{ savour.savour.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ savour.savour.libelle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('backoffice_pastry_edit_price_option') }}" method="post">
                        <div class="modal-body">
                            <label for="">Nom de la saveur</label>
                            <input type="text" {% if savour.savour.user is null %}readonly disabled{% endif %} required name="savour-libelle" value="{{ savour.savour.libelle }}">
                            <br>
                            <label for="">Prix de la saveur</label>
                            <input type="number" step=".01" required name="savour-price" value="{% if savour.price is not null %}{{ savour.price.price }}{% else %}{% endif %}">
                            <input type="hidden" name="savour-id" value="{{ savour.savour.id }}">
                            <input type="hidden" name="cake-id" value="{{ cake.id }}">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                            <input type="submit" value="Modifier" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="savour-option-del-modal-{{ savour.savour.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Supprimer : {{ savour.savour.libelle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('backoffice_pastry_del_price_option') }}" method="post">
                        <input type="hidden" name="savour-id" value="{{ savour.savour.id }}">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                        <div class="modal-footer">
                            <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                            <input type="submit" value="Supprimer" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for supplement in supplement_final %}
        <div class="modal fade" id="supplement-modal-{{ supplement.supplement.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ supplement.supplement.libelle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('backoffice_pastry_edit_price_option') }}" method="post">
                        <div class="modal-body">
                            <label for="">Nom du supplément</label>
                            <input type="text" {% if supplement.supplement.user is null %}readonly disabled{% endif %} required name="supplement-libelle" value="{{ supplement.supplement.libelle }}">
                            <br>
                            <label for="">Prix du supplément</label>
                            <input type="number" step=".01" required name="supplement-price" value="{% if supplement.price is not null %}{{ supplement.price.price }}{% else %}{% endif %}">
                            <input type="hidden" name="supplement-id" value="{{ supplement.supplement.id }}">
                            <input type="hidden" name="cake-id" value="{{ cake.id }}">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                            <input type="submit" value="Modifier" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="supplement-option-del-modal-{{ supplement.supplement.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Supprimer : {{ supplement.supplement.libelle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path('backoffice_pastry_del_price_option') }}" method="post">
                        <input type="hidden" name="supplement-id" value="{{ supplement.supplement.id }}">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                        <div class="modal-footer">
                            <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                            <input type="submit" value="Supprimer" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="modal fade" id="dummy-stage-option-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Etage factice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('backoffice_pastry_edit_price_option') }}" method="post">
                    <div class="modal-body">
                        <label for="">Etage max</label>
                        <input type="text" required name="dummy-stage-max" value="{% if dummy_stage_option is not null %}{{ dummy_stage_option.max }}{% endif %}">
                        <label for="">Prix par étage</label>
                        <input type="number" step=".01" required name="dummy-stage-price" value="{% if dummy_stage_option is not null %}{{ dummy_stage_option.price }}{% endif %}">
                        <input type="hidden" name="dummy-stage-id" value="{% if dummy_stage_option is not null %}{{ dummy_stage_option.id }}{% else %}0{% endif %}">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                        <input type="submit" value="Modifier" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="candle-option-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bougie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('backoffice_pastry_edit_price_option') }}" method="post">
                    <div class="modal-body">
                        <label for="">Nombre de bougie maximum</label>
                        <input type="text" required name="candle-max" value="{% if candle_option is not null %}{{ candle_option.max }}{% endif %}">
                        <br>
                        <label for="">Prix par bougie</label>
                        <input type="number" step=".01" required name="candle-price" value="{% if candle_option is not null %}{{ candle_option.price }}{% endif %}">
                        <input type="hidden" name="candle-option-id" value="{% if candle_option is not null %}{{ candle_option.id }}{% else %}0{% endif %}">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                        <input type="submit" value="Modifier" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="text-option-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('backoffice_pastry_edit_price_option') }}" method="post">
                    <div class="modal-body">
                        <label for="">Prix de l'inscription</label>
                        <input type="number" step=".01" required name="text-price" value="{% if text_option is not null %}{{ text_option.price }}{% endif %}">
                        <input type="hidden" name="text-option-id" value="{% if text_option is not null %}{{ text_option.id }}{% else %}0{% endif %}">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                        <input type="submit" value="Modifier" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# AJOUT #}

    <div class="modal fade" id="topping-option-add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un nappage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('backoffice_pastry_add_price_option') }}" method="post">
                    <div class="modal-body">
                        <label for="">Nom du nappage</label>
                        <input type="text" required name="topping-libelle" value="">
                        <br>
                        <label for="">Prix du nappage</label>
                        <input type="number" step=".01" required name="topping-price" value="">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                        <input type="submit" value="Ajouter" name="topping-submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="savour-option-add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une saveur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('backoffice_pastry_add_price_option') }}" method="post">
                    <div class="modal-body">
                        <label for="">Nom de la saveur</label>
                        <input type="text" required name="savour-libelle" value="">
                        <br>
                        <label for="">Prix de la saveur</label>
                        <input type="number" step=".01" required name="savour-price" value="">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                        <input type="submit" value="Ajouter" name="savour-submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="colour-option-add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une couleur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('backoffice_pastry_add_price_option') }}" method="post">
                    <div class="modal-body">
                        <label for="">Nom de la couleur</label>
                        <input type="text" required name="colour-libelle" value="">
                        <br>
                        <label for="">Prix de la couleur</label>
                        <input type="number" step=".01" required name="colour-price" value="">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                        <br>
                        <label for="">Couleur</label>
                        <input class="color-picker" name="colour-hexa" value='#276cb8' required />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                        <input type="submit" value="Ajouter" name="colour-submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="supplement-option-add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un supplément</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('backoffice_pastry_add_price_option') }}" method="post">
                    <div class="modal-body">
                        <label for="">Nom du supplément</label>
                        <input type="text" required name="supplement-libelle" value="">
                        <br>
                        <label for="">Prix du supplément</label>
                        <input type="number" step=".01" required name="supplement-price" value="">
                        <input type="hidden" name="cake-id" value="{{ cake.id }}">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Annuler" class="btn btn-secondary" data-dismiss="modal">
                        <input type="submit" value="Ajouter" name="supplement-submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
{% block javaScript %}
    <script>
        $(function () {

            //OPTION GENERAL
            $('#dummy-stage-option').change(function(){
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_option_active') }}',
                    type : 'POST',
                    data : {
                        'dummy-stage': $(this).prop('checked'),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });
            $('#topping-option').change(function(){
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_option_active') }}',
                    type : 'POST',
                    data : {
                        'topping': $(this).prop('checked'),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });
            $('#candle-option').change(function(){
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_option_active') }}',
                    type : 'POST',
                    data : {
                        'candle': $(this).prop('checked'),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });
            $('#savour-option').change(function(){
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_option_active') }}',
                    type : 'POST',
                    data : {
                        'savour': $(this).prop('checked'),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });
            $('#colour-option').change(function(){
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_option_active') }}',
                    type : 'POST',
                    data : {
                        'colour': $(this).prop('checked'),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });
            $('#text-option').change(function(){
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_option_active') }}',
                    type : 'POST',
                    data : {
                        'text': $(this).prop('checked'),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });
            $('#supplement-option').change(function(){
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_option_active') }}',
                    type : 'POST',
                    data : {
                        'supplement': $(this).prop('checked'),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });

            //SOUS-OPTION
            $("input[name=topping]").change(function () {
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_sous_option_active') }}',
                    type : 'POST',
                    data : {
                        'topping-value': $(this).val(),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });

            $("input[name=savour]").change(function () {
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_sous_option_active') }}',
                    type : 'POST',
                    data : {
                        'savour-value': $(this).val(),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });

            $("input[name=colour]").change(function () {
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_sous_option_active') }}',
                    type : 'POST',
                    data : {
                        'colour-value': $(this).val(),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            });

            $("input[name=supplement]").change(function () {
                //Requete ajax
                $.ajax({
                    url : '{{ path('backoffice_pastry_sous_option_active') }}',
                    type : 'POST',
                    data : {
                        'supplement-value': $(this).val(),
                        'cake': {{ cake.id }}
                    },
                    success : function(serveurResponse){
                        $('.result-message').text('Modification effectuée !');
                        $('.result-message').addClass('alert alert-success');
                        setTimeout(function() {
                            $('.result-message').text('');
                            $('.result-message').removeClass('alert alert-success');
                        }, 2000);
                    },

                    error : function(resultat, statut, erreur){
                        alert(erreur);
                    }

                });
            })

            $('.color-picker').spectrum({
                type: "color"
            });


        });
    </script>
{% endblock %}