{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row text-center">
                        <img src="/hello-my-cake/public/img/logo-new.png" alt="" width="160">
                        <h1 style="color: #EF95B1">Ajouter un gâteau</h1>
                        <h2>Avant de commencer</h2>
                        <p>Vendre sur Hello My Cake ne s'improvise pas. La description, les photos doivent être d'une très bonne qualité.</p>
                        <p>L'attraction d'un client se fera dès les premières secondes donc n'hésitez pas à prendre votre temps en amont.</p>
                        <p>Nous vous guiderons étape par étape en vous donnant de nombreux conseils !</p>
                        <p>Si vous rencontrez un problème, n'hésitez pas à nous contacter par mail : contact@hellomycake.com</p>
                        <a href="{{ path('backoffice_pastry_add_cake_management') }}" class="btn btn-primary">Je me lance !</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
