{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        {% if error is defined %}
                            {% if error == true %}
                                <div class="alert alert-warning">
                                    Le code est incorrect
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Vos commandes</h4>
                                    <p>Important : Lorsque le client vient récupérer son gâteau, vous êtes dans l'OBLIGATION de récupérer le code de retrait que ce dernier a reçu par mail.</p>
                                    <p>Lorsque vous contacter le client pour fixer le rendez-vous pour le jour J, demandez-lui de bien noter ce code. </p>
                                    <p>Sans le code, nous aurons aucune preuve que l'échange a bien été réalisé.</p>
                                </div>
                                <div class="content">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Validation</th>
                                                <th>Nom du client</th>
                                                <th>Prénom du client</th>
                                                <th>Email</th>
                                                <th>Téléphone</th>
                                                <th>Date de retrait</th>
                                                <th>Nom du cake</th>
                                                <th>Prix</th>
                                                <th>Options</th>
                                                <th>Total</th>
                                                <th>Informations complémentaires pour la commande</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order in orders %}
                                                <tr style="border: 5px">
                                                    <td>{{ order.order.id }}</td>
                                                    {% if order.order.validate == 1 %}
                                                        <td style="color: green">Commande validée</td>
                                                    {% else %}
                                                        <td data-toggle="modal" data-target="#validate-modal-{{ order.order.id }}"><button type="button" class="btn btn-secondary">Entrez le code</button></td>
                                                    {% endif %}
                                                    <td>{{ order.order.user.name }}</td>
                                                    <td>{{ order.order.user.firstName }}</td>
                                                    <td>{{ order.order.user.email }}</td>
                                                    <td>{{ order.order.user.phone }}</td>
                                                    <td>{{ order.orderDate | date("d/m/Y") }}</td>
                                                    <td>{{ order.cake.cake.name }}</td>
                                                    {% if order.cake.size is not null %}
                                                        <td>{{ order.price }}€ (Quantité : {{ order.cake.size.libelle }})</td>
                                                    {% else %}
                                                        <td>{{ order.price * order.quantity }}€ (Prix unitaire : {{ order.price }}€)</td>
                                                    {% endif %}
                                                    <td>
                                                        {% if order.colour is not null %}{{ order.colour }}€<br>{% endif %}
                                                        {% if order.savour is not null %}{{ order.savour }}€<br>{% endif %}
                                                        {% if order.topping is not null %}{{ order.topping }}€<br>{% endif %}
                                                        {% if order.supplement is not null %}{{ order.supplement }}€<br>{% endif %}
                                                        {% if order.candle is not null %}{{ order.candle }}€<br>{% endif %}
                                                        {% if order.dummyStage is not null %}{{ order.dummyStage }}€<br>{% endif %}
                                                        {% if order.text is not null %}{{ order.text }}€<br>{% endif %}
                                                    </td>
                                                    <td>{{ order.total }}€</td>
                                                    {% if order.order.info is not null %}
                                                        <td>{{ order.order.info }}</td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for order in orders %}
        <div class="modal fade" id="validate-modal-{{ order.order.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Validation du code</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>Veuillez saisir le code de retrait à 6 chiffres</h5>
                        <form action="{{ path('backoffice_pastry_validate_order') }}" method="post">
                            <input type="text" placeholder="Exemple : 123456" name="code">
                            <input type="hidden" name="order_id" value="{{ order.order.id }}">
                            <input type="submit" value="Valider">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}