{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <a class="btn btn-primary" href="{{ path('backoffice_pastry_pre_add_cake_management') }}">Ajouter un cake</a>
                    </div>
                    <div class="row">
                        {% for cake in cakes %}
                            {% set link = '' %}
                            {% for image in cake.urlImage %}
                                {% if image['default'] == 1 %}
                                    {% set link = image['url'] %}
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-2" style="height: 250px;">
                                <div class="card">
                                    <div class="card card-user">
                                        <div class="content">
                                            <div class="author">
                                                <a href="{{ path('backoffice_pastry_chef_edit_cake_form', {id: cake.id}) }}">
                                                    <img style="width: 100%;" src="{{ asset('img/pastry-chef/cake/photo/'~app.user.id~'/'~link) }}"
                                                         alt="..."/>
                                                    <h4 class="title">{{ cake.name }}<br /></h4>
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="text-center">
                                            <a href="{{ path('backoffice_pastry_chef_edit_cake_form', {id: cake.id}) }}" class="btn btn-simple"><i class="fas fa-edit"></i></a>
                                            <a data-toggle="modal" data-target="#remove-cake-modal-{{ cake.id }}" class="btn btn-simple"><i class="fas fa-close" style="color: red"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% for cake in cakes %}
        <div class="modal fade remove-cake-modal" id="remove-cake-modal-{{ cake.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3>Êtes-vous sûr de vouloir supprimer le gâteau {{ cake.name }} ?</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <a href="{{ path('backoffice_pastry_chef_remove_cake', {id: cake.id}) }}" class="btn btn-primary" data-id="{{ cake.id }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock %}
