{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h2>Profil pâtissier</h2>
                                <video width="100%" controls>
                                    <source src="{{ asset('video/profil.mp4') }}" type="video/mp4">
                                </video>
                            </div>
                            <div class="col-md-4">
                                <h2>Ajouter un gâteau</h2>
                                <video width="100%" controls>
                                    <source src="{{ asset('video/ajout_cake.mp4') }}" type="video/mp4">
                                </video>
                            </div>
                            <div class="col-md-4">
                                <h2>Modifier un gâteau</h2>
                                <video width="100%" controls>
                                    <source src="{{ asset('video/modifier_cake.mp4') }}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h2>Options personnalisables</h2>
                                <video width="100%" controls>
                                    <source src="{{ asset('video/option_personnalisable.mp4') }}" type="video/mp4">
                                </video>
                            </div>
                            <div class="col-md-4">
                                <h2>Point de vue client</h2>
                                <video width="100%" controls>
                                    <source src="{{ asset('video/point_de_vue_client.mp4') }}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}