{% extends 'backofficePastryChef/base.html.twig' %}
{% block stylesheet %}
    <style>
        .file-input__input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .file-input__label {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            font-size: 14px;
            padding: 10px;
            height: 50px;
            background-color: #FF7790;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
            margin: 20px;
        }

        .file-input__label svg {
            height: 16px;
            margin-right: 4px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="d-flex flex-wrap" id="inbox">
                <div id="display-message">
                    <div id="messages">
                        <div id="block-client-request">
                            <h1>Demande du client</h1>
                            <img src="{{ asset('img/upload/'~client_request.photo) }}" alt="" width="200px">
                            <p>Où vous situez-vous ? <strong>{{ client_request.location }}</strong></p>
                            <p>Pour quelle évènement ? <strong>{{ client_request.event }}</strong></p>
                            <p>Pour combien de personne ? <strong>{{ client_request.numberPerson }}</strong></p>
                            <p>Pour quand ? <strong>{{ client_request.date | date('d-m-Y') }}</strong></p>
                            <p>Date de la demande : <strong>{{ client_request.creationDate | date('d-m-Y') }}</strong></p>
                        </div>
                        <div id="block-messages"></div>
                    </div>
                </div>
                {% if client_request_proposal is not null %}
                <div id="pastry-proposal" class="{% if client_request_proposal.accept is null %}waiting{% elseif client_request_proposal.accept == 0 %}refuse{% elseif  client_request_proposal.accept == 1 %}validate{% endif %}">{% endif %}
                    {% if client_request_proposal is not null %}Proposition de {{ client_request_proposal.price }}€ {% if client_request_proposal.accept is null %}en attente{% elseif client_request_proposal.accept == 0 %}refusée{% elseif  client_request_proposal.accept == 1 %}acceptée{% endif %}
                </div>
                {% endif %}
                <div id="input-option-message">
                    {{ form_start(form, {'attr': {'id': 'form-send-message'}}) }}
                    {{ form_row(form.message,{'id': 'message', 'label': ' '}) }}
                    {{ form_row(form.photo, {'id': 'file-input','attr': {'class': 'file-input__input'}, 'label': ' '}) }}
                    <label class="file-input__label" for="file-input">
                        <span><i class="fa fa-picture-o"></i></span>
                    </label>
                    <button class="btn" id="send-message">Envoyer</button>
                    {{ form_end(form) }}
                </div>
                <div id="price-proposition">
                    <button class="btn" data-toggle="modal" data-target="#proposeprice">Proposer un prix</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="proposeprice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Proposez un prix</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-wrap justify-content-center align-items-center">
                    <img style="width: 160px" src="{{ asset('img/logo-new.png') }}" alt="">
                    <div style="margin: 20px; font-size: 20px; width: 500px;">
                        Attention, si le client accepte le tarif indiqué, il ne sera plus possible de proposer un autre tarif.
                        <br>
                        <br>
                        <form action="{{ path('backoffice_pastry_chef_client_request_proposal') }}" method="post">
                            <input type="hidden" name="client_request" value="{{ client_request.id }}">
                            <input type="number" step="0.01" name="proposeprice" id="proposeprice" placeholder="Exemple : 59.99">€
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-secondary">Envoyer !</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javaScript %}
    <script>
        // actualisation des messages
        window.setInterval(getMessages, 2000);
        // on sélectionne la zone de texte
        $("#message").focus();

        setTimeout(function(){
            $('#block-messages').scrollTop($('#block-messages')[0].scrollHeight);
        }, 3000);

        function getMessages(){
            $.ajax({
                url : "{{ path('backoffice_pastry_chef_client_request_get_messages') }}",
                type : 'POST',
                dataType : 'json',
                data: {
                    "client_request":"{{ client_request.id }}"
                },
                success : function(serverResponse){
                    if(serverResponse.count != $('#block-messages span').length){
                        $('#block-messages').html(serverResponse.messages);
                    }
                },

                error : function(resultat, statut, erreur){
                    console(resultat);
                    console(statut);
                    console(erreur);
                }

            });
        }

        $('#send-message').click(function (e){
            e.preventDefault();

            $.ajax({
                url : "{{ path('backoffice_pastry_chef_client_request_add_message') }}",
                type : 'POST',
                data: {
                    "message":$('#message').val(),
                    "client_request":"{{ client_request.id }}"
                },
                success : function(serverResponse){

                    $('#message').val('');
                    $('#block-messages').append('<p>'+serverResponse.message+'</p>');
                    $('#block-messages').append('<span>'+serverResponse.user_string+'</span>');
                    setTimeout(function(){
                        $('#block-messages').scrollTop($('#block-messages')[0].scrollHeight);
                    }, 1000);

                },

                error : function(resultat, statut, erreur){
                    console(resultat);
                    console(statut);
                    console(erreur);
                }

            });
        });

        $('#message').keypress(function (e) {
            var key = e.which;
            if(key == 13)  // the enter key code
            {
                $('#send-message').trigger('click');
                return false;
            }
        });

        $("#file-input").on("change", function() {
            $('#form-send-message').submit();
        });
    </script>
{% endblock %}