{% extends 'backofficePastryChef/base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {% include 'backofficePastryChef/inc/sidebar.html.twig' %}
        <div class="main-panel">
            {% include('inc/nav.html.twig') %}
            <div class="d-flex flex-wrap">
                {% for client_request in clients_request %}
                <div class="col-md-2 client-request-item" style="margin: 20px;height: 800px;">
                    <img src="{{ asset('img/upload/'~client_request.photo) }}" alt="">
                    <div>
                        <h1>Nouvelle demande</h1>
                        <p style="color: green">Disponible</p>
                        <p>Où vous situez-vous ? <strong>{{ client_request.location }}</strong></p>
                        <p>Pour quelle évènement ? <strong>{{ client_request.event }}</strong></p>
                        <p>Pour combien de personne ? <strong>{{ client_request.numberPerson }}</strong></p>
                        <p>Pour quand ? <strong>{{ client_request.date | date('d-m-Y') }}</strong></p>
                        <p>Date de la demande : <strong>{{ client_request.creationDate | date('d-m-Y') }}</strong></p>
                        <a class="btn" href="{{ path('backoffice_pastry_chef_client_request_inbox',{'clientRequest':client_request.id}) }}">Envoyé un message au client</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}