<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}<meta name="description" content="HelloMyCake est une plateforme de mise en relation entre pâtissiers et particuliers. Commande de gâteau d'anniversaire, mariage, baptême. Marseille, Paris ...">{% endblock %}

    <meta name="google-site-verification" content="KEnvlI4xduj-AeYdVx91xsqAiJU8GC0s8QEc3pZ7zJ0" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114452119-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114452119-2');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '270213380823524');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=270213380823524&ev=PageView
&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Hotjar Tracking Code for hellomycake.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1814178,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    {% block scriptAnalyse %}{% endblock %}
    <link rel="icon" href="{{ asset('img/fav-icon.png') }}" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block title %}<title>Hello My Cake | Gâteau mariage, anniversaire, baptème, design</title>{% endblock %}

    <!-- Icon css link -->
    <link href='{{ asset("css/font-awesome.min.css") }}' rel="stylesheet">
    <link href='{{ asset("vendors/linearicons/style.css") }}' rel="stylesheet">
    <link href='{{ asset("vendors/flat-icon/flaticon.css") }}' rel="stylesheet">
    <!-- Bootstrap -->
    <link href='{{ asset("css/bootstrap.min.css") }}' rel="stylesheet">

    <!-- Rev slider css -->
    <link href='{{ asset("vendors/revolution/css/settings.css") }}' rel="stylesheet">
    <link href='{{ asset("vendors/revolution/css/layers.css") }}' rel="stylesheet">
    <link href='{{ asset("vendors/revolution/css/navigation.css") }}' rel="stylesheet">
    <link href='{{ asset("vendors/animate-css/animate.css") }}' rel="stylesheet">

    <!-- Extra plugin css -->
    <link href='{{ asset("vendors/owl-carousel/owl.carousel.min.css") }}' rel="stylesheet">
    <link href='{{ asset("vendors/magnifc-popup/magnific-popup.css") }}' rel="stylesheet">
    <link href='{{ asset("vendors/nice-select/css/nice-select.css") }}' rel="stylesheet">

    <link rel="stylesheet" type="text/css" href='{{ asset("login/fonts/font-awesome-4.7.0/css/font-awesome.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ asset("login/fonts/iconic/css/material-design-iconic-font.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ asset("login/vendor/animate/animate.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ asset("login/vendor/css-hamburgers/hamburgers.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ asset("login/vendor/animsition/css/animsition.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ asset("login/vendor/select2/select2.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ asset("login/vendor/daterangepicker/daterangepicker.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ asset("login/css/main.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ asset("login/css/util.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ asset("css/rangeslider.css") }}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <link href='{{ asset("css/style.css") }}' rel="stylesheet">
    <link href='{{ asset("css/responsive.css") }}' rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% include('inc/header.html.twig') %}
{% block body %}{% endblock %}
{% include('inc/footer.html.twig') %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src='{{ asset("js/jquery-3.2.1.min.js")}}'></script>
<script src='{{ asset("js/popper.min.js")}}'></script>
<script src='{{ asset("js/bootstrap.min.js")}}'></script>
<script src='{{ asset("js/jquery.zoom.min.js")}}'></script>
<script src='{{ asset("vendors/revolution/js/jquery.themepunch.tools.min.js")}}'></script>
<script src='{{ asset("vendors/revolution/js/jquery.themepunch.revolution.min.js")}}'></script>
<script src='{{ asset("vendors/revolution/js/extensions/revolution.extension.actions.min.js")}}'></script>
<script src='{{ asset("vendors/revolution/js/extensions/revolution.extension.video.min.js")}}'></script>
<script src='{{ asset("vendors/revolution/js/extensions/revolution.extension.slideanims.min.js")}}'></script>
<script src='{{ asset("vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js")}}'></script>
<script src='{{ asset("vendors/revolution/js/extensions/revolution.extension.navigation.min.js")}}'></script>
<script src='{{ asset("vendors/owl-carousel/owl.carousel.min.js")}}'></script>
<script src='{{ asset("vendors/magnifc-popup/jquery.magnific-popup.min.js")}}'></script>
<script src='{{ asset("vendors/isotope/imagesloaded.pkgd.min.js")}}'></script>
<script src='{{ asset("vendors/isotope/isotope.pkgd.min.js")}}'></script>
<script src='{{ asset("vendors/datetime-picker/js/moment.min.js")}}'></script>
<script src='{{ asset("vendors/datetime-picker/js/bootstrap-datetimepicker.min.js")}}'></script>
<script src='{{ asset("vendors/nice-select/js/jquery.nice-select.min.js")}}'></script>
<script src='{{ asset("vendors/jquery-ui/jquery-ui.min.js")}}'></script>
<script src='{{ asset("vendors/lightbox/simpleLightbox.min.js")}}'></script>
<script src='{{ asset("login/vendor/animsition/js/animsition.min.js")}}'></script>
<script src='{{ asset("login/vendor/select2/select2.min.js")}}'></script>
<script src='{{ asset("login/vendor/daterangepicker/moment.min.js")}}'></script>
<script src='{{ asset("login/vendor/daterangepicker/daterangepicker.js")}}'></script>
<script src='{{ asset("login/vendor/countdowntime/countdowntime.js")}}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src='{{ asset("login/js/main.js")}}'></script>
<script src='{{ asset("js/theme.js")}}'></script>
<script src='{{ asset("js/rangeslider.js")}}'></script>
{% block javascripts %}{% endblock %}
</body>
</html>
