{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Cake Design</title>{% endblock %}
{% block body %}


	<!--================End Main Header Area =================-->
	<section class="banner_area">
		<div class="container">
			<div class="banner_text">
				<h3>Cake design par Hello My Cake</h3>
				<ul>
					<li><a href="{{ path('home') }}">Accueil</a></li>
				</ul>
			</div>
		</div>
	</section>
	<!--================End Main Header Area =================-->

	<!--================Blog Main Area =================-->
	<section class="main_blog_area p_100">
		<div class="container">
			<div class="row blog_area_inner">
				<div class="col-lg-12">
					<div class="main_blog_inner single_blog_inner">
						<div class="blog_item">
							<div class="blog_img" style="text-align: center;">
								<img class="img-fluid" width="500px" src="{{ asset('img/cake-design.jpg') }}" alt="">
							</div>
							<div class="blog_text">
								<a href="#"><h4>Le cake design</h4></a>
								<p><strong>Hello my cake</strong> vous présente le cake design est également appelé le Cake Decorating, ce dernier est à l’origine un art français.
									<br>
									Le Cake design consiste, en pâtisserie à accorder une importance considérable sur l'aspect visuel du gâteau. C'est aussi un art culinaire qui consiste à créer des gâteaux d'exception représentant un lieu, un objet, une occasion particulière comme un mariage, un baptême, un anniversaire. Les gâteaux sont moulés, sculptés et décorés avec du fondant, de la pâte à sucre et du glaçage.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Blog Main Area =================-->
{% endblock %}