{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Number Cake</title>{% endblock %}
{% block body %}


<!--================End Main Header Area =================-->
        <section class="banner_area">
        	<div class="container">
        		<div class="banner_text">
        			<h3>Number cake par Hello My Cake</h3>
        			<ul>
        				<li><a href="{{ path('home') }}">Accueil</a></li>
        			</ul>
        		</div>
        	</div>
        </section>
        <!--================End Main Header Area =================-->

        <!--================Blog Main Area =================-->
        <section class="main_blog_area p_100">
        	<div class="container">
        		<div class="row blog_area_inner">
        			<div class="col-lg-12">
        				<div class="main_blog_inner single_blog_inner">
							<div class="blog_item">
								<div class="blog_img" style="text-align: center;">
									<img class="img-fluid" width="300px" src="{{ asset('img/number-cake.jpg') }}" alt="">
								</div>
								<div class="blog_text">
									<a href="#"><h4>Le number cake</h4></a>
									<p><strong>Hello my cake</strong> vous présente le Number Cake ou gâteau chiffre qui est un gâteau représentant l’âge de l'heureux élu pour son anniversaire.
										Il peut donc se composer d’un, deux ou de trois chiffres. On peut même retrouver des lettres ! "Letter Cake" ou en forme de cœur et qui se base exactement sur le même principe.
										<br>Généralement, il comprend 2 biscuits superposés, une ou plusieurs ganaches et des décorations comestibles. Les biscuits peuvent être remplacés par de la génoise.
										Comme son nom l'indique, le number cake (ou gâteau chiffre) est un gâteau en forme de chiffre. Ce gâteau est évidemment un gâteau spécial pour les anniversaires.
										</p>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Blog Main Area =================-->
{% endblock %}