{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Gâteau d'anniversaire</title>{% endblock %}
{% block body %}


<!--================End Main Header Area =================-->
        <section class="banner_area">
        	<div class="container">
        		<div class="banner_text">
        			<h3>Gâteau d'anniversaire par Hello My Cake</h3>
        			<ul>
        				<li><a href="{{ path('home') }}">Accueil</a></li>
        			</ul>
        		</div>
        	</div>
        </section>
        <!--================End Main Header Area =================-->

        <!--================Blog Main Area =================-->
        <section class="main_blog_area p_100">
        	<div class="container">
        		<div class="row blog_area_inner">
        			<div class="col-lg-12">
        				<div class="main_blog_inner single_blog_inner">
							<div class="blog_item">
								<div class="blog_img" style="text-align: center;">
									<img width="500px" class="img-fluid" src="{{ asset('img/birthday-cake.jpg') }}" alt="">
								</div>
								<div class="blog_text">
									<a href="#"><h4>Le gâteau d'anniversaire</h4></a>
									<p><strong>Hello my cake</strong> vous présente le classique, l'indispensable, le magnifique "gâteau d'anniversaire". Lorsqu'il s'agit d'organiser un goûter d'anniversaire festif, votre savoir faire créatif est toujours un atout de taille ! Qu'il s'agisse de faire de belles invitations personnalisées, de créer les décorations sur le thème de la fête ou encore de mettre au point des jeux et activités pour la fête, il s'agit d'une bonne occasion pour utiliser vos techniques DIY favorites. Le clou du spectacle sera bien sûr le gâteau d'anniversaire, ultra gourmand et unique, pour régaler tous les petits invités de votre enfant.
										<br><br>
										Afin de personnaliser le gâteau d'anniversaire de votre enfant, basez-vous sur ses goûts, autant pour l'apparence du gâteau que pour les ingrédients que vous choisirez d'utiliser. Que vous cuisiniez un gâteau au chocolat, à la vanille ou aux fruits rouges, il existe de nombreux moyens pour le personnaliser. Vous pouvez, par exemple, décorer votre gâteau avec de délicieux sablés en forme d'animaux, de fruits, de plantes ou de petits personnages. Réaliser un glaçage coloré ou utiliser la pâte à sucre peut également vous permettre de donner vie à des créations culinaires uniques.</p>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Blog Main Area =================-->
{% endblock %}