{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Gâteau de mariage</title>{% endblock %}
{% block body %}


	<!--================End Main Header Area =================-->
	<section class="banner_area">
		<div class="container">
			<div class="banner_text">
				<h3>Gâteau de mariage par Hello My Cake</h3>
				<ul>
					<li><a href="{{ path('home') }}">Accueil</a></li>
				</ul>
			</div>
		</div>
	</section>
	<!--================End Main Header Area =================-->

	<!--================Blog Main Area =================-->
	<section class="main_blog_area p_100">
		<div class="container">
			<div class="row blog_area_inner">
				<div class="col-lg-12">
					<div class="main_blog_inner single_blog_inner">
						<div class="blog_item">
							<div class="blog_img" style="text-align: center;">
								<img class="img-fluid" width="500px" src="{{ asset('img/blog-gateau-mariage.jpg') }}" alt="">
							</div>
							<div class="blog_text">
								<a href="#"><h4>Le « wedding cake », ou le gâteau de mariage à l’américaine</h4></a>
								<p>Le <strong>gâteau de mariage</strong> est l'un des gâteaux les plus populaires à étage et trouve désormais sa place dans de nombreux mariages en France.
								<h5>De quoi s’agit-il exactement ?</h5>
								<br><strong>Hello My Cake</strong> vous présente ce magnifique gâteau composé de plusieurs épaisseurs de génoises superposées et recouvertes d’un glaçage qui leur donne un aspect lisse.
								<br>Pour la plus belle des décorations, on peut l’agrémenter de fleurs, figurine ou d'éléments contenant de la pâte d’amande ou de la pâte à sucre.
								</p>
							</div>
							<div class="blog_text">
								<a href="#"><h4>Le layer cake</h4></a>
								<p><strong>Hello My Cake</strong> vous présente également le « layer cake ». Il est composé de couches de pâtes plus fines et de mêmes dimensions, entre lesquelles on étalera une épaisse couche de crème, de confiture, de fruits… Il sera lui aussi recouvert d’un glaçage : Une surprise est présente à l’intérieur pour les invités !
								</p>
							</div>
							<div class="blog_text">
								<a href="#"><h4>Le naked cake</h4></a>
								<p><strong>Hello my cake</strong> vous présente le naked cake (gâteau nu) qui est une nouveauté venant des États-Unis. C'est un gâteau à étage qui se veut simple, brut et naturel. La principale différence avec le wedding cake, c'est la mise en avant de son contenu. Les saveurs du gâteau sont visibles de l’extérieur (MIAM !). Il se veut donc plus léger et se prête bien aux célébrations champêtres, vintage ou industrielles. On peut également ajouter sur le gâteau des éléments naturels comme des fruits ou des fleurs. Ces décors permettent de donner au gâteau un aspect très élégant. Ainsi, on en voit de plus en plus même lors de mariages romantiques et raffinés.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Blog Main Area =================-->
{% endblock %}