{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Gâteau de soirée</title>{% endblock %}
{% block body %}


<!--================End Main Header Area =================-->
        <section class="banner_area">
        	<div class="container">
        		<div class="banner_text">
        			<h3>Gâteau de soirée par Hello My Cake</h3>
        			<ul>
        				<li><a href="{{ path('home') }}">Accueil</a></li>
        			</ul>
        		</div>
        	</div>
        </section>
        <!--================End Main Header Area =================-->

        <!--================Blog Main Area =================-->
        <section class="main_blog_area p_100">
        	<div class="container">
        		<div class="row blog_area_inner">
        			<div class="col-lg-12">
        				<div class="main_blog_inner single_blog_inner">
							<div class="blog_item">
								<div class="blog_img" style="text-align: center;">
									<img class="img-fluid" width="500px" src="{{ asset('img/gateau-soiree.jpg') }}" alt="">
								</div>
								<div class="blog_text">
									<a href="#"><h4>Le gâteau de soirée</h4></a>
									<p><strong>Hello my cake</strong> vous présente les gâteaux soirées. c’est bien beau, tellement beau !! Mais quand la pâtisserie joue les gâteaux mini, c’est tout le repas qui change de style, en version dégustation ! Mignon et concentré, élégant et sucré, le mini gâteau est présent dans les assiettes à dessert depuis des siècles sans aucun complexe. Les petits gâteaux offre l'accessibilité à une diversité. Et si le mini gâteau a un mérite, c’est bien celui de décliner la pâtisserie en bouchées pour mieux goûter toutes les spécialités !
										<br><br>
										Le mini-gâteau a la simplicité de sa taille : prenez une recette de gâteau, divisez-la, répartissez en mini-moules et enfournez. Ne reste qu’à croquer ! La pâtisserie riquiqui peut toutefois s’avérer plus compliquée, quand entrent en jeu les incontournables des boulangeries… Sucreries à étages, nappées et glacées, fourrées et garnies, les mini gâteaux déclinent la gamme de l’irrésistible du plus basique au plus élaboré.
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Blog Main Area =================-->
{% endblock %}