{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake | {{ cake_default.user.raisonSociale }} - {{ cake_default.name }}</title>{% endblock %}
{% block body %}

	<!--================End Main Header Area =================-->
	<section class="banner_area">
		<div class="container">
			<div class="banner_text">
				<h3>{{ cake_default.name }}</h3>
				<ul>
					<li><a href="{{ path('cake_list', {id: cake_default.user.id}) }}">Liste des cakes</a></li>
					<li><a>Cake</a></li>
				</ul>
			</div>
		</div>
	</section>
	<!--================End Main Header Area =================-->

	<!--================Product Details Area =================-->
	<section class="product_details_area p_100">
		<div class="container">
			<div class="row product_d_price">
				<div class="col-lg-6">
					<div>
                        {% set counter = 1 %}
                        {% for image in cake_default.urlImage %}
                            {% if image.default == 1 %}
								<img class="big-picture image{{ counter }}" data-img-1="{{ counter }}" width="550px" src="../{{ image.url }}" alt="">
                            {% else %}
								<img class="big-picture image{{ counter }}" data-img-2="{{ counter }}" style="display: none;" width="550px" src="../{{ image.url }}" alt="">
                            {% endif %}
                            {% set counter = counter + 1 %}
                        {% endfor %}
					</div>
					<div class="d-flex">
                        {% set counter = 1 %}
                        {% for image in cake_default.urlImage %}
							<img class="little-picture" data-img="{{ counter }}" width="80px" style="margin: 10px; cursor: pointer" src="../{{ image.url }}" alt="">
                            {% set counter = counter + 1 %}
                        {% endfor %}
					</div>
				</div>
				<div class="col-lg-6">
					<div class="product_details_text">
						<h4>{{ cake_default.name }}</h4>
						<p>{{ cake_default.description }}</p>
                        {% if cake_price is not empty %}
							<form action="{{ path('temporaty_price_quantity') }}" method="POST" id="form-show-cart">
                                {% if cake_default.typePrix == 1 %}
									<div>
                                        {% set quantity = 2 %}
                                        {% for price in cake_price %}
                                            {% if price.size is null %}
                                                {% set quantity = price.quantityMin %}
												<p>Prix à l'unité : {{ price.price }}€</p>
                                            {% endif %}
                                        {% endfor %}
										<p style="border: initial;">Sélectionner une quantité</p>
										<select name="size-id-quantity" id="select-price-unite" style="border-radius: 7px;padding: 6px;">
                                            {% for size in cake_size %}
                                                {% if size.libelle|number_format >= quantity %}
													<option value="{{ size.libelle }}">{{ size.libelle }} {% if cake_default.typePatisserie == 1 %}parts{% else %}pièces{% endif %}</option>
                                                {% endif %}
                                            {% endfor %}
										</select>
									</div>
                                {% else %}
                                    {% if cake_default.infoEtage is not null %}
										<p style="padding: 0;color: #f195b2;font-weight: bold;border: initial;margin-top: 10px">{{ cake_default.infoEtage }}</p>
                                    {% endif %}
									<p style="border: initial;">Choisissez la taille</p>
									<pre></pre>
									<div>
										<select name="price-id" id="select-price" style="border-radius: 7px;padding: 6px;">
											<option data-id="{{ cake_price.0.size.id }}" value="{{ cake_price.0.id }}">{{ cake_price.0.size.libelle }} {% if cake_default.typePatisserie == 1 %}parts{% else %}pièces{% endif %}</option>
                                            {% set size_default = cake_price.0.size.id %}
                                            {% for price in cake_price %}
                                                {% if size_default != price.size.id %}
													<option value="{{ price.id }}">{{ price.size.libelle }} {% if cake_default.typePatisserie == 1 %}parts{% else %}pièces{% endif %}</option>
                                                {% endif %}
                                            {% endfor %}
										</select>
									</div>
                                {% endif %}

								<h5>Prix:<span class="span-price">{{ firstPrice }}€</span></h5>
								<input type="hidden" name="cake-id" id="cake-id" value="{{ cake_default.id }}">
                                {% if cake_default.colour == 0 and cake_default.savour == 0
                                    and cake_default.topping == 0 and cake_default.supplement == 0
                                    and cake_default.candle == 0 and cake_default.dummyStage == 0
                                    and cake_default.text == 0
                                %}
									<button class="pink_more" name="finally-button" id="add-cart-button" href="">Finaliser la commande</button>
                                {% else %}
									<button class="pink_more" name="option-button" id="add-cart-button" href="">Personnaliser votre gâteau</button>
                                {% endif %}
							</form>
                        {% else %}
							<p>Le produit n'est pas disponible</p>
                        {% endif %}

					</div>
				</div>
			</div>
			<div class="product_tab_area">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Liste des allergènes</a>
                        {#<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Avis (0)</a>#}
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<p>{{ cake_default.ingredient }}</p>
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block javascripts %}
	<script>
        $(function () {
            $('#select-price-unite').change(function () {
                {% for price in cake_price %}
                {% if price.size is null %}
                var price = {{ price.price }};
                {% endif %}
                {% endfor %}
                var quantite = $(this).val();
                var total = price * quantite;
                $('.span-price').text(total+'€');

            });

            $('#select-price').change(function () {
                $.ajax({
                    // Adresse à laquelle la requête est envoyée
                    url: "{{ path('cake_price') }}",
                    method: 'POST',
                    data: {
                        'price-id': $(this).val(),
                        'cake-id': {{ cake_default.id }}
                    },

                    // La fonction à apeller si la requête aboutie
                    success: function (serverResponse) {
                        $('.span-price').text(serverResponse.price+'€');
                    },

                    // La fonction à appeler si la requête n'a pas abouti
                    error: function() {
                        // J'affiche un message d'erreur
                        alert('Ajax erreur');
                    }

                });
            });

            $('.little-picture').click(function () {
                var data = $(this).attr('data-img');
                $('.big-picture').hide();
                $('.big-picture.image'+data).show();
            });
        })
	</script>
{% endblock %}