{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake | {{ user.raisonSociale }} - {{ user.city }}</title>{% endblock %}
{% block body %}


	<!--================End Main Header Area =================-->
	<section class="banner_area">
		<div class="container">
			<div class="banner_text">
				<h3>{{ user.raisonSociale }}</h3>
				<ul>
					<li><a>Nos cakes</a></li>
				</ul>
			</div>
		</div>
	</section>
	<!--================End Main Header Area =================-->

	<!--================Portfolio Area Area =================-->
	<section class="portfolio_area p_100">
		<div class="container">
			<div class="portfolio_filter">
				<ul class="list_style">
					<li class="active" data-filter="*"><a href="#">Tous les cakes</a></li>
                    {% for speciality in user.specialities %}
                        {% if speciality.etat == 1 %}
							<li data-filter=".{{ speciality.speciality.libelle }}"><a href="#">{{ speciality.speciality.libelle }}</a></li>
                        {% endif %}
                    {% endfor %}
				</ul>
			</div>
			<div class="row grid_portfolio_area imageGallery1">
                {% for cake in cakes %}
                    {% set link = '' %}
                    {% for image in cake.urlImage %}
                        {% if image['default'] == 1 %}
                            {% set link = image['url'] %}
                        {% endif %}
                    {% endfor %}
					<div class="col-md-4 col-6 {{ cake.speciality.libelle }}">
						<div class="portfolio_item">
							<div class="portfolio_img">
								<a href="{{ path('show_cake', {id: cake.id}) }}">
									<img style="width: 70%;" class="img-fluid" src="../{{ link }}" alt="">
								</a>
							</div>
							<div class="portfolio_text">
								<a href="#"><h4>{{ cake.name }}</h4></a>
							</div>
						</div>
					</div>
                {% endfor %}
			</div>
		</div>
	</section>
	<!--================End Portfolio Area Area =================-->
{% endblock %}

{% block javascripts %}
{% endblock %}