{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Votre panier</title>{% endblock %}
{% block body %}

	<!--================End Main Header Area =================-->
	<section class="banner_area">
		<div class="container">
			<div class="banner_text">
				<h3>Panier</h3>
			</div>
		</div>
	</section>
	<!--================End Main Header Area =================-->

	<!--================Cart Table Area =================-->
	<section class="cart_table_area p_100">
		<form action="{{ path('show_checkout') }}" method="post">

			<div class="container">
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th scope="col">Aperçu</th>
							<th scope="col">Produit</th>
							<th scope="col">Prix</th>
							<th scope="col">Quantité</th>
							<th scope="col">Supprimer</th>
						</tr>
						</thead>
						<tbody>
                        {% set total = 0 %}
                        {% for result in results %}
							<tr>
								<td>
                                    {% for image in result.result.cake.urlImage %}
                                        {% if image.default == 1 %}
											<img width="100px" src="{{ image.url }}" alt="">
                                        {% endif %}
                                    {% endfor %}
								</td>
								<td>{{ result.result.cake.name }}</td>
								<td>{{ result.result.price }}€</td>
								<td>
									<select class="product_select product-select-price" data-price="{{ result.result.price }}" name="product_select_{{ result.result.cake.id }}_{{ result.result.size.id }}">
										<option data-display="1" value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="6">6</option>
									</select>
								</td>
								<td><span class="delete-cake-cart" style="font-size: 45px;color: #f195b2;cursor: pointer" data-id="{{ result.result.cake.id }}" data-size="{{ result.result.size.id }}">X</span></td>
							</tr>
							<tr></tr>
                            {% set total = total + result.result.price %}
                        {% endfor %}
						</tbody>
					</table>
				</div>
				<div class="row cart_total_inner">
					<div class="col-lg-7"></div>
					<div class="col-lg-5">
						<div class="cart_total_text">
							<div class="cart_head">
								Montant
							</div>
							<div class="total">
								<h4>Total <span data-total="{{ total }}">{{ total }}€</span></h4>
							</div>
							<div class="cart_footer">
								<button class="pest_btn">Procéder au paiement</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
	<!--================End Cart Table Area =================-->

{% endblock %}

{% block javascripts %}
	<script>

        $('.product_select').change(function(){
            var total = 0;
            $('.product-select-price').each(function(i) {
                if($(this).val() != ''){
                    var price = $(this).attr('data-price');
                    total = total + (parseFloat(price) * parseFloat($(this).val()));
                }
            });

            $('.cart_total_text .total h4 span').text(total+'€');

        });

        $('.delete-cake-cart').click(function(){

            var cake_id = $(this).attr('data-id');
            var cake_size = $(this).attr('data-size');
            //Supprimer le cake du panier
            $.ajax({
                // Adresse à laquelle la requête est envoyée
                url: "{{ path('remove_cake_cart') }}",
                method: 'POST',
                data: {
                    'cake-id': cake_id,
                    'size': cake_size
                },

                // La fonction à apeller si la requête aboutie
                success: function (serverResponse) {
                    location.reload();
                },

                // La fonction à appeler si la requête n'a pas abouti
                error: function() {
                    // J'affiche un message d'erreur
                    alert('Ajax erreur');
                }

            });
        })
	</script>
{% endblock %}