{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Conditions générales de vente</title>{% endblock %}
{% block body %}

	<!--================End Main Header Area =================-->

	<section class="product_details_area p_100">
		<div class="container" style="margin-top: 80px;">
			<div class="col-lg-12">
				Date de modification : 18/01/2020
				<h2>Article 1 – MENTION LÉGALES</h2>
				Le présent site, accessible à l’URL www.hellomycake.com  (le « Site ») ou www.hellomycake.fr, est édité par Djilan SOULE MDAHOMA, autoentrepreneur (siren : 850763707). Siège social : Cours Gouffé 13006 Marseille. Capital : 1000€.
				Le Site est hébergé par la société OVH situé 2 rue Kellermann 59100 Roubaix France, téléphone : 1007 (gratuit depuis un poste fixe, hors surcoût éventuel selon opérateur depuis une ligne mobile).
				L’Exploitant peut être joint à l’adresse mail suivante contact@hellomycake.com.

				<h2>Article 2 – DISPOSITIONS GÉNÉRALES RELATIVES AUX PRÉSENTES CONDITIONS GÉNÉRALES</h2>
				Les présentes Conditions Générales de ventes ont pour objet de définir les modalités de mise à disposition du Site www.hellomycake.com et des Services qui y sont proposés. L’inscription comme Membre équivaut à une acceptation des présentes CGV. L’acceptation des présentes CGV entraîne également et obligatoirement l’acceptation des CGV du prestataire de paiement en ligne, Paypal.
				<h4>DEFINITIONS</h4>
				<p>Site : Le « Site » désigne le Site Internet www.hellomycake.com</p>
				<p>Service : le terme « Service » désigne les services proposés sur le Site.</p>
				<p>HelloMyCake : « HelloMyCake » désigne l'éditeur du Site.</p>
				<p>Utilisateur : L'Utilisateur est toute personne qui utilise le Site ou l'un des Services proposés sur le Site.</p>
				<p>Client : Le terme « Client » désigne un Utilisateur ayant ouvert un compte sur le Site en tant que client.</p>
				<p>Pâtissier : Le terme « Pâtissier » désigne un Pâtissier ayant ouvert un compte pâtissier. Il est ainsi considéré comme pâtissier.</p>
				<p>Membre: Le terme « Membre » désigne tout utilisateur ayant ouvert un compte sur le site, comprenant à la fois les clients et les pâtissiers</p>
				<p>Contenu du Site : le « Contenu du site » désigne l'ensemble du contenu du site (texte, logos, images et autres signes distinctifs, son, vidéo, architecture, design)</p>

				<h2>Article 3 NATURE DES RELATIONS CONTRACTUELLES</h2>
				<h4>Présentation</h4>
				HelloMyCake fournit une plateforme qui permet aux utilisateurs de commander des pâtisseries auprès des pâtissiers existant dans la plateforme.
				La Plateforme en elle-même ne fournit pas les pâtisseries et les éventuels autres services mais agit en tant qu’intermédiaire dans la mise en relation entre le Client et le Pâtissier. Chaque pâtisserie est présentée sur une page web différente gérée par le Pâtissier. La relation contractuelle qui en résulte est une relation entre le Client et le Pâtissier est soumise aux présentes CGV. HelloMyCake n'est pas le vendeur des pâtisseries.
				HelloMyCake n’est ni une entreprise de restauration, ni un revendeur de données alimentaires. HelloMyCake agit en qualité de courtier. HelloMyCake met en relation, par le moyen exclusif du Site, des pâtissiers et des clients souhaitant acheter des pâtisseries salées ou sucrées préparées par les Pâtissiers à leur seule initiative et sous leur seule responsabilité. Les Pâtissiers déterminent, en toute indépendance, sans aucune instruction ni intervention de quelque nature qu’elle soit de la part de HelloMyCake , la nature de leurs pâtisseries et la fréquence à laquelle ils les préparent. HelloMyCake n’est ni le mandataire, représentant, agent ou commissionnaire des Pâtissiers ou des clients. L’utilisation du Site ne crée aucune forme d’association de quelque nature qu’elle soit, ni de droit ni de fait, entre HelloMyCake et les Pâtissiers ou les Clients. Ce dernier peut donc acheter à un pâtissier sur le site HelloMyCake une pâtisserie et sera seul responsable de sa commande.
				HelloMyCake n’est pas responsable du statut des Pâtissiers ni même de leur capacité légale à émettre des factures. Le Pâtissier est seul responsable de la déclaration des revenus à faire au regard de la loi aux services fiscaux et à l’Urssaf dont les modalités sont décrites sur le site de l’URSSAF
				<br>
				<a href="https://www.cesu.urssaf.fr">https://www.cesu.urssaf.fr</a>
				<h5>Rappel des obligations en matière sociale et fiscale</h5>
				La Plateforme rappelle à ses pâtissiers qu’à l’occasion de chaque transaction, ils sont soumis à des obligations en matière sociale et fiscale :
				<br>
				<a href="https://www.impots.gouv.fr/portail/professionnel">https://www.impots.gouv.fr/portail/professionnel</a>
				<br>
				<a href="https://www.urssaf.fr/portail/home.html">https://www.urssaf.fr/portail/home.html</a>
				<h2>Article 4 – PRIX DES SERVICES</h2>
				Le prix de la pâtisserie est librement déterminé par le Pâtissier. Le prix est indiqué sur la page profil du pâtissier sur le Site. Une commission est déduite du montant de la commande sur chaque gâteau commandé.
				Ce pourcentage est pour l'instant de 0% pour chaque gâteau commandé. HelloMyCake se réserve le droit de faire évoluer cette commission en avertissant l'ensemble des pâtissiers présents sur la plateforme avec un préavis de 2 semaines. Un mail sera envoyé avec une nouvelle version des CGV. Par la suite, HelloMyCake s’engage à améliorer ses services en proposant de nouvelles fonctionnalités dont certaines seront payantes. Les sommes correspondant au paiement des prix des pâtisseries et des services sont gérées exclusivement par un gestionnaire des Fonds (le « Gestionnaire des Fonds »). A la date de rédaction des présentes, il s’agit de la société Paypal. Dans tous les cas, HelloMyCake se réserve le droit de changer, à tout moment et sans préavis, de Gestionnaire des Fonds. Il n’existe aucune forme d’association, ni de droit ni de fait entre le Gestionnaire des Fonds et HelloMyCake. Les fonds sont détenus et gérés exclusivement par le Gestionnaire des Fonds. Le pâtissier se doit d’obtenir un compte Paypal afin d’obtenir les règlements de ses clients.
				<h2>Article 5 – COMMANDES</h2>
				Avant de pouvoir passer une commande, le client doit s'inscrire directement sur le site.
				Sur chaque page profil pâtissier figure les créations le nom du gâteau proposé, sa description son prix, et le nombre de parts/pièces pour lequel il convient.
				Pour passer commande auprès de son pâtissier, le client pourra sélectionner le gâteau qui lui convient, choisir la date à laquelle il aimerait retirer son gâteau, ajouter la commande à son panier puis payer en ligne sa commande. Le pâtissier sera payé une fois que la commande a été délivrée. La date de délivrance est déterminée par le client lors de la commande. Si un client réclame un remboursement, le pâtissier ne sera pas rémunéré (voir condition article 7). HelloMyCake s’engage à rembourser le client dans les plus brefs délais.
				Les pâtisseries composées par les Pâtissiers peuvent contenir des ingrédients allergènes. Le pâtissiers lui, s’engage à bien décrire les ingrédients de son cake dans la description afin de permettre au client une visibilité sur le cake avant de passer sa commande. HelloMyCake ne peut, quoi qu'il en soit, être tenue responsable des erreurs ou omissions relatives aux allergènes ou au régime particulier des clients.

				<h2>Article 5 – LIVRAISON</h2>
				6.1 Le Pâtissier s’engage à contacter le client une fois sa commande réalisée.
				<br>
				6.2 En cas de livraison par le Pâtissier, il est seul responsable de la qualité de ce service.

				<h2>Article 6 – PRIX ET PAIEMENTS</h2>
				Le prix des Produits en vigueur lors de la commande est indiqué en euros toutes taxes comprises (TTC).
				Le prix à payer pour chaque commande est affiché à côté de la création proposée par le pâtissier sur la page profil du pâtissier.
				Le prix total à payer pour la commande équivaut au prix de la pâtisserie augmenté des éventuels extras supplémentaires et diminué de l'éventuelle promotion ponctuelle et de la réduction occasionnée par le choix de certaines options éventuellement proposées par le Pâtissier.
				Ce Prix comprend la TVA (lorsqu'elle est applicable) et les frais de service facturés par HelloMyCake au Client lorsque le Client commande une Pâtisserie auprès d'un Pâtissier sur la Plateforme.
				Le Client peut payer le prix total de sa commande par l'un des moyens de paiement prévus par la Plateforme. La Plateforme utilise le service "Paypal" pour le processus de paiement en ligne des commandes. Sont acceptés tous les modes de paiement indiqués sur la page d'accueil du Site. Comme le Client paie par le biais de la Plateforme, cela implique que le Client paie sa pâtisserie à l'avance. En passant une commande via le Site, le Client confirme que toutes les coordonnées de paiement indiquées sont valides et correctes.

				<h2>Article 7 – ANNULATION</h2>
				7.1 Dans certaines circonstances exceptionnelles, le Pâtissier peut être amené à annuler une commande confirmée, ce dont le Pâtissier informera le Client dès que l’annulation est effective. Dans ce cas, le Client sera remboursé, en utilisant le même moyen de paiement que celui que le client avait choisi au moment de la commande.
				<br>
				7.2 Le client peut annuler sa commande jusqu'à 10 jours avant la date de récupération du gâteau, et sera remboursé du prix de la commande (hors frais de service). Passé ce délai, aucun remboursement ne sera possible.
				<h2>Article 8 - PROTECTION DES DONNEES PERSONNELLES</h2>
				Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel) relative à l’informatique, aux fichiers et aux libertés, le site a fait l’objet d’une déclaration auprès de la Commission nationale de l’informatique et des libertés (www.cnil.fr).
				<h4>Droit d’accès</h4>
				En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie électronique à l’adresse email suivante : contact@hellomycake.com.
				Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution de la prestation commandée par l’internaute.
				<br>
				Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.
				<h2>Article 9 – PROPRIÉTÉ INTELLECTUELLE ET LICENCE D’UTILISATION DU SITE</h2>
				L’Exploitant est seul titulaire de tous les éléments présents sur le Site, notamment et sans limitation, tous textes, fichiers, images animées ou non, photographies, vidéos, logos, dessins, modèles, logiciels, marques, identité visuelle, base de données, structure du Site et tous autres éléments de propriété intellectuelle et autres données ou informations qui sont protégés par les lois et règlements français et internationaux relatifs notamment à la propriété intellectuelle.
				En conséquence, aucun des éléments du ne pourra en tout ou partie être modifié, reproduit, copié, dupliqué, vendu, revendu, transmis, publié, communiqué, distribué, diffusé, représenté, stocké, utilisé, loué ou exploité de toute autre manière, à titre gratuit ou onéreux, par un utilisateur ou par un tiers, quel que soient les moyens et/ou les supports utilisés, qu’ils soient connus ou inconnus à ce jour, sans l’autorisation préalable exprès et écrite de l’Exploitant au cas par cas, et l’utilisateur est seul responsable de toute utilisation et/ou exploitation non autorisée.
				Par ailleurs, il est précisé que l’Exploitant n’est pas propriétaire du contenu mis en ligne par les utilisateurs , pour lequel ces derniers demeurent intégralement responsables et garantissent la Société contre tout recours à ce titre. Les pâtissiers accordent à l’Exploitant une licence non-exclusive transférable, sous-licenciable, à titre gratuit et mondiale pour l’utilisation des contenus de propriété intellectuelle qu’ils publient sur le Site, pour toute la durée de protection de ces contenus.
				L’Exploitant se réserve la possibilité de saisir toutes voies de droit à l’encontre des personnes qui n’auraient pas respecté les interdictions contenues dans le présent article.
				<h2>ARTICLE 10 – RÉFÉRENCES</h2>
				Le Pâtissier autorise HelloMyCake à mentionner le nom du pâtissier, son logo à titre de référence dans ses supports de communication (plaquette, site internet, proposition commerciale, relation avec la presse, communiqué de presse, dossier de presse, communication interne, etc.).

				<h2>ARTICLE 11 – DISPOSITION GÉNÉRALES</h2>
				<h4>INTEGRALITE DE L’ACCORD DES PARTIES</h4>
				Les présentes Conditions Générales constituent un contrat régissant les relations entre le Client, le Pâtissier et l’Exploitant. Elles constituent l'intégralité des droits et obligations de la Société et de l’Exploitant relatifs à leur objet. Si une ou plusieurs stipulations des présentes Conditions Générales étaient déclarées nulles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée. En outre, le fait pour une des parties aux présentes Conditions Générales de ne pas se prévaloir d'un manquement de l'autre partie à l'une quelconque des dispositions des présentes Conditions Générales ne saurait s'interpréter comme une renonciation de sa part à se prévaloir dans l'avenir d'un tel manquement.
				<h4>MODIFICATIONS DES CONDITIONS</h4>
				L’Exploitant se réserve le droit de modifier à tout moment et sans préavis le contenu du Site ou des services qui y sont disponibles, et/ou de cesser de manière temporaire ou définitive d’exploiter tout ou partie du Site.
				En outre, l’Exploitant se réserve le droit de modifier à tout moment et sans préavis la localisation du Site sur l’Internet, ainsi que les présentes Conditions Générales. Le Client est donc tenu par conséquent de se reporter aux présentes Conditions Générales avant toute utilisation du Site.
				Le Client reconnait que l’Exploitant ne saurait être tenu responsable de quelque manière que ce soit envers lui ou tout tiers du fait de ces modifications, suspensions ou cessations.
				L’Exploitant conseille au Client de sauvegarder et/ou imprimer les présentes Conditions Générales pour une conservation sûre et durable, et pouvoir ainsi les invoquer à tout moment pendant l'exécution du contrat si besoin.
				<h4>RECLAMATION - MEDIATION</h4>
				En cas de litige, vous devez vous adresser en priorité au service client de l'entreprise aux coordonnées suivantes contact@hellomycake.com.
				<h4>DROIT APPLICABLE</h4>
				Ces Conditions Générales sont régies, interprétées et appliquées conformément au droit français.
				<h4>ACCEPTATION DES CONDITIONS GÉNÉRALES PAR LE CLIENT</h4>
				Le Client reconnait avoir lu attentivement les présentes Conditions Générales.
				En s’inscrivant sur le Site, le Client confirme avoir pris connaissance des Conditions Générales et les accepter, le rendant contractuellement lié par les termes des présentes Conditions Générales.
				Les Conditions Générales applicables au Client sont celles disponibles à la date de la commande dont une copie datée à ce jour peut être remise à sa demande au Client, il est donc précisé que toute modification des Conditions Générales qui serait effectuée par l’Exploitant ne s’appliquera pas à toute commande intervenue antérieurement, sauf accord exprès du Client à l’origine d’une commande donnée.
			</div>
		</div>
	</section>

{% endblock %}