{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Paiement</title>{% endblock %}
{% block body %}
    <!--================End Main Header Area =================-->
    <section class="banner_area">
        <div class="container">
            <div class="banner_text">
                <h3>Paiement</h3>
            </div>
        </div>
    </section>
    <!--================End Main Header Area =================-->

    <!--================Billing Details Area =================-->
    <section class="billing_details_area p_100">
        <div class="container">
            <form action="{{ path('payment') }}" method="post" id="form-payment">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="main_title">
                            <h2>Informations pour la commande</h2>
                        </div>
                        <div class="billing_form_area">
                            <div class="form-group col-md-6" style="position:relative;">
                                <label for="phone">A quelle date souhaitez-vous récupérer votre commande ? * </label>
                                <input type="text" style="border: 4px solid #f195b2;text-align: center;font-weight: bold;font-size: 20px;" class="form-control datepicker" required id="date2" name="date" value="{% if app.session.get('date-retrait') is null %}{% else %}{{ app.session.get('date-retrait') }}{% endif %}">
                                <p>Si nécessaire, le pâtissier peut vous contacter pour vous proposer une nouvelle date.</p>
                            </div>
                            <div class="form-group col-md-6" style="position:relative;">
                                <label for="phone">Informations complémentaires pour la commande</label>
                                <input type="text" class="form-control" placeholder="Ajouter un commentaire" name="info">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last">Nom *</label>
                                <input type="text" class="form-control" id="last" placeholder="Nom" required value="{{ app.user.name }}" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="first">Prénom *</label>
                                <input type="text" class="form-control" id="first" placeholder="Prénom" required value="{{ app.user.firstName }}" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Adresse email *</label>
                                <input type="email" class="form-control" id="email" placeholder="Adresse email" value="{{ app.user.email }}" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phone">Téléphone portable *</label>
                                <input type="text" class="form-control" id="phone" placeholder="06 / 07" value="{{ app.user.phone }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="order_box_price">
                            <div class="main_title">
                                <h2>Votre commande</h2>
                            </div>
                            <div class="payment_list">
                                <div class="price_single_cost">
                                    <h5>Produit <span>Total</span></h5>
                                    {% if size_id_quantity is not null %}
                                        <input type="hidden" value="{{ size_id_quantity }}" name="quantity">
                                        <h5>{{ cake_price.cake.name }} ({{ size_id_quantity }} {% if cake_price.cake.typePatisserie == 1 %}parts{% else %}pièces{% endif %})
                                            <span>{{ app.session.get('temporary-price') }}€</span>
                                        </h5>
                                    {% else %}
                                        <h5>{{ cake_price.cake.name }} ({{ cake_price.size.libelle }} {% if cake_price.cake.typePatisserie == 1 %}parts{% else %}pièces{% endif %})
                                            <span>{{ app.session.get('temporary-price') }}€</span>
                                        </h5>
                                    {% endif %}
                                    {% for key,option in options %}
                                        <h5>
                                            {{ option['libelle'] }}
                                            <span>{{ option['prix'] }}€</span>
                                        </h5>
                                    {% endfor %}
                                    <h4>
                                        TOTAL : <span>{{ total }}€</span>
                                    </h4>
                                    <p>{{ cake_price.cake.user.raisonSociale }} {{ cake_price.cake.user.city }}</p>
                                    <br>
                                    <strong>
                                        Votre commande devra être récupérée auprès du pâtissier.
                                        <br>L'adresse exacte vous sera transmise dans le mail de confirmation.
                                    </strong>
                                    <p> </p>
                                    <br>
                                </div>
                                {% if not is_granted('ROLE_PASTRY_CHEF') %}
                                    <div>
                                        <div class="btn btn-paiement" style="border: 3px solid #f195b2;color: #797979;">
                                            Procéder au paiement
                                        </div>
                                    </div>
                                    <div id="accordion" class="accordion_area">
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h5 class="mb-0">
                                                    <p class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Paypal ou Carte bancaire
                                                        <img src="img/checkout-card.png" alt="">
                                                    </p>
                                                    <a target="_blank" href="https://www.paypal.com/fr/webapps/mpp/what-is-paypal">Qu'est-ce que Paypal ?</a>
                                                </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    PayPal contribue à protéger les informations concernant votre carte bancaire grâce aux meilleurs systèmes présents sur le marché pour la sécurité et la prévention contre la fraude. Lorsque vous utilisez PayPal, vos informations financières ne sont jamais communiquées au marchand.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div id="" class="accordion_area">
                                        Désolé, les pâtissiers ne peuvent pas réaliser de commande.
                                    </div>
                                {% endif %}
                                {#<script src="https://www.paypal.com/sdk/js?client-id=AX3WaO_7vMfFYzjG2AP54DVbEcBaVv5eiAAx8mf6tMWIRT046o3igu0c41CCjfyT8D6OkEyaYnZbbc5F&currency=EUR"></script>#}
                                {% if not is_granted('ROLE_PASTRY_CHEF') %}
                                    <script src="https://www.paypal.com/sdk/js?client-id=AREMU9NwdcfPoiF7g-r7CrTF5PGriSTYUtO2ZoeNlhe_A_sUXNrcxvIbNEUDDftouPK05MlI7F70i_MJ&currency=EUR"></script>
                                    <script>
                                        paypal.Buttons({
                                            createOrder: function(data, actions) {
                                                // This function sets up the details of the transaction, including the amount and line item details.
                                                return actions.order.create({
                                                    purchase_units: [{
                                                        amount: {
                                                            value: {{ total }}
                                                        }
                                                    }],
                                                    application_context: {
                                                        shipping_preference: 'NO_SHIPPING'
                                                    }
                                                });
                                            },

                                            onApprove: function(data, actions) {
                                                // This function captures the funds from the transaction.
                                                return actions.order.capture().then(function(details) {
                                                    // This function shows a transaction success message to your buyer.
                                                    if (details.error === 'INSTRUMENT_DECLINED') {
                                                        alert('Le paiement a échoué, veuillez recommencer.');
                                                        return actions.restart();
                                                    }

                                                    //Requête ajax pour enregistrer la commande
                                                    $('#form-payment').submit();
                                                    // console.log(details);
                                                    // alert('Transaction completed by ' + details.payer.name.given_name);
                                                });
                                            },
                                            onError: function (err) {
                                                alert('Une erreur est survenue, veuillez recommencer.');
                                            }
                                        }).render('#accordion');
                                    </script>
                                {% endif %}
                                {#<button type="submit" value="submit" class="btn pest_btn">Payer la commande</button>#}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!--================End Billing Details Area =================-->
{% endblock %}

    {% block javascripts %}
        <script>
            //Gestion de la date
            $(function(){

                $('.btn-paiement').click(function(){
                    if($('#date2').val().length > 0){
                        $('#accordion').addClass('active');
                        $('.btn-paiement').hide();
                        $('#date2').removeClass('error-payment-form');
                    }else{
                        $('html,body').animate({ scrollTop: 0 }, 'slow');
                        $('#date2').addClass('error-payment-form');
                    }
                });

                var result = new Date();
                var date = result.getDate() + ({{ app.session.get('cake_price').cake.duration }} * 7);
                var availableDay = [];
                var days = [];
                {% for day in app.session.get('user_days') %}
                    availableDay.push({{ day }});
                {% endfor %}

                for(var i=0; i<=6; i++){
                    days.push(i);
                }
                result.setDate(date);
                $('#date2').datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                    weekStart: 1,
                    startDate: result,
                    daysOfWeekDisabled: arr_diff(days,availableDay)
                });

                function arr_diff (a1, a2) {

                    var a = [], diff = [];

                    for (var i = 0; i < a1.length; i++) {
                        a[a1[i]] = true;
                    }

                    for (var i = 0; i < a2.length; i++) {
                        if (a[a2[i]]) {
                            delete a[a2[i]];
                        } else {
                            a[a2[i]] = true;
                        }
                    }

                    for (var k in a) {
                        diff.push(k);
                    }

                    return diff;
                }
            });
        </script>
    {% endblock %}