{% extends 'base.html.twig' %}
    {% block title %}<title>Hello My Cake | Inscription pâtissier</title>{% endblock %}
	{% block body %}
        <div class="limiter">
            <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<span class="login100-form-title p-b-49">
						Que souhaitez-vous ?
					</span>
                    {% if success == true %}
                        <div class="alert alert-success" role="alert">
                            <p>Votre demande a été transmise à l'ensemble des pâtissiers se trouvant dans le secteur.</p>
                            <p>Retrouvez votre récapitulatif sur votre espace client.</p>
                        </div>
                    {% endif %}
                    {{ form_start(form) }}
                    {{ form_row(form.location,{'id': 'autocompletion', 'label': 'Où vous situez-vous ?'}) }}
                    <input type="hidden" name="coordonnates">
                    <div class="addresses-signup">
                        <ul></ul>
                    </div>
                    {{ form_row(form.event,{'label': 'Pour quelle évènement ?'}) }}
                    {{ form_row(form.numberPerson,{'label': 'Pour combien de personne ?'}) }}
                    {{ form_row(form.informations,{'label': 'Informations supplémentaires : Age, prénom ...'}) }}
                    {{ form_row(form.date,{'label': 'Pour quand ?'}) }}
                    {{ form_row(form.photo,{'label': 'Avez-vous une photo ?'}) }}

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Transmettre la demande
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    {#<form class="login100-form validate-form" action="{{ path('client_request') }}" method="post" enctype="multipart/form-data">#}
                    {#{% if error is defined %}#}
                    {#<div class="alert alert-danger" role="alert">#}
                    {#{{ error }}#}
                    {#</div>#}
                    {#{% endif %}#}
                    {#<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">#}
                    {#<span class="label-input100">Où vous situez-vous ?*</span>#}
                    {#<input class="input100" type="text" name="city" placeholder="Votre ville ou code postal" id="autocompletion">#}
                    {#<input type="hidden" name="coordonnates">#}
                    {#<span class="focus-input100" data-symbol="&#xf206;"></span>#}
                    {#</div>#}
                    {#<div class="addresses-signup">#}
                    {#<ul></ul>#}
                    {#</div>#}
                    {#<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">#}
                    {#<span class="label-input100">Pour quel évènement ?*</span>#}
                    {#<input class="input100" type="text" name="event" placeholder="Anniversaire, Mariage, Baptême ..." required>#}
                    {#</div>#}
                    {#<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">#}
                    {#<span class="label-input100">Combien de personne ?*</span>#}
                    {#<input class="input100" type="text" name="number-person" placeholder="Cela deteminera le nombre de part où de pièce" required>#}
                    {#</div>#}
                    {#<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">#}
                    {#<span class="label-input100">Informations supplémentaires ?*</span>#}
                    {#<input class="input100" type="text" name="informations" placeholder="Age, prénom, détails ..." required>#}
                    {#</div>#}
                    {#<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">#}
                    {#<span class="label-input100">A quelle date ?*</span>#}
                    {#<input class="input100" type="date" name="date" placeholder="Nom de pâtissier(re) / Raison sociale" required>#}
                    {#</div>#}
                    {#<div class="wrap-input100 validate-input m-b-23" data-validate = "Ce champ est obligatoire">#}
                    {#<span class="label-input100">Avez-vous une photo *</span>#}
                    {#<input class="input100" type="file" name="photo" accept=".png,.jpg,.jpeg" required>#}
                    {#</div>#}

                    {#<div class="container-login100-form-btn">#}
                    {#<div class="wrap-login100-form-btn">#}
                    {#<div class="login100-form-bgbtn"></div>#}
                    {#<button class="login100-form-btn">#}
                    {#Transmettre la demande#}
                    {#</button>#}
                    {#</div>#}
                    {#</div>#}

                    {#<div class="txt1 text-center p-t-54 p-b-20">#}
                    {#<span>#}
                    {#Or Sign Up Using#}
                    {#</span>#}
                    {#</div>#}

                    {#<div class="flex-c-m">#}
                    {#<a href="#" class="login100-social-item bg1">#}
                    {#<i class="fa fa-facebook"></i>#}
                    {#</a>#}

                    {#<a href="#" class="login100-social-item bg2">#}
                    {#<i class="fa fa-twitter"></i>#}
                    {#</a>#}

                    {#<a href="#" class="login100-social-item bg3">#}
                    {#<i class="fa fa-google"></i>#}
                    {#</a>#}
                    {#</div>#}

                    {#<div class="flex-col-c p-t-155">#}
                    {#<span class="txt1 p-b-17">#}
                    {#Or Sign Up Using#}
                    {#</span>#}

                    {#<a href="#" class="txt2">#}
                    {#Sign Up#}
                    {#</a>#}
                    {#</div>#}
                    {#</form>#}
                </div>
            </div>
        </div>


        <div id="dropDownSelect1"></div>

    {% endblock %}
{% block javascripts %}
    <script>

        var result = new Date();

        $('.js-datepicker').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy',
            weekStart: 1,
            startDate: result
        });

        $("#autocompletion").on('input', function() {

            var address_jquery = $("#autocompletion").val();
            if(address_jquery.length >= 2){
                var result = address_jquery.replace(' ', '+');
                $.ajax({
                    url: 'https://api-adresse.data.gouv.fr/search/?q='+result+'&lat=43.297799&lon=5.389836&limit=3',
                    success: function (serverResponse) {
                        serverResponse.features.forEach(function(element) {
                            showAddress(element.properties, element.geometry.coordinates[0], element.geometry.coordinates[1]);
                        });
                    },

                    error: function(xhr, status, error) {
                    }

                });
            }else{
                $('.addresses-signup').hide();
            }
        });

        $('.addresses-signup').on('click','li',function () {
            var value = $(this).find('span:nth-child(2)').text();

            $('#autocompletion').val(value);
            $('input[name=coordonnates]').val($(this).find('span').first().text());
            $('.addresses-signup').hide();

        });

        function showAddress(address, lng, lat){
            $('.addresses-signup').show();
            if($('.addresses-signup ul li').length == 3){
                $('.addresses-signup').html('<ul></ul>');
            }
            $('.addresses-signup ul').append('<li><span>'+lng+'-'+lat+'</span><span>'+address.city+'</span></li>');
        }
    </script>
{% endblock %}