{% extends 'base.html.twig' %}
    {% block meta %}<meta name="description" content="Connectez-vous sur la plateforme HelloMyCake pour commander rapidement votre gâteau d'anniversaire, mariage, baptême.">{% endblock %}
    {% block title %}<title>Hello My Cake | Transmettre une demande</title>{% endblock %}
	{% block body %}
		<section class="main_blog_area p_100">
			<div class="container">
				<div class="row blog_area_inner">
					<div class="col-lg-12">
						<div class="main_blog_inner single_blog_inner">
							<div class="blog_item">
								<div class="blog_text" style="margin-top: 60px">
									<h2>Transmettre votre idée</h2>
									<a class="signup-pastry" href="{{ path('client_request_form') }}">Je me lance !</a>
									<div style="margin: 20px 0" class="row align-items-center justify-content-center">
										<div class="col-sm">
											<h3>Faite une demande à tous les pâtissiers proche de chez vous :D</h3>
											<p>De nombreux pâtissiers sont présents sur la plateforme, n'attendez plus et transmettez votre demande !
											<ul>
												<li style="list-style: initial; margin-left: 30px">Soyez précis lors de votre demande</li>
												<li style="list-style: initial; margin-left: 30px">N'hésitez pas à joindre une photo</li>
												<li style="list-style: initial; margin-left: 30px">Renseignez les informations nécessaires</li>
												<li style="list-style: initial; margin-left: 30px">N'oubliez pas la date à laquette vous souhaitez récupérer votre gâteau :D</li>
											</ul>
											</p>
										</div>
										<div class="col-sm" style="text-align: center">
											<img src="{{ asset('img/security-pastry.png') }}" style="width: 60%;" alt="">
										</div>
									</div>
								</div>
								<a class="signup-pastry" href="{{ path('client_request_form') }}">Je me lance !</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    {% endblock %}