{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Confirmation</title>{% endblock %}
{% block body %}

	<!--================End Main Header Area =================-->
	<section class="banner_area">
		<div class="container">
			<div class="banner_text">
				<h3>Confirmation de paiement</h3>
			</div>
		</div>
	</section>

	<section class="product_details_area p_100">
		<div class="container">
			<div class="col-lg-12">
				<p style="text-align: center;font-size: 20px;">Le paiement a bien été effectué. Un mail de confirmation vient de vous être envoyer à l'adresse suivante : <strong>{{ app.user.email }}</strong></p>
			</div>
		</div>
	</section>

{% endblock %}