{% extends ('base.html.twig') %}
{% block body %}
	<!--================jumbotron Area =================-->
	<section class="jumbotron-custom">
		<video loop muted style="display: none">
			<source src="{{ asset('video/diaporamahellomycake.mp4') }}" type="video/mp4">
		</video>
		<div id="home-form">
			<h1>Hello My Cake</h1>
			<p>Trouvez un gâteau près de chez vous</p>
			<strong>Plateforme de mise en relation entre pâtissiers et particuliers</strong>
			<form action="{{ path('pastry_chef_list') }}" class="form-home" method="post">
				<input type="text" name="address" id="autocompletion" placeholder="Saisissez votre ville ou code postal" required>
				<input type="hidden" name="localisation" id="value-autocompletion">
                {#<button>Voir les pâtissiers</button>#}
				<div class="addresses">
					<ul></ul>
				</div>
			</form>
		</div>
	</section>
	<!--================End jumbotron Area =================-->

	<!--================Welcome Area =================-->
	<section class="welcome_bakery_area">
		<div class="container">
			<div class="welcome_bakery_inner p_100">
				<div class="row">
					<div class="col-lg-6">
						<div class="main_title">
							<h2>Bienvenue chez Hello My Cake</h2>
							<p>Vous cherchez le gâteau de vos rêves ? vous êtes au bon endroit. HelloMyCake.com vous aide à trouver le gâteau de vos rêves, bien sûr, en vous proposant les meilleurs pâtissiers professionnels proches de chez vous.</p>
						</div>
						<div class="welcome_left_text">
							<p>
								C'est très simple et facile, vous aurez la possibilité de voir votre Cake directement sur le site, choisir le goût, la taille, la date de retrait et payer en toute sécurité sur la plateforme avec votre carte bancaire.</p>
                            {#<a class="pink_btn" href="#">Know more about us</a>#}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="welcome_img">
							<img class="img-fluid" src="img/cake-feature/home-1.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Welcome Area =================-->

	<!--================Service We offer Area =================-->
	<section class="service_we_offer_area gray_service white_bg p_100">
		<div class="container">
			<div class="single_b_title">
				<h2>Comment ça marche ?</h2>
			</div>
			<div class="row we_offer_inner">
				<div class="col-lg-4">
					<div class="s_we_item gray_s_item">
						<div class="media">
							<div class="d-flex">
								<i class="flaticon-food-6"></i>
							</div>
							<div class="media-body">
								<a href="#"><h4>Localisez-vous</h4></a>
								<p>Localisez vous en choisissant votre ville à l'aide de la barre de recherche, afin de pouvoir trouver les meilleurs pâtissiers proche de chez vous.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="s_we_item gray_s_item">
						<div class="media">
							<div class="d-flex">
								<i class="flaticon-book"></i>
							</div>
							<div class="media-body">
								<a href="#"><h4>Choisissez votre gâteau</h4></a>
								<p>Choisir le gâteau qui vous tente le plus, ajuster/affiner votre commande en choisissant le goût que vous voulez ainsi que la taille et bien évidemment votre date pour le retrait de votre gâteau.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="s_we_item gray_s_item">
						<div class="media">
							<div class="d-flex">
								<i class="flaticon-food-4"></i>
							</div>
							<div class="media-body">
								<a href="#"><h4>Finalisez votre commande</h4></a>
								<p>Passez votre gâteau dans votre panier, confirmez votre commande et payez en toute sécurité sur notre plateforme helloMyCake.com. Il ne vous restera qu'à récupérer votre cake le jour J.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Service We offer Area =================-->
	<section class="step-home p_100">

	</section>
	<section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 stats">
					<img width="45%" src="{{ asset('img/wedding-cake.png') }}" alt="">
					<div class="counting" data-count="200">0</div>
					<h5>Nombre de gâteaux</h5>
				</div>
				<div class="col-lg-6 stats">
					<img width="45%" src="{{ asset('img/chef.png') }}" alt="">
					<div class="counting" data-count="20">0</div>
					<h5>Nombre de pâtissiers professionnels</h5>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->

	</section>
	<!--================Our Bakery Area =================-->
	<section class="our_bakery_area p_100">
		<div class="container">
			<div class="our_bakery_text">
				<h2>Nos spécialités</h2>
				<h6>Chez HelloMyCake.com, nous vous offrons la possibilité de choisir le gâteau qui vous tente le plus, pour un anniversaire, un mariage, un baby shower, cake design ou même des cupcakes.</h6>
				<p>Nos pâtissiers réalisent des gâteaux sur mesure pour vous satisfaire et ainsi vous faire réver.</p>
				<p>Trouvez facilement le gâteau de rêve sur HelloMyCake.com. Un clique et tous les pâtissiers disponibles dans votre ville seront prêts à vous préparer le cake qui vous convient le plus.</p>
			</div>
			<div class="row our_bakery_image justify-content-center">
				<div class="col-lg-4 col-sm-6">
					<img class="img-fluid" src="img/image-1.jpeg" alt="">
				</div>
				<div class="col-lg-4 col-sm-6">
					<img class="img-fluid" src="img/image-2.jpg" alt="">
				</div>
				<div class="col-lg-4 col-sm-6">
					<img class="img-fluid" src="img/image-3.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<!--================End Our Bakery Area =================-->
	<!--================Welcome Area =================-->
	<section class="welcome_bakery_area">
		<div class="container">
			<div class="welcome_bakery_inner p_100">
				<div class="row">
					<div class="col-lg-5">
						<div class="main_title">
							<h2>Vous êtes pâtissière ou pâtissier ?</h2>
							<p>Rejoignez le réseau des pâtissiers sur hellomycake.com vous permettra de :</p>
						</div>
						<div class="welcome_left_text">
							<p style="margin: 0">Boostez votre chiffre d'affaires</p>
							<p style="margin: 0">Bénéficiez d'une interface flexible et compréhensive</p>
							<p style="margin: 0">Gérer votre catalogue de pâtisserie</p>
							<p style="margin: 0">Recevez votre virement une fois la commande réalisée</p>
							<a class="pink_btn" style="margin-top: 10px" href="{{ path('signup_pastry_chef') }}">Inscrivez-vous</a>
						</div>
					</div>
					<div class="col-lg-7" style="margin-top: 15px">
						<iframe style="width: 100%; height: 100%" src="https://www.youtube.com/embed/94v6ZKlqjBA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						La voix a été réalisé par <a href="https://auroremazieres.com/voix-off-home-studio/" target="_blank">Aurore voix-off</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Welcome Area =================-->
{% endblock %}
{% block javascripts %}
	<script>

        $('autocompletion').val('');

        $('.form-home').on('keyup keypress', function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        $("#autocompletion").on('input', function() {

            var address_jquery = $("#autocompletion").val();
            if(address_jquery.length >= 2){
                var result = address_jquery.replace(' ', '+');
                $.ajax({
                    url: 'https://api-adresse.data.gouv.fr/search/?q='+result+'&lat=43.297799&lon=5.389836&limit=5',
                    success: function (serverResponse) {
                        serverResponse.features.forEach(function(element) {
                            showAddress(element.properties, element.geometry.coordinates[0], element.geometry.coordinates[1]);
                        });
                    },

                    error: function(xhr, status, error) {
                    }

                });

            }else{
                $('.addresses').hide();
            }


        });

        $('.addresses').on('click','li',function () {
            var value = $(this).find('span:nth-child(2)').text();

            $('#autocompletion').val(value);
            $('#value-autocompletion').val($(this).find('span').first().text());
            $('.addresses').hide();
            $('.form-home').submit();

        });

        function showAddress(address, lng, lat){
            $('.addresses').show();
            if($('.addresses ul li').length == 5){
                $('.addresses').html('<ul></ul>');
            }
            $('.addresses ul').append('<li><span>'+lng+'-'+lat+'</span><span>'+address.city+'</span></li>');
        }

        $(function () {
            $('video').show();
            $("video").each(function(){ this.play(); });
            if($(window).width() < 1000){
                $('video').hide();
			}
        });

        var flag = 0;
        $(window).on( 'scroll', function(e){
            if($(window).width() < 1000){
                if($(window).scrollTop() > 2100 && flag == 0){
                    e.stopPropagation();
                    $('.counting').each(function() {
                        var $this = $(this),
                            countTo = $this.attr('data-count');
                        $({ countNum: $this.text()}).animate({
                                countNum: countTo
                            },

                            {
                                duration: 3000,
                                easing:'linear',
                                step: function() {
                                    $this.text(Math.floor(this.countNum));
                                },
                                complete: function() {
                                    $this.text(this.countNum);
                                    //alert('finished');
                                }

                            });
                    });
                    flag = 1;
                }
			}
            else{
                if($(window).scrollTop() > 1670 && flag == 0){
                    e.stopPropagation();
                    $('.counting').each(function() {
                        var $this = $(this),
                            countTo = $this.attr('data-count');
                        $({ countNum: $this.text()}).animate({
                                countNum: countTo
                            },

                            {
                                duration: 3000,
                                easing:'linear',
                                step: function() {
                                    $this.text(Math.floor(this.countNum));
                                },
                                complete: function() {
                                    $this.text(this.countNum);
                                    //alert('finished');
                                }

                            });
                    });
                    flag = 1;
                }
            }

        });

	</script>
{% endblock %}