{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake | {{ cake.user.raisonSociale }} - {{ cake.name }}</title>{% endblock %}
{% block body %}

    <!--================End Main Header Area =================-->
    <section class="banner_area">
        <div class="container">
            <div class="banner_text">
                <h3>Personnalise ton gâteau</h3>
            </div>
        </div>
    </section>
    <!--================End Main Header Area =================-->

    <section class="product_details_area p_100" style="display: flex;justify-content: space-around;width: 90%;margin: 0 auto;flex-wrap: wrap">
        <div class="block-image-option">
            {% for image in cake.urlImage %}
                {% if image.default == 1 %}
                    <img class="big-picture-option" src="{{ image.url }}" alt="">
                    {#<img class="image-option-1" src="https://emporter.pizzapai.fr/skin//frontend/pizzapai/default/images/list_pizza_perso.png" alt="">#}
                {% endif %}
            {% endfor %}
            {#<img src="https://emporter.pizzapai.fr/skin//frontend/pizzapai/default/images/list_pizza_perso.png" alt="">#}
        </div>
        <hr class="block-image-option-hr">
        <div class="block-2-option">
            <div class="portfolio_filter">
                <ul class="list_style">
                    {% if cake.colour == 1 and colours_final is not empty %}
                        <li class="option-title" data-filter="colour"><a href="#">Couleur</a></li>
                    {% endif %}
                    {% if cake.savour == 1 and savours_final is not empty %}
                        <li class="option-title" data-filter="savour"><a href="#">Saveur</a></li>
                    {% endif %}
                    {% if cake.topping == 1 and toppings_final is not empty %}
                        <li class="option-title" data-filter="topping"><a href="#">Nappage</a></li>
                    {% endif %}
                    {% if cake.supplement == 1 and supplements_final is not empty %}
                        <li class="option-title" data-filter="supplement"><a href="#">Supplément</a></li>
                    {% endif %}
                    {% if cake.dummyStage == 1 and dummyStage is not null %}
                        <li class="option-title" data-filter="dummyStage"><a href="#">Étage factice</a></li>
                    {% endif %}
                    {% if cake.text == 1 and inscription is not null %}
                        <li class="option-title" data-filter="inscription"><a href="#">Inscription</a></li>
                    {% endif %}
                    {% if cake.candle == 1 and candle is not null %}
                        <li class="option-title" data-filter="candle"><a href="#">Bougie</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="row parent-colour-option">
                {% for colour in colours_final %}
                    <div class="colour" data-price="{{ colour.price.price }}" data-id="{{ colour.colour.id }}" style="background-color: {{ colour.colour.hexa }}">
                        {{ colour.colour.libelle }}
                        <br>
                        {{ colour.price.price }}€
                    </div>
                {% endfor %}
            </div>
            <div class="row parent-savour-option">
                {% for savour in savours_final %}
                    <div class="savour" data-price="{{ savour.price.price }}" data-id="{{ savour.savour.id }}">
                        {{ savour.savour.libelle }}
                        <br>
                        {{ savour.price.price }}€
                    </div>
                {% endfor %}
            </div>
            <div class="row parent-topping-option">
                {% for topping in toppings_final %}
                    <div class="topping" data-price="{{ topping.price.price }}" data-id="{{ topping.topping.id }}">
                        {{ topping.topping.libelle }}
                        <br>
                        {{ topping.price.price }}€
                    </div>
                {% endfor %}
            </div>
            <div class="row parent-supplement-option">
                {% for supplement in supplements_final %}
                    <div class="supplement" data-price="{{ supplement.price.price }}" data-id="{{ supplement.supplement.id }}">
                        {{ supplement.supplement.libelle }}
                        <br>
                        {{ supplement.price.price }}€
                    </div>
                {% endfor %}
            </div>

            {% if dummyStage is not null %}
                <div class="row parent-dummyStage-option" data-price="{{ dummyStage.price }}">
                    <input type="range" class="range1" value="0" step="1" min="0" max="{{ dummyStage.max }}" data-price="{{ dummyStage.price }}">
                    <br>
                    <p>Tarif par étage factice supplémentaire : <span class="span-price">{{ dummyStage.price }}€</span></p>
                    <p>Nombre maximum d'étage autorisé : <span class="span-price">{{ dummyStage.max }}</span></p>
                    <br>
                    <output style="display: inline-block;font-size: 50px;">0</output>
                </div>
            {% endif %}

            {% if inscription is not null %}
                <div class="row parent-inscription-option">
                    <input class="inscription" type="text" name="inscription" placeholder="Saisir une inscription" data-price="{{ inscription.price }}">
                    <p>Tarif pour l'inscription : <span class="span-price">{{ inscription.price }}€</span></p>
                </div>
            {% endif %}

            {% if candle is not null %}
                <div class="row parent-candle-option">
                    <input type="range" class="range2" value="0" step="1" min="0" max="{{ candle.max }}" data-price="{{ candle.price }}">
                    <br>
                    <p>Tarif par bougie supplémentaire : <span class="span-price">{{ candle.price }}€</span></p>
                    <p>Nombre maximum de bougie autorisé : <span class="span-price">{{ candle.max }}</span></p>
                    <br>
                    <output2 style="display: inline-block;font-size: 50px;">0</output2>
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="recap-options-parent">
            {% for image in cake.urlImage %}
                {% if image.default == 1 %}
                    <img class="little-picture-option" src="{{ image.url }}" alt="">
                    {#<img class="image-option-2" src="https://emporter.pizzapai.fr/skin//frontend/pizzapai/default/images/list_pizza_perso.png" alt="">#}
                {% endif %}
            {% endfor %}
            {% if app.session.get('size-id-quantity') is not null %}
                <div class="recap-options">Nombre de part/pièce : {{ app.session.get('size-id-quantity') }}</div>
            {% else %}
                <div class="recap-options">Nombre de part/pièce : {{ cake_price.size.libelle }}</div>
            {% endif %}
            {% if cake.colour == 1 and colours_final is not empty %}
                <div class="recap-options recap-colour">Couleur : </div>
            {% endif %}

            {% if cake.savour == 1 and savours_final is not empty %}
                <div class="recap-options recap-savour">Saveur : </div>
            {% endif %}

            {% if cake.topping == 1 and toppings_final is not empty %}
                <div class="recap-options recap-topping">Nappage : </div>
            {% endif %}

            {% if cake.supplement == 1 and supplements_final is not empty %}
                <div class="recap-options recap-supplement">Supplément : </div>
            {% endif %}

            {% if cake.dummyStage == 1 and dummyStage is not null %}
                <div class="recap-options recap-dummy-stage">Etage factice : <span>0</span></div>
            {% endif %}

            {% if cake.text == 1 and inscription is not null %}
                <div class="recap-options recap-text">Inscription : <span></span></div>
            {% endif %}

            {% if cake.candle == 1 and candle is not null %}
                <div class="recap-options recap-candle">Bougie : <span>0</span></div>
            {% endif %}

            <form action="{{ path('before_checkout') }}" id="checkout-form" method="POST">
                <input type="text" required class="form-control datepicker get-date" id="date2" name="date" placeholder="Date de retrait">
                <div id="tarif"></div>
                <input type="hidden" name="submit-option" value="">
                <input type="hidden" name="colour-option" value="">
                <input type="hidden" name="savour-option" value="">
                <input type="hidden" name="topping-option" value="">
                <input type="hidden" name="supplement-option" value="">
                <input type="hidden" name="dummy-stage-option" value="">
                <input type="hidden" name="text-option" value="">
                <input type="hidden" name="candle-option" value="">
                <input type="hidden" name="submit-option" value="">
                <button class="end-option" name="submit-option">Finaliser la commande</button>
            </form>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script>
        //slider javascript
        /*! rangeslider.js - v2.0.2 | (c) 2015 @andreruffert | MIT license | https://github.com/andreruffert/rangeslider.js */
        ! function(a) {
            "use strict";
            "function" == typeof define && define.amd ? define(["jquery"], a) : a("object" == typeof exports ? require("jquery") : jQuery)
        }(function(a) {
            "use strict";

            function b() {
                var a = document.createElement("input");
                return a.setAttribute("type", "range"), "text" !== a.type
            }

            function c(a, b) {
                var c = Array.prototype.slice.call(arguments, 2);
                return setTimeout(function() {
                    return a.apply(null, c)
                }, b)
            }

            function d(a, b) {
                return b = b || 100,
                    function() {
                        if (!a.debouncing) {
                            var c = Array.prototype.slice.apply(arguments);
                            a.lastReturnVal = a.apply(window, c), a.debouncing = !0
                        }
                        return clearTimeout(a.debounceTimeout), a.debounceTimeout = setTimeout(function() {
                            a.debouncing = !1
                        }, b), a.lastReturnVal
                    }
            }

            function e(a) {
                return a && (0 === a.offsetWidth || 0 === a.offsetHeight || a.open === !1)
            }

            function f(a) {
                for (var b = [], c = a.parentNode; e(c);) b.push(c), c = c.parentNode;
                return b
            }

            function g(a, b) {
                function c(a) {
                    "undefined" != typeof a.open && (a.open = a.open ? !1 : !0)
                }
                var d = f(a),
                    e = d.length,
                    g = [],
                    h = a[b];
                if (e) {
                    for (var i = 0; e > i; i++) g[i] = d[i].style.cssText, d[i].style.display = "block", d[i].style.height = "0", d[i].style.overflow = "hidden", d[i].style.visibility = "hidden", c(d[i]);
                    h = a[b];
                    for (var j = 0; e > j; j++) d[j].style.cssText = g[j], c(d[j])
                }
                return h
            }

            function h(a, b) {
                var c = parseFloat(a);
                return Number.isNaN(c) ? b : c
            }

            function i(a) {
                return a.charAt(0).toUpperCase() + a.substr(1)
            }

            function j(b, e) {
                if (this.$window = a(window), this.$document = a(document), this.$element = a(b), this.options = a.extend({}, n, e), this.polyfill = this.options.polyfill, this.orientation = this.$element[0].getAttribute("data-orientation") || this.options.orientation, this.onInit = this.options.onInit, this.onSlide = this.options.onSlide, this.onSlideEnd = this.options.onSlideEnd, this.DIMENSION = o.orientation[this.orientation].dimension, this.DIRECTION = o.orientation[this.orientation].direction, this.DIRECTION_STYLE = o.orientation[this.orientation].directionStyle, this.COORDINATE = o.orientation[this.orientation].coordinate, this.polyfill && m) return !1;
                this.identifier = "js-" + k + "-" + l++, this.startEvent = this.options.startEvent.join("." + this.identifier + " ") + "." + this.identifier, this.moveEvent = this.options.moveEvent.join("." + this.identifier + " ") + "." + this.identifier, this.endEvent = this.options.endEvent.join("." + this.identifier + " ") + "." + this.identifier, this.toFixed = (this.step + "").replace(".", "").length - 1, this.$fill = a('<div class="' + this.options.fillClass + '" />'), this.$handle = a('<div class="' + this.options.handleClass + '" />'), this.$range = a('<div class="' + this.options.rangeClass + " " + this.options[this.orientation + "Class"] + '" id="' + this.identifier + '" />').insertAfter(this.$element).prepend(this.$fill, this.$handle), this.$element.css({
                    position: "absolute",
                    width: "1px",
                    height: "1px",
                    overflow: "hidden",
                    opacity: "0"
                }), this.handleDown = a.proxy(this.handleDown, this), this.handleMove = a.proxy(this.handleMove, this), this.handleEnd = a.proxy(this.handleEnd, this), this.init();
                var f = this;
                this.$window.on("resize." + this.identifier, d(function() {
                    c(function() {
                        f.update()
                    }, 300)
                }, 20)), this.$document.on(this.startEvent, "#" + this.identifier + ":not(." + this.options.disabledClass + ")", this.handleDown), this.$element.on("change." + this.identifier, function(a, b) {
                    if (!b || b.origin !== f.identifier) {
                        var c = a.target.value,
                            d = f.getPositionFromValue(c);
                        f.setPosition(d)
                    }
                })
            }
            Number.isNaN = Number.isNaN || function(a) {
                return "number" == typeof a && a !== a
            };
            var k = "rangeslider",
                l = 0,
                m = b(),
                n = {
                    polyfill: !0,
                    orientation: "horizontal",
                    rangeClass: "rangeslider",
                    disabledClass: "rangeslider--disabled",
                    horizontalClass: "rangeslider--horizontal",
                    verticalClass: "rangeslider--vertical",
                    fillClass: "rangeslider__fill",
                    handleClass: "rangeslider__handle",
                    startEvent: ["mousedown", "touchstart", "pointerdown"],
                    moveEvent: ["mousemove", "touchmove", "pointermove"],
                    endEvent: ["mouseup", "touchend", "pointerup"]
                },
                o = {
                    orientation: {
                        horizontal: {
                            dimension: "width",
                            direction: "left",
                            directionStyle: "left",
                            coordinate: "x"
                        },
                        vertical: {
                            dimension: "height",
                            direction: "top",
                            directionStyle: "bottom",
                            coordinate: "y"
                        }
                    }
                };
            j.prototype.init = function() {
                this.update(!0, !1), this.$element[0].value = this.value, this.onInit && "function" == typeof this.onInit && this.onInit()
            }, j.prototype.update = function(a, b) {
                a = a || !1, a && (this.min = h(this.$element[0].getAttribute("min"), 0), this.max = h(this.$element[0].getAttribute("max"), 100), this.value = h(this.$element[0].value, this.min + (this.max - this.min) / 2), this.step = h(this.$element[0].getAttribute("step"), 1)), this.handleDimension = g(this.$handle[0], "offset" + i(this.DIMENSION)), this.rangeDimension = g(this.$range[0], "offset" + i(this.DIMENSION)), this.maxHandlePos = this.rangeDimension - this.handleDimension, this.grabPos = this.handleDimension / 2, this.position = this.getPositionFromValue(this.value), this.$element[0].disabled ? this.$range.addClass(this.options.disabledClass) : this.$range.removeClass(this.options.disabledClass), this.setPosition(this.position, b)
            }, j.prototype.handleDown = function(a) {
                if (a.preventDefault(), this.$document.on(this.moveEvent, this.handleMove), this.$document.on(this.endEvent, this.handleEnd), !((" " + a.target.className + " ").replace(/[\n\t]/g, " ").indexOf(this.options.handleClass) > -1)) {
                    var b = this.getRelativePosition(a),
                        c = this.$range[0].getBoundingClientRect()[this.DIRECTION],
                        d = this.getPositionFromNode(this.$handle[0]) - c,
                        e = "vertical" === this.orientation ? this.maxHandlePos - (b - this.grabPos) : b - this.grabPos;
                    this.setPosition(e), b >= d && b < d + this.handleDimension && (this.grabPos = b - d)
                }
            }, j.prototype.handleMove = function(a) {
                a.preventDefault();
                var b = this.getRelativePosition(a),
                    c = "vertical" === this.orientation ? this.maxHandlePos - (b - this.grabPos) : b - this.grabPos;
                this.setPosition(c)
            }, j.prototype.handleEnd = function(a) {
                a.preventDefault(), this.$document.off(this.moveEvent, this.handleMove), this.$document.off(this.endEvent, this.handleEnd), this.$element.trigger("change", {
                    origin: this.identifier
                }), this.onSlideEnd && "function" == typeof this.onSlideEnd && this.onSlideEnd(this.position, this.value)
            }, j.prototype.cap = function(a, b, c) {
                return b > a ? b : a > c ? c : a
            }, j.prototype.setPosition = function(a, b) {
                var c, d;
                void 0 === b && (b = !0), c = this.getValueFromPosition(this.cap(a, 0, this.maxHandlePos)), d = this.getPositionFromValue(c), this.$fill[0].style[this.DIMENSION] = d + this.grabPos + "px", this.$handle[0].style[this.DIRECTION_STYLE] = d + "px", this.setValue(c), this.position = d, this.value = c, b && this.onSlide && "function" == typeof this.onSlide && this.onSlide(d, c)
            }, j.prototype.getPositionFromNode = function(a) {
                for (var b = 0; null !== a;) b += a.offsetLeft, a = a.offsetParent;
                return b
            }, j.prototype.getRelativePosition = function(a) {
                var b = i(this.COORDINATE),
                    c = this.$range[0].getBoundingClientRect()[this.DIRECTION],
                    d = 0;
                return "undefined" != typeof a["page" + b] ? d = a["client" + b] : "undefined" != typeof a.originalEvent["client" + b] ? d = a.originalEvent["client" + b] : a.originalEvent.touches && a.originalEvent.touches[0] && "undefined" != typeof a.originalEvent.touches[0]["client" + b] ? d = a.originalEvent.touches[0]["client" + b] : a.currentPoint && "undefined" != typeof a.currentPoint[this.COORDINATE] && (d = a.currentPoint[this.COORDINATE]), d - c
            }, j.prototype.getPositionFromValue = function(a) {
                var b, c;
                return b = (a - this.min) / (this.max - this.min), c = Number.isNaN(b) ? 0 : b * this.maxHandlePos
            }, j.prototype.getValueFromPosition = function(a) {
                var b, c;
                return b = a / (this.maxHandlePos || 1), c = this.step * Math.round(b * (this.max - this.min) / this.step) + this.min, Number(c.toFixed(this.toFixed))
            }, j.prototype.setValue = function(a) {
                a !== this.value && this.$element.val(a).trigger("input", {
                    origin: this.identifier
                })
            }, j.prototype.destroy = function() {
                this.$document.off("." + this.identifier), this.$window.off("." + this.identifier), this.$element.off("." + this.identifier).removeAttr("style").removeData("plugin_" + k), this.$range && this.$range.length && this.$range[0].parentNode.removeChild(this.$range[0])
            }, a.fn[k] = function(b) {
                var c = Array.prototype.slice.call(arguments, 1);
                return this.each(function() {
                    var d = a(this),
                        e = d.data("plugin_" + k);
                    e || d.data("plugin_" + k, e = new j(this, b)), "string" == typeof b && e[b].apply(e, c)
                })
            }
        });
    </script>
    <script>
        $(function(){
            var price = {{ app.session.get('temporary-price') }};
            $('#tarif').text(price.toFixed(2)+'€');
            $('.inscription').val('');
            $('.option-title').each(function(index){
                var classTitle = '.parent-'+$(this).attr('data-filter')+'-option';
                //Activé le premier
                if(index == 0){
                    $(this).addClass('active');
                    $(classTitle).css('display', 'flex');
                }
            });

            $('.option-title').click(function(index){
                $('div[class*="parent-"]').hide();
                $('.option-title').removeClass('active');
                $(this).addClass('active');
                var classTitle = '.parent-'+$(this).attr('data-filter')+'-option';
                $(classTitle).css('display', 'flex');
            });

            //COLOUR
            $('.colour').click(function(){
                if(!$(this).hasClass('active')){
                    //Nettoyage
                    $('.colour').removeClass('active');
                    $('.recap-colour span').remove();
                    $('#checkout-form input[name=colour-option]').remove();

                    //Check si une couleur a déjà été sélectionné, si oui, on retire l'ancien prix de l'option en question
                    if(typeof $('#tarif').attr('data-price-colour') !== typeof undefined && $('#tarif').attr('data-price-colour') !== false){
                        price = parseFloat(price) - parseFloat($('#tarif').attr('data-price-colour'));
                    }
                    $(this).addClass('active');
                    $('.recap-colour').append('<span>'+$(this).text()+'</span>');
                    $('#checkout-form').append('<input name="colour-option" value="'+$(this).attr('data-id')+'" type="hidden"/>');

                    //Ajout du prix
                    price = parseFloat(price) + parseFloat($(this).attr('data-price'));
                    $('#tarif').text(price.toFixed(2)+'€');
                    $('#tarif').attr('data-price-colour', $(this).attr('data-price'));
                }else{
                    //Si on clique sur la même option
                    //Nettoyage
                    $(this).removeClass('active');
                    $('.recap-colour span').remove();
                    $('#checkout-form input[name=colour-option]').remove();

                    //Retrait du prix de l'option actuel
                    price = parseFloat(price) - parseFloat($(this).attr('data-price'));
                    $('#tarif').attr('data-price-colour', 0);
                    $('#tarif').text(price.toFixed(2)+'€');
                }
            });

            //SAVOUR
            $('.savour').click(function(){
                if(!$(this).hasClass('active')){
                    //Nettoyage
                    $('.savour').removeClass('active');
                    $('.recap-savour span').remove();
                    $('#checkout-form input[name=savour-option]').remove();

                    //Check si une couleur a déjà été sélectionné, si oui, on retire l'ancien prix de l'option en question
                    if(typeof $('#tarif').attr('data-price-savour') !== typeof undefined && $('#tarif').attr('data-price-savour') !== false){
                        price = parseFloat(price) - parseFloat($('#tarif').attr('data-price-savour'));
                    }
                    $(this).addClass('active');
                    $('.recap-savour').append('<span>'+$(this).text()+'</span>');
                    $('#checkout-form').append('<input name="savour-option" value="'+$(this).attr('data-id')+'" type="hidden"/>');

                    //Ajout du prix
                    price = parseFloat(price) + parseFloat($(this).attr('data-price'));
                    $('#tarif').text(price.toFixed(2)+'€');
                    $('#tarif').attr('data-price-savour', $(this).attr('data-price'));
                }else{
                    //Si on clique sur la même option
                    //Nettoyage
                    $(this).removeClass('active');
                    $('.recap-savour span').remove();
                    $('#checkout-form input[name=savour-option]').remove();

                    //Retrait du prix de l'option actuel
                    price = parseFloat(price) - parseFloat($(this).attr('data-price'));
                    $('#tarif').attr('data-price-savour', 0);
                    $('#tarif').text(price.toFixed(2)+'€');
                }
            });

            //TOPPING
            $('.topping').click(function(){
                if(!$(this).hasClass('active')){
                    //Nettoyage
                    $('.topping').removeClass('active');
                    $('.recap-topping span').remove();
                    $('#checkout-form input[name=topping-option]').remove();

                    //Check si une couleur a déjà été sélectionné, si oui, on retire l'ancien prix de l'option en question
                    if(typeof $('#tarif').attr('data-price-topping') !== typeof undefined && $('#tarif').attr('data-price-topping') !== false){
                        price = parseFloat(price) - parseFloat($('#tarif').attr('data-price-topping'));
                    }
                    $(this).addClass('active');
                    $('.recap-topping').append('<span>'+$(this).text()+'</span>');
                    $('#checkout-form').append('<input name="topping-option" value="'+$(this).attr('data-id')+'" type="hidden"/>');

                    //Ajout du prix
                    price = parseFloat(price) + parseFloat($(this).attr('data-price'));
                    $('#tarif').text(price.toFixed(2)+'€');
                    $('#tarif').attr('data-price-topping', $(this).attr('data-price'));
                }else{
                    //Si on clique sur la même option
                    //Nettoyage
                    $(this).removeClass('active');
                    $('.recap-topping span').remove();
                    $('#checkout-form input[name=topping-option]').remove();

                    //Retrait du prix de l'option actuel
                    price = parseFloat(price) - parseFloat($(this).attr('data-price'));
                    $('#tarif').attr('data-price-topping', 0);
                    $('#tarif').text(price.toFixed(2)+'€');
                }
            });

            //SUPPLEMENT
            $('.supplement').click(function(){
                if(!$(this).hasClass('active')){
                    //Nettoyage
                    $('.supplement').removeClass('active');
                    $('.recap-supplement span').remove();
                    $('#checkout-form input[name=supplement-option]').remove();

                    //Check si une couleur a déjà été sélectionné, si oui, on retire l'ancien prix de l'option en question
                    if(typeof $('#tarif').attr('data-price-supplement') !== typeof undefined && $('#tarif').attr('data-price-supplement') !== false){
                        price = parseFloat(price) - parseFloat($('#tarif').attr('data-price-supplement'));
                    }
                    $(this).addClass('active');
                    $('.recap-supplement').append('<span>'+$(this).text()+'</span>');
                    $('#checkout-form').append('<input name="supplement-option" value="'+$(this).attr('data-id')+'" type="hidden"/>');

                    //Ajout du prix
                    price = parseFloat(price) + parseFloat($(this).attr('data-price'));
                    $('#tarif').text(price.toFixed(2)+'€');
                    $('#tarif').attr('data-price-supplement', $(this).attr('data-price'));
                }else{
                    //Si on clique sur la même option
                    //Nettoyage
                    $(this).removeClass('active');
                    $('.recap-supplement span').remove();
                    $('#checkout-form input[name=supplement-option]').remove();

                    //Retrait du prix de l'option actuel
                    price = parseFloat(price) - parseFloat($(this).attr('data-price'));
                    $('#tarif').attr('data-price-supplement', 0);
                    $('#tarif').text(price.toFixed(2)+'€');
                }
            });

            $(document).on('input', '.inscription', function(e) {
                $('.recap-text span').text($(this).val());
                $('#checkout-form input[name=text-option]').remove();
                $('#checkout-form').append('<input name="text-option" value="'+$(this).val()+'" type="hidden"/>');

                //Ajout du prix
                if($(this).val().length > 0){
                    if(!$(this).hasClass('price-active')){
                        $(this).addClass('price-active');
                        price = parseFloat(price) + parseFloat($(this).attr('data-price'));
                        $('#tarif').text(price.toFixed(2)+'€');
                    }
                }else{
                    $(this).removeClass('price-active');
                    price = parseFloat(price) - parseFloat($(this).attr('data-price'));
                    $('#tarif').text(price.toFixed(2)+'€');
                }

            });

            var output = document.querySelectorAll('output')[0];
            var output2 = document.querySelectorAll('output2')[0];
            //Etage factice
            $(document).on('input', '.range1', function(e) {
                output.innerHTML = e.currentTarget.value;
                $('#checkout-form input[name=dummy-stage-option]').remove();
                $('#checkout-form').append('<input name="dummy-stage-option" value="'+$(this).val()+'" type="hidden"/>');
                $('.recap-dummy-stage span').text($(this).val());

                //Ajout du prix
                if(typeof $('#tarif').attr('data-price-dummy-stage') !== typeof undefined && $('#tarif').attr('data-price-dummy-stage') !== false){
                    price = parseFloat(price) - parseFloat($('#tarif').attr('data-price-dummy-stage'));
                }

                //Calcul
                price = parseFloat(price) + (parseFloat($(this).attr('data-price')) * parseFloat($(this).val()));
                $('#tarif').text(price.toFixed(2)+'€');
                $('#tarif').attr('data-price-dummy-stage', parseFloat($(this).attr('data-price')) * parseFloat($(this).val()));
            });

            $(document).on('input', '.range2', function(e) {
                output2.innerHTML = e.currentTarget.value;
                $('#checkout-form input[name=candle-option]').remove();
                $('#checkout-form').append('<input name="candle-option" value="'+$(this).val()+'" type="hidden"/>');
                $('.recap-candle span').text($(this).val());

                //Ajout du prix
                if(typeof $('#tarif').attr('data-candle-stage') !== typeof undefined && $('#tarif').attr('data-candle-stage') !== false){
                    price = parseFloat(price) - parseFloat($('#tarif').attr('data-candle-stage'));
                }

                //Calcul
                price = parseFloat(price) + (parseFloat($(this).attr('data-price')) * parseFloat($(this).val()));
                $('#tarif').text(price.toFixed(2)+'€');
                $('#tarif').attr('data-candle-stage', parseFloat($(this).attr('data-price')) * parseFloat($(this).val()));
            });

            $('input[type=range]').rangeslider({
                polyfill: false
            });

            //when slider changes, hide start message
            $("input").on("change", function() {
                $("small").fadeOut("slow");
            });

            //Gestion de la date
            var result = new Date();
            var date = result.getDate() + ({{ app.session.get('cake_price').cake.duration }} * 7);
            var availableDay = [];
            var days = [];
            {% for day in app.session.get('user_days') %}
            availableDay.push({{ day }});
            {% endfor %}

            for(var i=0; i<=6; i++){
                days.push(i);
            }
            result.setDate(date);
            $('.get-date').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                weekStart: 1,
                startDate: result,
                daysOfWeekDisabled: arr_diff(days,availableDay)
            });
            $(document).on('input', '.get-date', function(e) {
                $('#checkout-form input[name=dummy-stage-option]').remove();
                $('#checkout-form').append('<input name="dummy-stage-option" value="'+$(this).val()+'" type="hidden"/>');
            });

            function arr_diff (a1, a2) {

                var a = [], diff = [];

                for (var i = 0; i < a1.length; i++) {
                    a[a1[i]] = true;
                }

                for (var i = 0; i < a2.length; i++) {
                    if (a[a2[i]]) {
                        delete a[a2[i]];
                    } else {
                        a[a2[i]] = true;
                    }
                }

                for (var k in a) {
                    diff.push(k);
                }

                return diff;
            }

        });
    </script>
{% endblock %}