{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Choisissez votre pâtissier</title>{% endblock %}
{% block body %}

	<section class="banner_area">
		<div class="container">
			<div class="banner_text">
				<h3>Nos pâtissiers</h3>
				<ul>
					<li><a href="{{ path('home') }}">Accueil</a></li>
					<li><a href="{{ path('pastry_chef_list') }}">Nos pâtissiers</a></li>
				</ul>
			</div>
		</div>
	</section>
	<!--================End Main Header Area =================-->

	<!--================Product Area =================-->
	<section class="product_area p_100">
		<div class="container">
			<div class="row product_inner_row">
                {% if users is not empty %}
					{#<div class="col-lg-3">#}
						{#<div class="product_left_sidebar">#}
							{#<aside class="left_sidebar p_catgories_widget">#}
								{#<div class="p_w_title">#}
									{#<h3>Spécialités</h3>#}
								{#</div>#}
								{#<ul class="list_style">#}
                                    {#{% for speciality in speciality_list %}#}
										{#<li><a href="{{ path('pastry_chef_list', {speciality: speciality.id}) }}">{{ speciality.libelle }}</a></li>#}
                                    {#{% endfor %}#}
								{#</ul>#}
							{#</aside>#}
						{#</div>#}
					{#</div>#}
                {% endif %}
				<div class="{% if users is empty %}col-lg-12{% else %}col-lg-12{% endif %}">
					<div class="row m0 product_task_bar">
						<div class="product_task_inner">
						</div>
					</div>
					<div class="row product_item_inner">
                        {% if users is empty %}
							<div class="col-lg-12 col-md-12 col-12" style="text-align: center">
								<p style="font-size: 20px; text-align: center">Hello My Cake n'est pas encore présent sur ce secteur :(</p>
								<p style="font-size: 20px; text-align: center">Vous êtes pâtissier ou souhaitez qu'un pâtissier s'inscrit sur notre plateforme ?</p>
								<a class="link-signup" href="{{ path('signup_pre_pastry_chef') }}">Cliquez-ici</a>
							</div>
                        {% endif %}
                        {% for user in users %}
							<div class="col-lg-4 col-md-4 col-6">
								<div class="cake_feature_item">
									<a href="{{ path('cake_list', {id : user.id}) }}">
										<div class="cake_img">
											<img src="{{ asset(user.picture) }}" alt="">
										</div>
									</a>
									<div class="cake_text">
										<h3>{{ user.raisonSociale | upper }}</h3>
										<p>{{ user.city }}</p>
										<a class="pest_btn" href="{{ path('cake_list', {id : user.id}) }}">Voir mes gâteaux !</a>
									</div>
								</div>
							</div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Area =================-->

{% endblock %}