{% extends ('base.html.twig') %}
{% block title %}<title>Hello My Cake : Vous êtes pâtissière ou pâtissier ?</title>{% endblock %}
{% block body %}
    <!--================End Main Header Area =================-->
    <section class="banner_area">
        <div class="container">
            <div class="banner_text">
                <h3>Vous êtes pâtissière ou pâtissier ?</h3>
                <ul>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Main Header Area =================-->

    <!--================Blog Main Area =================-->
    <section class="main_blog_area p_100">
        <div class="container">
            <div class="row blog_area_inner">
                <div class="col-lg-12">
                    <div class="main_blog_inner single_blog_inner">
                        <div class="blog_item">
                            <div class="blog_text first" style="">
                                <h1>Inscrivez-vous sur Hello My Cake, la plateforme de mise en relation entre pâtissiers et particuliers.</h1>
                                <br>
                                <a class="signup-pastry" href="#" data-toggle="modal" data-target="#signupmodal">Je m'inscris !</a>
                                <p><strong class="big-size">OFFRE DE LANCEMENT </strong> : L'usage de la plateforme est totalement <strong class="big-size">GRATUIT !</strong></p>
                                <div class="row">
                                    <div class="col-lg-6 stats">
                                        <img width="45%" src="{{ asset('img/wedding-cake.png') }}" alt="">
                                        <div class="counting" data-count="200">200</div>
                                        <h5>Nombre de gâteaux</h5>
                                    </div>
                                    <div class="col-lg-6 stats">
                                        <img width="45%" src="{{ asset('img/chef.png') }}" alt="">
                                        <div class="counting" data-count="20">20</div>
                                        <h5>Nombre de pâtissiers professionnels</h5>
                                    </div>
                                </div>                                {#<iframe class="youtube-video" src="https://www.youtube.com/embed/94v6ZKlqjBA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                                {#<img src="{{ asset('img/pastry-register.jpg') }}" style="width: 70%;border-radius: 20px;" alt="">#}
                            </div>
                            <div class="blog_text" style="margin-top: 20px">
                                <h2>Pourquoi Hello My Cake ?</h2>
                                <div style="margin: 20px 0" class="row align-items-center justify-content-center">
                                    <div class="col-sm">
                                        <h3>Plateforme sécurisée</h3>
                                        <p>Vos clients paieront par carte bancaire ou PayPal et le versement se fera le jour J sur votre compte PayPal.
                                        </p>
                                    </div>
                                    <div class="col-sm" style="text-align: center">
                                        <img src="{{ asset('img/security-pastry.png') }}" style="width: 60%;" alt="">
                                    </div>
                                </div>
                                <div style="margin: 20px 0" class="row align-items-center justify-content-center block-pastry-contain-reverse">
                                    <div class="col-sm" style="text-align: center">
                                        <img src="{{ asset('img/catalog-pastry.png') }}" style="width: 60%;" alt="">
                                    </div>
                                    <div class="col-sm">
                                        <h3>Gérer votre catalogue de gâteau de A à Z</h3>
                                        <p>Hello My Cake est un outil parfaitement adapté aux pâtissiers souhaitant vendre des gâteaux en ligne. Son utilisation est très SIMPLE :
                                        <ul>
                                            <li style="list-style: initial; margin-left: 30px">Ajout de gâteau sur-mesure (du cupcake au grand gâteau de mariage)</li>
                                            <li style="list-style: initial; margin-left: 30px">Gestion des tarifs</li>
                                            <li style="list-style: initial; margin-left: 30px">Visualisation des commandes</li>
                                            <li style="list-style: initial; margin-left: 30px">Guide vidéo</li>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                                <div style="margin: 20px 0" class="row align-items-center justify-content-center">
                                    <div class="col-sm">
                                        <h3>Gérer vos disponibilités</h3>
                                        <p>
                                            <strong>Vous travaillez du lundi au vendredi ?</strong><br>
                                            Ceci n’est pas un problème. Vous aurez la possibilité de paramétrer vos jours de travail.
                                            <br>
                                            <strong>Votre gâteau prend 2 semaines à être réalisé ?</strong><br>
                                            Pas de problème ! Chaque gâteau est unique et un client ne pourra pas commander ce gâteau avant 2 semaines.

                                        </p>
                                    </div>
                                    <div class="col-sm" style="text-align: center">
                                        <img src="{{ asset('img/calendar-pastry.png') }}" style="width: 60%;" alt="">
                                    </div>
                                </div>
                                <div style="margin: 20px 0" class="row align-items-center justify-content-center block-pastry-contain-reverse">
                                    <div class="col-sm" style="text-align: center">
                                        <img src="{{ asset('img/visibility-pastry.png') }}" style="width: 60%;" alt="">
                                    </div>
                                    <div class="col-sm">
                                        <h3>Augmenter votre visibilité</h3>
                                        <p>Nous vous mettrons en avant et communiquerons sur vos gâteaux via nos réseaux sociaux. Intégrer la communauté d'Hello My Cake est un synonyme de confiance et de sécurité pour vos clients.</p>
                                    </div>
                                </div>
                                <div style="margin: 20px 0" class="row align-items-center justify-content-center">
                                    <div class="col-sm">
                                        <h3>Visualiser vos commandes</h3>
                                        <p>Chaque commande pourra être visualisé sur votre espace pâtissier en 1 clique. Vous aurez accès à l’ensemble des informations d’une commande ainsi qu'au client associé.</p>
                                    </div>
                                    <div class="col-sm" style="text-align: center">
                                        <img src="{{ asset('img/order-pastry.png') }}" style="width: 60%;" alt="">
                                    </div>
                                </div>
                                <div style="margin: 20px 0" class="row align-items-center justify-content-center block-pastry-contain-reverse">
                                    <div class="col-sm" style="text-align: center">
                                        <img src="{{ asset('img/review-pastry.png') }}" style="width: 60%;" alt="">
                                    </div>
                                    <div class="col-sm">
                                        <h3>Récolter un maximum d’avis</h3>
                                        <p>Après chaque commande, vos clients pourront donner un avis pour vous encourager et mettre en avant votre image. Les avis clients sont un argument de vente majeur qui permettront de vous démarquer.</p>
                                    </div>
                                </div>
                                </div>
                            <a class="signup-pastry" href="#" data-toggle="modal" data-target="#signupmodal">Je m'inscris !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inscription Hello My Cake</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-wrap justify-content-center align-items-center">
                    <img style="width: 160px" src="{{ asset('img/logo-new.png') }}" alt="">
                    <div style="margin: 20px; font-size: 20px; width: 500px;">
                        Rappel : Hello My Cake est ouvert aux pâtissiers professionnels.
                        <br>
                        <br>
                        Confirmez-vous être pâtissier professionnel ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <a href="{{ path('signup_pastry_chef') }}" class="btn btn-pink">Oui, je m'inscris !</a>
                </div>
            </div>
        </div>
    </div>
    <!--================End Blog Main Area =================-->
{% endblock %}

{% block javascripts %}

{% endblock %}