<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="footer_widgets" style="margin: 50px">
        <div class="row footer_wd_inner">
            <div class="col-lg-3 col-6">
                <aside class="f_widget f_about_widget">
                    <img src="{{ asset('img/logo-new.png') | imagine_filter('test') }}" alt="" id="logo-footer">
                    <p style="text-align: justify">HelloMyCake la plateforme qui vous aide à trouver le cake de vos rêves. Pour tous les types de fêtes,
                        nous vous accompagnerons afin de réaliser votre cake et choisir le patissiers qui concrétisera votre souhait.</p>
                    <ul class="nav">
                        <li><a href="https://www.facebook.com/Hello-My-Cake-122913602440210/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/hellomycake.official/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        {#<li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                        {#<li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-6">
                <aside class="f_widget f_link_widget">
                    <div class="f_title">
                        <h3>Commander proche de chez vous</h3>
                    </div>
                    <ul class="list_style">
                        <li>
                            <form action="{{ path('pastry_chef_list') }}" method="post">
                                <input type="hidden" name="localisation" value="5.399377-43.334832">
                                <input style="background-color: transparent; color: white; cursor: pointer;white-space: pre-wrap;" type="submit" value="Commander sur Marseille">
                            </form>
                        </li>
                        <li>
                            <form action="{{ path('pastry_chef_list') }}" method="post">
                                <input type="hidden" name="localisation" value="2.342767-48.863016">
                                <input style="background-color: transparent; color: white; cursor: pointer;white-space: pre-wrap;" type="submit" value="Commander sur Paris">
                            </form>
                        </li>
                        <li>
                            <form action="{{ path('pastry_chef_list') }}" method="post">
                                <input type="hidden" name="localisation" value="5.412496-43.447718">
                                <input style="background-color: transparent; color: white; cursor: pointer;white-space: pre-wrap;" type="submit" value="Commander sur Bouc-Bel-Air">
                            </form>
                        </li>
                        <li>
                            <form action="{{ path('pastry_chef_list') }}" method="post">
                                <input type="hidden" name="localisation" value="5.028575-43.591099">
                                <input style="background-color: transparent; color: white; cursor: pointer;white-space: pre-wrap;" type="submit" value="Commander sur Miramas">
                            </form>
                        </li>
                        <li>
                            <form action="{{ path('pastry_chef_list') }}" method="post">
                                <input type="hidden" name="localisation" value="5.442190-43.529730">
                                <input style="background-color: transparent; color: white; cursor: pointer;white-space: pre-wrap;" type="submit" value="Commander sur Aix-En-Provence">
                            </form>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-2 col-6">
                <aside class="f_widget f_link_widget">
                    <div class="f_title">
                        <h3>Liens utiles</h3>
                    </div>
                    <ul class="list_style">
                        {% if is_granted('ROLE_PASTRY_CHEF') %}
                            <li><a href="{{ path('backoffice_pastry_chef_edit_profil') }}">Mon espace pâtissier</a></li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li><a href="{{ path('backoffice_client_edit_profil') }}">Mon espace client</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_PASTRY_CHEF') or is_granted('ROLE_USER') %}
                            <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}">Se connecter</a></li>
                        {% endif %}
                        <li><a href="{{ path('signup_pre_pastry_chef') }}">Vous êtes pâtissier ?</a></li>
                        <li><a href="{{ path('cgu') }}">CGV</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-2 col-6">
                <aside class="f_widget f_link_widget">
                    <div class="f_title">
                        <h3>Blog</h3>
                    </div>
                    <ul class="list_style">
                        <li><a href="{{ path('why_hello_my_cake') }}">Pourquoi nous ?</a></li>
                        <li><a href="{{ path('blog_wedding_cake') }}">Gâteau de mariage</a></li>
                        <li><a href="{{ path('blog_cake_design') }}">Cake design</a></li>
                        <li><a href="{{ path('blog_number_cake') }}">Number cake</a></li>
                        <li><a href="{{ path('blog_birthday_cake') }}">Gâteau d'anniversaire</a></li>
                        <li><a href="{{ path('blog_night_cake') }}">Gâteau de soirée</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-2 col-6">
                <aside class="f_widget f_contact_widget">
                    <div class="f_title">
                        <h3>Nous contacter</h3>
                    </div>
                    <h4>contact@hellomycake.com</h4>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div class="container">
            <div class="copyright_inner">
                <div class="float-left">
                    <h5>© Copyright 2020 HelloMyCake.com. Tous droits réservés.</h5>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->