<!--================Main Header Area =================-->
<header class="main_header_area">
    <div class="top_header_area row m0">
        <div class="container">
            <div class="float-left">
                <form action="{{ path('pastry_chef_list') }}" method="post">
                    <input type="hidden" name="localisation" value="5.442190-43.529730">
                    <input style="background-color: transparent; color: white; cursor: pointer;text-decoration: underline;margin-top: 10px;white-space: pre-wrap;" type="submit" value="Nouveau ! Plusieurs pâtissiers sont disponibles sur Marseille">
                </form>
            </div>
            <div class="float-right">
                <ul class="h_social list_style">
                    <li><a href="https://www.facebook.com/Hello-My-Cake-122913602440210/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook" style="font-size: 30px;vertical-align: inherit;"></i></a></li>
                    <li><a href="https://www.instagram.com/hellomycake.official/?hl=fr" target="_blank"><i class="fa fa-instagram" style="font-size: 30px;vertical-align: inherit;"></i></a></li>
                    {#<li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
                    {#<li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="main_menu_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="{{ asset('img/logo-new.png') }}" alt="Hello my cake">
                    <img src="{{ asset('img/logo-new2.png') }}" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="my_toggle_menu">
                            	<span></span>
                            	<span></span>
                            	<span></span>
                            </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav justify-content-end">
                        <li class="dropdown submenu">
                            <a style="background-color: #F195B2; color: white;padding: 10px; border-radius: 5px" href="{{ path('client_request_information') }}">Faire une demande</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="navbar-nav justify-content-end">
                        {% if (is_granted('ROLE_PASTRY_CHEF') or is_granted('ROLE_USER')) == false %}
                            <li class="dropdown submenu">
                                <a href="{{ path('signup_pre_pastry_chef') }}">Vous êtes pâtissier ?</a>
                            </li>
                        {% endif %}
                        <li class="dropdown submenu">
                            {% if is_granted('ROLE_PASTRY_CHEF') %}
                                <a href="{{ path('backoffice_pastry_chef_edit_profil') }}">Mon espace pâtissier</a>
                            {% elseif is_granted('ROLE_USER') %}
                                <a href="{{ path('backoffice_client_edit_profil') }}">Mon espace client</a>
                            {% endif %}
                        </li>
                        <li class="dropdown submenu">
                            {% if is_granted('ROLE_PASTRY_CHEF') or is_granted('ROLE_USER') %}
                                <a href="{{ path('logout') }}">Se déconnecter</a>
                            {% else %}
                                <a href="{{ path('login') }}">Se connecter</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!--================End Main Header Area =================-->